<div class="thai" id="profile-mayad">

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center">
            <div>
                <p class="type">ช่างภาพวิดีโองานแต่ง</p>
                <p class="name">Mayad Studios<br/>& Mayad Academy</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">ฟิลิปปินส์</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-12 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-8 col-sm-6">

                <div>
                    <p class="type">ช่างภาพวิดีโองานแต่ง</p>
                    <p class="name">Mayad Studios<br/>& Mayad Academy</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">ฟิลิปปินส์</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>มายาดสตูดิโอ (Mayad Studio) เป็นสตูดิโอที่ถูกขอให้ถ่ายภาพยนตร์ในงานแต่งมากที่สุดแห่งหนึ่งในเอเชีย ก่อตั้งธุรกิจนี้มานานกว่า 10 ปี ซึ่งได้สร้างผลงานที่น่าภาคภูมิใจมาแล้วหลายต่อหลายครั้ง ทั้งการถ่ายภาพวิดีโอในงานแต่งของบุคคลที่มีชื่อเสียงในประเทศฟิลิปปินส์ จากจุดเริ่มต้นอันยากลำบากในเมืองทางตอนใต้ของหมู่เกาะ แต่ชื่อเสียงของสตูดิโอในตอนนี้ดังไปไกลเกินกว่านั้นมาก และปัจจุบันสตูดิโอแห่งนี้มีสาขาอยู่กว่า 10 แห่งทั่วโลก ทั้งเอเชีย, ยุโรป, ไปจนถึงประเทศสหรัฐอเมริกา</p>

            <p>สถาบันมายาด (Mayad Academy) เป็นสถาบันการฝึกอบรมของมายาดสตูดิโอ ตั้งขึ้นในปี 2008 โดยสถาบันมายาดเป็นสถาบันการศึกษาซึ่งมุ่งมั่นที่จะปั้นช่างภาพวิดีโอรุ่นต่อไปในเอเชียด้วยการฝึกอบรมและการประชุมเชิงปฏิบัติการด้านการถ่ายภาพวิดีโอ ซึ่งคอร์สการฝึกอบรมของสถาบันแห่งนี้มักจะเต็มอย่างรวดเร็วหลังจากทีเปิดขายไม่นาน</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>มายาดสตูดิโอ (Mayad Studio) เป็นสตูดิโอที่ถูกขอให้ถ่ายภาพยนตร์ในงานแต่งมากที่สุดแห่งหนึ่งในเอเชีย ก่อตั้งธุรกิจนี้มานานกว่า 10 ปี ซึ่งได้สร้างผลงานที่น่าภาคภูมิใจมาแล้วหลายต่อหลายครั้ง ทั้งการถ่ายภาพวิดีโอในงานแต่งของบุคคลที่มีชื่อเสียงในประเทศฟิลิปปินส์ จากจุดเริ่มต้นอันยากลำบากในเมืองทางตอนใต้ของหมู่เกาะ แต่ชื่อเสียงของสตูดิโอในตอนนี้ดังไปไกลเกินกว่านั้นมาก และปัจจุบันสตูดิโอแห่งนี้มีสาขาอยู่กว่า 10 แห่งทั่วโลก ทั้งเอเชีย, ยุโรป, ไปจนถึงประเทศสหรัฐอเมริกา</p>

            <p>สถาบันมายาด (Mayad Academy) เป็นสถาบันการฝึกอบรมของมายาดสตูดิโอ ตั้งขึ้นในปี 2008 โดยสถาบันมายาดเป็นสถาบันการศึกษาซึ่งมุ่งมั่นที่จะปั้นช่างภาพวิดีโอรุ่นต่อไปในเอเชียด้วยการฝึกอบรมและการประชุมเชิงปฏิบัติการด้านการถ่ายภาพวิดีโอ ซึ่งคอร์สการฝึกอบรมของสถาบันแห่งนี้มักจะเต็มอย่างรวดเร็วหลังจากทีเปิดขายไม่นาน</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-videographer">Mayad Studios</span>
                </p>
                <img data-original="img/profile/ph/mayad/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="พูดคุย กับ Mayad Studios">

                <img class="quote-1 img-responsive center-block" src="img/profile/ph/mayad/quote-1-th.png" width="280" height="224" alt="Mayad Studios's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณเข้ามามีส่วนร่วมต่อการถ่ายภาพวิดีโออย่างไร และเป็นงานใดที่คุณกำลังทำอยู่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ในตอนนั้นเราอายุเพียง 21 ปี จบการศึกษาใหม่มาจากวิทยาลัยแล้วก็เริ่มต้นเปิดมายาดสตูดิโอเลย โดยเราเริ่มจากบริษัทที่ทำงานเกี่ยวกับการออกแบบเว็บและกราฟิก หลังจากนั้นไม่กี่เดือนเราก็ได้รับโอกาสในการสร้างวิดีโอให้กับโรงเรียนแห่งหนึ่ง ซึ่งลูกค้าของเราเห็นแล้วรู้สึกประทับใจจนทำให้เรามั่นใจว่าสามารถเข้ามาอยู่ในธุรกิจภาพวิดีโอได้ และในที่สุดเราก็เข้าสู่วงการจัดงานแต่งงาน ด้วยความหลงใหล ความขยัน และความกระตือรือร้นที่เรามี เราได้สร้างและส่งมอบวิดีโอที่แสดงให้เห็นถึงความคิดสร้างสรรค์อย่างเต็มที่ ซึ่งมาพร้อมการออกแบบอันทันสมัยและมีความหลากหลายทางศิลปะ</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพวิดีโอของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ในฐานะที่เราได้ทำงานในวงการนี้มานานหลายปี เราได้รู้จักกับผู้ผลิตสื่อที่แตกต่างกันไป และได้รับแรงบันดาลใจจากศิลปะทุกแขนง ซึ่งอาจเป็นเอ็มวีเพลง, จิตรกรรม, การโฆษณา, การวาดภาพ ซึ่งสิ่งเหล่านี้มีอิทธิพลอย่างไม่สิ้นสุด มันเป็นความรู้สึกอย่างแรงกล้าที่จะนำแรงบันดาลใจเหล่านั้นมาต่อยอดในการทำงานของเรา</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/ph/mayad/profile_pic-2.jpg" width="611" height="207" alt="พูดคุย กับ Mayad Studios">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพวิดีโอ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เราคาดหวังว่าอุปกรณ์ถ่ายภาพวิดีโอของเราต้องมีน้ำหนักเบาเพื่อใช้งานได้ตลอดเวลา อุปกรณ์เหล่านั้นต้องช่วยเราในการโฟกัสได้ถึงเรื่องราวที่เราต้องการถ่ายทอด มีฟังก์ชั่นการทำงานอันหลากหลายมากขึ้นเพื่อนำเราสู่ความก้าวหน้าของวงการจัดงานแต่งงานที่ไม่ใช่หยุดอยู่แค่ในฟิลิปปินส์ แต่ก้าวสู่ระดับนานาประเทศด้วย</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพวิดีโอในตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ด้วยกล้อง a7 ที่มีขนาดเล็กกะทัดรัด มันช่วยทำให้เราไม่รู้สึกว่ากำลังก้าวก่ายล่วงล้ำผู้อื่นในขณะกำลังถ่ายทำ และไม่ต้องพูดถึงฟังก์ชั่นการทำงานที่มีความจำเป็นต่อการผลิตงานคุณภาพสูง เช่นความละเอียดระดับ 4K, ภาพแบบสโลว์โมชั่น, และมาพร้อมกับความไว ISO สูง</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณรู้สึกอย่างไรกับการเปลี่ยนแปลงของวงการภาพวิดีโอในช่วงปีที่ผ่านมา?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เทรนด์การบันทึกภาพวิดีโอเพิ่งเปลี่ยนแปลงไปอย่างมากเมื่อเร็วๆ นี้นี่เอง มันเป็นเรื่องที่สุดยอดมากที่สามารถถ่ายวิดีโอได้ในน้ำหนักที่เบาหวิวและมีระบบสโลว์โมชั่นที่ทำได้ง่ายๆ เพียงแค่ใช้ขาตั้งธรรมดาๆ หรือไม่ก็ด้วยมือถือ จากกล้องตัวใหญ่โตก็กลายเป็นกล้องและเลนส์ที่เหมาะมือสำหรับช่างถ่ายภาพวิดีโอ เวลาจะเคลื่อนที่ไปไหนต่อไหน การถ่ายภาพวิดีโอโดยทั่วไปจึงมาพร้อมความคิดสร้างสรรค์ที่หลากล้นยิ่งขึ้นทั้งการทำงานและเรื่องราวส่วนตัวในเวลาเดียวกัน และมันก็เป็นเรื่องของการเลือกอุปกรณ์และกล้องที่เหมาะสมซึ่งอยู่บนพื้นฐานของความต้องการถ่ายภาพให้แปลเปลี่ยนเป็นเรื่องราวที่ซ่อนอยู่เบื้องหลังอย่างงดงาม</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณมีคำแนะนำแก่เหล่าช่างภาพวิดีโอมือใหม่ที่เพิ่งเริ่มต้นบ้างไหม?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เราเคยกล่าวไว้แล้วและจะกล่าวต่อไปอีกทุกๆ ครั้งว่า "จงมีแรงบันดาลใจและความใส่ใจ" สร้างเป็นประสบการณ์ใหม่ๆ ที่สามารถทำได้ และเราต้องยอมรับการเปลี่ยนแปลงและซึมซับมันไว้ อย่าหยุดที่จะเรียนรู้และแบ่งปัน ท้าทายตัวเองในทุกๆ วันสู่จุดที่สูงขึ้น และรักในสิ่งที่คุณทำอยู่ ซึ่งทั้งหมดจะประจักษ์อยู่ในผลงานของคุณ</div>
                </div>
                <!-- Q&A 6 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-videographer">Mayad Studios</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/ph/mayad/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="พูดคุย กับ Mayad Studios"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณเข้ามามีส่วนร่วมต่อการถ่ายภาพวิดีโออย่างไร และเป็นงานใดที่คุณกำลังทำอยู่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ในตอนนั้นเราอายุเพียง 21 ปี จบการศึกษาใหม่มาจากวิทยาลัยแล้วก็เริ่มต้นเปิดมายาดสตูดิโอเลย โดยเราเริ่มจากบริษัทที่ทำงานเกี่ยวกับการออกแบบเว็บและกราฟิก หลังจากนั้นไม่กี่เดือนเราก็ได้รับโอกาสในการสร้างวิดีโอให้กับโรงเรียนแห่งหนึ่ง ซึ่งลูกค้าของเราเห็นแล้วรู้สึกประทับใจจนทำให้เรามั่นใจว่าสามารถเข้ามาอยู่ในธุรกิจภาพวิดีโอได้ และในที่สุดเราก็เข้าสู่วงการจัดงานแต่งงาน ด้วยความหลงใหล ความขยัน และความกระตือรือร้นที่เรามี เราได้สร้างและส่งมอบวิดีโอที่แสดงให้เห็นถึงความคิดสร้างสรรค์อย่างเต็มที่ ซึ่งมาพร้อมการออกแบบอันทันสมัยและมีความหลากหลายทางศิลปะ</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพวิดีโอของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ในฐานะที่เราได้ทำงานในวงการนี้มานานหลายปี เราได้รู้จักกับผู้ผลิตสื่อที่แตกต่างกันไป และได้รับแรงบันดาลใจจากศิลปะทุกแขนง ซึ่งอาจเป็นเอ็มวีเพลง, จิตรกรรม, การโฆษณา, การวาดภาพ ซึ่งสิ่งเหล่านี้มีอิทธิพลอย่างไม่สิ้นสุด มันเป็นความรู้สึกอย่างแรงกล้าที่จะนำแรงบันดาลใจเหล่านั้นมาต่อยอดในการทำงานของเรา</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพวิดีโอ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เราคาดหวังว่าอุปกรณ์ถ่ายภาพวิดีโอของเราต้องมีน้ำหนักเบาเพื่อใช้งานได้ตลอดเวลา อุปกรณ์เหล่านั้นต้องช่วยเราในการโฟกัสได้ถึงเรื่องราวที่เราต้องการถ่ายทอด มีฟังก์ชั่นการทำงานอันหลากหลายมากขึ้นเพื่อนำเราสู่ความก้าวหน้าของวงการจัดงานแต่งงานที่ไม่ใช่หยุดอยู่แค่ในฟิลิปปินส์ แต่ก้าวสู่ระดับนานาประเทศด้วย</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพวิดีโอในตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ด้วยกล้อง a7 ที่มีขนาดเล็กกะทัดรัด มันช่วยทำให้เราไม่รู้สึกว่ากำลังก้าวก่ายล่วงล้ำผู้อื่นในขณะกำลังถ่ายทำ และไม่ต้องพูดถึงฟังก์ชั่นการทำงานที่มีความจำเป็นต่อการผลิตงานคุณภาพสูง เช่นความละเอียดระดับ 4K, ภาพแบบสโลว์โมชั่น, และมาพร้อมกับความไว ISO สูง</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณรู้สึกอย่างไรกับการเปลี่ยนแปลงของวงการภาพวิดีโอในช่วงปีที่ผ่านมา?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เทรนด์การบันทึกภาพวิดีโอเพิ่งเปลี่ยนแปลงไปอย่างมากเมื่อเร็วๆ นี้นี่เอง มันเป็นเรื่องที่สุดยอดมากที่สามารถถ่ายวิดีโอได้ในน้ำหนักที่เบาหวิวและมีระบบสโลว์โมชั่นที่ทำได้ง่ายๆ เพียงแค่ใช้ขาตั้งธรรมดาๆ หรือไม่ก็ด้วยมือถือ จากกล้องตัวใหญ่โตก็กลายเป็นกล้องและเลนส์ที่เหมาะมือสำหรับช่างถ่ายภาพวิดีโอ เวลาจะเคลื่อนที่ไปไหนต่อไหน การถ่ายภาพวิดีโอโดยทั่วไปจึงมาพร้อมความคิดสร้างสรรค์ที่หลากล้นยิ่งขึ้นทั้งการทำงานและเรื่องราวส่วนตัวในเวลาเดียวกัน และมันก็เป็นเรื่องของการเลือกอุปกรณ์และกล้องที่เหมาะสมซึ่งอยู่บนพื้นฐานของความต้องการถ่ายภาพให้แปลเปลี่ยนเป็นเรื่องราวที่ซ่อนอยู่เบื้องหลังอย่างงดงาม</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณมีคำแนะนำแก่เหล่าช่างภาพวิดีโอมือใหม่ที่เพิ่งเริ่มต้นบ้างไหม?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เราเคยกล่าวไว้แล้วและจะกล่าวต่อไปอีกทุกๆ ครั้งว่า "จงมีแรงบันดาลใจและความใส่ใจ" สร้างเป็นประสบการณ์ใหม่ๆ ที่สามารถทำได้ และเราต้องยอมรับการเปลี่ยนแปลงและซึมซับมันไว้ อย่าหยุดที่จะเรียนรู้และแบ่งปัน ท้าทายตัวเองในทุกๆ วันสู่จุดที่สูงขึ้น และรักในสิ่งที่คุณทำอยู่ ซึ่งทั้งหมดจะประจักษ์อยู่ในผลงานของคุณ</div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
