<section id="content" class="container-fluid thai">

    <div class="row">

        <div class="col-md-8 col-md-offset-2 col-sm-12">

            {% if lens %}
            <h1 class="text-left center-block">{% autoescape false %}{{title}}{% endautoescape %}</h1>
            {% else %}
            {% endif %}

        </div>

        <div class="clearfix"></div>

        <div class="col-md-8 col-md-offset-2 col-sm-12">

            <div class="video center-block">

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="{{videolink}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>

                <div class="clearfix {% if lens %}hidden{% else %}show{% endif %}">

                    <div class="pull-right">

                        <div class="logo text-right">
                            {% if camera.link %}
                            <a href="{{camera.link['@@country']}}?cid={{camera.name}}:pdp:ilc:ms:videographer:@@country:@@language:photo:cta" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:gallery:{{videographer.nick}}:video:{{camera.name}}:discover', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:gallery:{{videographer.nick}}:video:{{camera.name}}:discover', 'microsite|ilc:videographer:@@country:@@language|gallery|{{videographer.nick}}|video|{{camera.name}}|discover','event50');" target="_blank">
                            {% endif %}
                                <img src="{{camera.logo}}" alt="{{camera.alt}}">
                            {% if camera.link %}
                            </a> {% endif %}

                            {% if camera2.link %}
                            <p>+</p>
                            <a href="{{camera2.link['@@country']}}?cid={{camera2.name}}:pdp:ilc:ms:videographer:@@country:@@language:photo:cta" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:gallery:{{videographer.nick}}:video:{{camera.name}}:discover', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:gallery:{{videographer.nick}}:video:{{camera.name}}:discover', 'microsite|ilc:videographer:@@country:@@language|gallery|{{videographer.nick}}|video|{{camera.name}}|discover','event50');" target="_blank">
                            {% endif %}
                                <img src="{{camera2.logo}}" alt="{{camera2.alt}}">
                            {% if camera2.link %}
                            </a> {% endif %}


                        </div>

                        <p class="text-right">{{specs}}</p>
                    </div>

                    <div class="pull-left">

                        <p class="name">{{videographer.name}}</p>

                        <p class="country">{{videographer.country}}</p>

                        <!-- <div class="logo">
                            <a href="{{camera.link}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:fbLike:video:{{videographer.nick}}:video:{{camera.name}}:discover', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:fbLike:video:{{videographer.nick}}:video:{{camera.name}}:discover', 'microsite|ilc:videographer:@@country:@@language|fbLike|video|{{videographer.nick}}|video|{{camera.name}}|discover','event50');" target="_blank"><img src="{{camera.logo}}" alt="{{camera.alt}}"></a>
                        </div>

                        <p>{{lens.specs1}}</p>

                        <div class="lens">
                            {% if lens.image %}
                            <a href="{{links.lens}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:fbLike:video:{{videographer.nick}}:video:{{lens.model}}:discover', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:fbLike:video:{{videographer.nick}}:video:{{lens.model}}:discover', 'microsite|ilc:videographer:@@country:@@language|fbLike|video|{{videographer.nick}}|video|{{lens.model}}|discover','event50');" target="_blank"><img src="{{lens.image}}" alt="{{alt.lens}}"></a>
                            {% else %}
                            <div class="placeholder hidden-xs hidden-sm"></div>
                            {% endif %}
                        </div>

                        <p>{{lens.specs2}}</p> -->

                    </div>

                    <div class="clearfix"></div>

                    <div>
                        <img src="img/separator-left.png" height="1" width="297" alt="divider">
                    </div>

                    <p class="title nobottomspacing">{% autoescape false %}{{title}}{% endautoescape %}</p>
                    <p class="description">{% autoescape false %}{{description}}{% endautoescape %}</p>

                    <!-- <p class="videographer-name">{{videographer.name}}</p> -->

                    <div class="fb-like text-left" data-href="@@country/@@language/videos/video-{{videographer.nick}}-{{id}}.html" data-colorscheme="dark" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>

                </div>

                <!-- <div class="clearfix sg-kol {% if lens %}show{% else %}hidden{% endif %}">
                    <div class="pull-right">
                        <p class="text-right">{{specs}}</p>
                    </div>
                    <div class="pull-left">
                        <div class="logo">
                            <a href="{{camera.link}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:gallery:{{videographer.nick}}:video:{{camera.name}}:discover', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:gallery:{{videographer.nick}}:video:{{camera.name}}:discover', 'microsite|ilc:videographer:@@country:@@language|gallery|{{videographer.nick}}|video|{{camera.name}}|discover','event50');" target="_blank"><img src="{{camera.logo}}" alt="{{camera.alt}}"></a>
                        </div>

                        <p>+</p>

                        <p>{{lens.specs1}}</p>

                        <div class="lens">
                            {% if lens.img %}
                            <a href="{{lens.link}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:gallery:{{videographer.nick}}:video:{{lens.model}}:discover', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:gallery:{{videographer.nick}}:video:{{lens.model}}:discover', 'microsite|ilc:videographer:@@country:@@language|gallery|{{videographer.nick}}|video|{{lens.model}}|discover','event50');" target="_blank"><img src="{{lens.img}}" alt="{{lens.specs}}"></a>
                            {% else %}
                            <div class="placeholder hidden-xs hidden-sm"></div>
                            {% endif %}
                        </div>
                        <p>{{lens.specs}}</p>
                    </div>
                    <div class="clearfix"></div>
                    <div>
                        <img src="img/separator-left.png" height="1" width="297" alt="divider">
                    </div>
                    <p class="title nobottomspacing">{% autoescape false %}{{title}}{% endautoescape %}</p>
                    <p class="videographer-name">{{videographer.name}}</p>
                    <p class="description">{{description}}</p>

                    <div class="fb-like text-left" data-href="@@country/@@language/videos/video-{{videographer.nick}}-{{id}}.html" data-colorscheme="dark" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>

                </div> -->

            </div>

        </div>

    </div>

</section>
