<div class="thai" id="profile-dusit">

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center">
            <div>
                <p class="type">Production Director</p>
                <p class="name">Dusit Sema-nguen</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Thailand</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-4 col-sm-offset-2">

                <div>
                    <p class="type">Production Director</p>
                    <p class="name">Dusit Sema-nguen</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Thailand</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>ดุสิต เสมาเงิน เป็นช่างภาพนิ่งที่ผันตัวมาเป็นนักถ่ายวิดีโอ เมื่อค้นพบว่ากล้องดิจิตอลถ่ายภาพนิ่งในปัจจุบันสามารถถ่ายภาพเคลื่อนไหวได้ด้วย และการถ่ายทอดผลงานผ่านภาพเคลื่อไหวหรือวิดีโอนั้น ทำให้สามารถถ่ายทอดมุมมองความรู้สึกของตัวเองเข้าไปได้มากขึ้นข้ามขีดจำกัดบางอย่างที่ภาพนิ่งทำไม่ได้</p>

            <p>“คนแต่ละคนเมื่อมองเห็นเหตุการณ์เดียวกัน จะมีความรู้สึกมุมมองที่ต่างกัน บางคนเศร้าเสียใจ บางคนเฉยๆ บางคนโกรธ วิดีโอเปิดโอกาสให้ผมใส่มุมมองความรู้สึกของผมเข้าไปในงานโดยมีเครื่องมือต่างๆ ที่เรียกกันว่าภาษาหนัง ผมสามารถใส่เพลง ใส่คำบรรยาย เคลื่อนไหวกล้อง เกรดสีภาพ ให้เกิดอารมณ์และทำให้คนดูคิดตามผมได้”</p>

            <p>ในช่วงที่มีเหตุการณ์สำคัญต่างๆ ในเมืองไทย ดุสิตได้ใช้กล้องดิจิตอลบันทึกทั้งภาพนิ่งและภาพเคลื่อนไหว จนเริ่มมีผลงานให้ผู้คนเห็นทางโลกออนไลน์มากขึ้น และในที่สุดได้ตัดสินใจทำบริษัทโปรดักชั่น รับผลิตสื่อวิดีโอร่วมกับวรรณสิงห์ ประเสริฐกุล และ พาฝัน รชตสกุล ในชื่อบริษัท โลกแห่งแบบ จำกัด โดยมีผลงานเป็นรายการโทรทัศน์, สารคดี, งานโฆษณา รวมถึงรายการออนไลน์</p>

            <p>เช่น รายการ Thai DNA ที่ต้องออกเดินทางไปทั่วโลกเพื่อสืบหาคนไทยเก่งๆ ในต่างแดน สารคดีมันสำปะหลังซึ่งเป็นภาพยนต์สารคดี 3 ตอนความยางรวม 2 ชั่วโมง ที่ถ่ายทำอย่งพิถีพิถัน ด้วยโจทย์ที่ว่า ทำอย่างไรให้สารคดีการเกษตรมีความน่าสนใจ รายการออนไลน์ Changemakers และ Examnation เป็นรายการที่ถูกนำเสนอในแชนเนลของบริษัทโลกแห่งแบบ ในนาม WOFWOF โดยมีจุดเด่นที่นำเสนอเรื่องราวทางสังคมที่มีความเครียดให้สนุกสนาน โดยนำเสนอการทำงานของคนโปรดักชั่นไปพร้อมๆ กัน </p>

            <p>“ผมอยากให้คนที่ดูงานของผม ได้รู้สึกเหมืนกำลังฟังนักเล่านิทานเก่งๆ คนหนึ่ง ที่ทำให้คนฟังสนุก ตื่นเต้น เสียใจ ไปตามเนื้อเรื่องได้ แต่แตกต่างกันตรงที่แทนที่คนฟังจะต้องนึกจินตนาการภาพเอาเอง ผมจะสร้างภาพเหล่านั้นขึ้นมาเพื่อให้เนื้อเรื่องนั้นๆ สมบูรณ์ขึ้น” 
            </p>

            <p>ทุกวันว่างจากการทำงานที่ใช้กล้องดิจิตอลเป็นเครื่องมือหลัก ดุสิตให้ความสนใจการถ่ายภาพด้วยฟิล์ม นำเอากล้องเก่าๆ มีอายุ 70 - 20 ปี มาใช้ถ่ายภาพ เพื่อหาแรงบันดาลใจในการพัฒนาผลงาน แต่ไม่ลืมที่จะพกกล้องดิจิตอลเพื่อใช้บันทึกภาพวิดีโอด้วยระบบ Slog และนำมาเกรดดิ้ง เป็นผลงานควบคู่ไปกับภาพถ่ายด้วย เนื่องจากเชื่อเหลือเกินว่า วีดีโอสามารถช่วยให้เขาถ่ายทอดเรื่องราวและอารมณ์ถึงคนดูได้มากที่สุด</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LpYBqC6-I-o?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>ดุสิต เสมาเงิน เป็นช่างภาพนิ่งที่ผันตัวมาเป็นนักถ่ายวิดีโอ เมื่อค้นพบว่ากล้องดิจิตอลถ่ายภาพนิ่งในปัจจุบันสามารถถ่ายภาพเคลื่อนไหวได้ด้วย และการถ่ายทอดผลงานผ่านภาพเคลื่อไหวหรือวิดีโอนั้น ทำให้สามารถถ่ายทอดมุมมองความรู้สึกของตัวเองเข้าไปได้มากขึ้นข้ามขีดจำกัดบางอย่างที่ภาพนิ่งทำไม่ได้</p>

            <p>“คนแต่ละคนเมื่อมองเห็นเหตุการณ์เดียวกัน จะมีความรู้สึกมุมมองที่ต่างกัน บางคนเศร้าเสียใจ บางคนเฉยๆ บางคนโกรธ วิดีโอเปิดโอกาสให้ผมใส่มุมมองความรู้สึกของผมเข้าไปในงานโดยมีเครื่องมือต่างๆ ที่เรียกกันว่าภาษาหนัง ผมสามารถใส่เพลง ใส่คำบรรยาย เคลื่อนไหวกล้อง เกรดสีภาพ ให้เกิดอารมณ์และทำให้คนดูคิดตามผมได้”</p>

            <p>ในช่วงที่มีเหตุการณ์สำคัญต่างๆ ในเมืองไทย ดุสิตได้ใช้กล้องดิจิตอลบันทึกทั้งภาพนิ่งและภาพเคลื่อนไหว จนเริ่มมีผลงานให้ผู้คนเห็นทางโลกออนไลน์มากขึ้น และในที่สุดได้ตัดสินใจทำบริษัทโปรดักชั่น รับผลิตสื่อวิดีโอร่วมกับวรรณสิงห์ ประเสริฐกุล และ พาฝัน รชตสกุล ในชื่อบริษัท โลกแห่งแบบ จำกัด โดยมีผลงานเป็นรายการโทรทัศน์, สารคดี, งานโฆษณา รวมถึงรายการออนไลน์</p>

            <p>เช่น รายการ Thai DNA ที่ต้องออกเดินทางไปทั่วโลกเพื่อสืบหาคนไทยเก่งๆ ในต่างแดน สารคดีมันสำปะหลังซึ่งเป็นภาพยนต์สารคดี 3 ตอนความยางรวม 2 ชั่วโมง ที่ถ่ายทำอย่งพิถีพิถัน ด้วยโจทย์ที่ว่า ทำอย่างไรให้สารคดีการเกษตรมีความน่าสนใจ รายการออนไลน์ Changemakers และ Examnation เป็นรายการที่ถูกนำเสนอในแชนเนลของบริษัทโลกแห่งแบบ ในนาม WOFWOF โดยมีจุดเด่นที่นำเสนอเรื่องราวทางสังคมที่มีความเครียดให้สนุกสนาน โดยนำเสนอการทำงานของคนโปรดักชั่นไปพร้อมๆ กัน </p>

            <p>“ผมอยากให้คนที่ดูงานของผม ได้รู้สึกเหมืนกำลังฟังนักเล่านิทานเก่งๆ คนหนึ่ง ที่ทำให้คนฟังสนุก ตื่นเต้น เสียใจ ไปตามเนื้อเรื่องได้ แต่แตกต่างกันตรงที่แทนที่คนฟังจะต้องนึกจินตนาการภาพเอาเอง ผมจะสร้างภาพเหล่านั้นขึ้นมาเพื่อให้เนื้อเรื่องนั้นๆ สมบูรณ์ขึ้น” 
            </p>
            
            <p>ทุกวันว่างจากการทำงานที่ใช้กล้องดิจิตอลเป็นเครื่องมือหลัก ดุสิตให้ความสนใจการถ่ายภาพด้วยฟิล์ม นำเอากล้องเก่าๆ มีอายุ 70 - 20 ปี มาใช้ถ่ายภาพ เพื่อหาแรงบันดาลใจในการพัฒนาผลงาน แต่ไม่ลืมที่จะพกกล้องดิจิตอลเพื่อใช้บันทึกภาพวิดีโอด้วยระบบ Slog และนำมาเกรดดิ้ง เป็นผลงานควบคู่ไปกับภาพถ่ายด้วย เนื่องจากเชื่อเหลือเกินว่า วีดีโอสามารถช่วยให้เขาถ่ายทอดเรื่องราวและอารมณ์ถึงคนดูได้มากที่สุด</p>


            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LpYBqC6-I-o?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-videographer">Dusit</span>
                </p>
                <img data-original="img/profile/th/dusit/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="พูดคุย กับ Dusit">

                <img class="quote-1 img-responsive center-block" src="img/profile/th/dusit/quote-1-th.png" width="312" height="225" alt="Dusit's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณเข้ามามีส่วนร่วมต่อการถ่ายภาพวิดีโออย่างไร และเป็นงานใดที่คุณกำลังทำอยู่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">จากที่เคยมีงานอดิเรกและการทำงานเป็นการถ่ายภาพนิ่งมานาน จนกระทั่งวันที่กล้องดิจิตอลสามารถถ่ายวิดีโอได้ เลยได้ทดลองถ่ายวิดีโอและค้นพบว่า เป็นวิธีการสร้างงานที่มีความแตกต่างและข้ามข้อจำกัดหลายอย่างของภาพนิ่ง จึงหันมาถ่ายวิดีโอด้วยกล้องดิจิตอลอย่างจริงจังแต่ก็เป็นเพียงงานอดิเรกเท่านั้น จนกระทั่งได้มีโอกาสร่วมรายการในฐานะแขกรับเชิญกับรายการโทรทัศน์เชิงสารคดีรายการหนึ่ง และมีโอกาสนำฟุทเทจที่ตัวเองถ่ายเผยแพร่ออกอากาศด้วย จนทำให้ผู้ดำเนินรายการนั้นชวนมาทำงานสารคดีด้วยกัน ก่อนที่จะมาเปิดบริษัท Production House ผลิตสารคดี รายการทีวี และสื่อวิดีโอต่างๆ ด้วยกันในที่สุด</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพวิดีโอของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ช่วงที่ถ่ายงานวิดีโอจริงจังจะใช้ Vimeo.com เป็นพื้นที่ในการอัพโหลดงาน รวมถึงหา referrence และแรงบันดาลใจ จนกระทั่งไปพบกับผลงานของนักสร้างวิดีโอคนหนึ่งชื่อ Paul Wex ซึ่งมีความโดดเด่นในมุมมองการถ่ยภาพ การเกรดดิ้งสี และตัดต่อ นอกเหนือจากนั้น Paul Wex ยังมีความสามารถประพันธ์เพลงเอง จนทำให้ผลงานของ Paul Wex เป็นผลงานที่ลงตัวจากส่วนประกอบต่างๆ ที่มาจากคนคนเดียว เหนืออื่นใดความสามารถในการเสาะหามุมมองอย่างงานบางตัวที่ Paul Wex ถ่ายในเมืองไทย ที่ๆ เราคุ้นตากับมีมุมมองที่แปลกตาได้อย่างไม่น่าเชื่อ </div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/dusit/profile_pic-2.jpg" width="611" height="207" alt="Interview with Dusit">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพวิดีโอ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">อยากให้อุปกรณ์ในงานวิดีโอก้าวข้ามข้อจำกัดต่างๆ จนทำให้ข้อจำกัดเดียวที่เหลืออยู่คือจินตนาการของตัวเราเอง</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพวิดีโอในตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ครั้งแรกที่ได้ใช้กล้องในตระกูล A7 คือตอนที่มีปัญหากับการถ่ายทำสารคดีที่ตองถ่ายโรงงานอุตสาหกรรมในตอนกลางคืน และพบว่ากล้องที่ใช้อยู่ในเวลานั้นมีนอยส์เยอะ คุณภาพของภาพไม่สามารถใช้งานได้จริง เมื่อถ่ายกลางคืน เลยศึกษาและมองหากล้องที่จะทำงานในสภาพแสงน้อยได้จริง ซึ่งก็คือ A7S ซึ่งในเวลานั้นประทับใจกับการถ่ายทำในสภาพแสงน้อยมากๆ ภาพที่ได้มีคุณภาพสูง และต่มาก็พบกับคุณสมบัติเด่นอีกมากมายเช่นการถ่าย Slog 2, Slog 3 ขนาดที่เล็กกระทัดรัด น้ำหนักเบา ยิ่งใน GenII เพิ่มระบบันสั่นในตัวกล้องเข้าไป ทำให้เป็นตัวเลือกในการทำงานที่ดีที่สุด</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณรู้สึกอย่างไรกับการเปลี่ยนแปลงของวงการภาพวิดีโอในช่วงปีที่ผ่านมา?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เทคโนโลยีพัฒนาสูงขึ้นทำให้ข้อจำกัดของนักทำวิดีโอลดลงเป็นอย่างมาก กล้องขนาดใหญ่ในอดีตกลายเป็นกล้องขนาดเเล็กระทัดรัด แต่มีคุณสมบัติที่ดีขึ้นกว่าเดิม และคุณสมบัติเหล่านั้นถูกพัฒนาโดยการรับฟังผู้ใช้งานจริง</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณมีคำแนะนำแก่เหล่าช่างภาพวิดีโอมือใหม่ที่เพิ่งเริ่มต้นบ้างไหม?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ปัจจุบันเทคโนโลยีไปไกลมาก กล้องตัวเล็กๆ มีคุณสมบัติที่เหนือกว่ากล้องใหญ่ๆ ในอดีตมากมาย นอกจากนั้นราคาก็สามารถเอื้อมถึง การเริ่มต้นเป้นนักทำวิดีโอจึงไม่ใช่เรื่องยากอีกต่อไป สำคัญที่ต้องทำความเข้าใจเครื่องมือและเทคโนโลยีเหล่านั้นให้ดี และพัฒนาทักษะการใช้งนให้ควบคู่ไปกับจินตนาการในการสร้างสรรค์งานด้วยเช่นกัน</div>
                </div>
                <!-- Q&A 6 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-videographer">Dusit</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/th/dusit/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="พูดคุย กับ Dusit"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณเข้ามามีส่วนร่วมต่อการถ่ายภาพวิดีโออย่างไร และเป็นงานใดที่คุณกำลังทำอยู่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">จากที่เคยมีงานอดิเรกและการทำงานเป็นการถ่ายภาพนิ่งมานาน จนกระทั่งวันที่กล้องดิจิตอลสามารถถ่ายวิดีโอได้ เลยได้ทดลองถ่ายวิดีโอและค้นพบว่า เป็นวิธีการสร้างงานที่มีความแตกต่างและข้ามข้อจำกัดหลายอย่างของภาพนิ่ง จึงหันมาถ่ายวิดีโอด้วยกล้องดิจิตอลอย่างจริงจังแต่ก็เป็นเพียงงานอดิเรกเท่านั้น จนกระทั่งได้มีโอกาสร่วมรายการในฐานะแขกรับเชิญกับรายการโทรทัศน์เชิงสารคดีรายการหนึ่ง และมีโอกาสนำฟุทเทจที่ตัวเองถ่ายเผยแพร่ออกอากาศด้วย จนทำให้ผู้ดำเนินรายการนั้นชวนมาทำงานสารคดีด้วยกัน ก่อนที่จะมาเปิดบริษัท Production House ผลิตสารคดี รายการทีวี และสื่อวิดีโอต่างๆ ด้วยกันในที่สุด</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพวิดีโอของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ช่วงที่ถ่ายงานวิดีโอจริงจังจะใช้ Vimeo.com เป็นพื้นที่ในการอัพโหลดงาน รวมถึงหา referrence และแรงบันดาลใจ จนกระทั่งไปพบกับผลงานของนักสร้างวิดีโอคนหนึ่งชื่อ Paul Wex ซึ่งมีความโดดเด่นในมุมมองการถ่ยภาพ การเกรดดิ้งสี และตัดต่อ นอกเหนือจากนั้น Paul Wex ยังมีความสามารถประพันธ์เพลงเอง จนทำให้ผลงานของ Paul Wex เป็นผลงานที่ลงตัวจากส่วนประกอบต่างๆ ที่มาจากคนคนเดียว เหนืออื่นใดความสามารถในการเสาะหามุมมองอย่างงานบางตัวที่ Paul Wex ถ่ายในเมืองไทย ที่ๆ เราคุ้นตากับมีมุมมองที่แปลกตาได้อย่างไม่น่าเชื่อ </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพวิดีโอ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">อยากให้อุปกรณ์ในงานวิดีโอก้าวข้ามข้อจำกัดต่างๆ จนทำให้ข้อจำกัดเดียวที่เหลืออยู่คือจินตนาการของตัวเราเอง </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพวิดีโอในตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ครั้งแรกที่ได้ใช้กล้องในตระกูล A7 คือตอนที่มีปัญหากับการถ่ายทำสารคดีที่ตองถ่ายโรงงานอุตสาหกรรมในตอนกลางคืน และพบว่ากล้องที่ใช้อยู่ในเวลานั้นมีนอยส์เยอะ คุณภาพของภาพไม่สามารถใช้งานได้จริง เมื่อถ่ายกลางคืน เลยศึกษาและมองหากล้องที่จะทำงานในสภาพแสงน้อยได้จริง ซึ่งก็คือ A7S ซึ่งในเวลานั้นประทับใจกับการถ่ายทำในสภาพแสงน้อยมากๆ ภาพที่ได้มีคุณภาพสูง และต่มาก็พบกับคุณสมบัติเด่นอีกมากมายเช่นการถ่าย Slog 2, Slog 3 ขนาดที่เล็กกระทัดรัด น้ำหนักเบา ยิ่งใน GenII เพิ่มระบบันสั่นในตัวกล้องเข้าไป ทำให้เป็นตัวเลือกในการทำงานที่ดีที่สุด</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณรู้สึกอย่างไรกับการเปลี่ยนแปลงของวงการภาพวิดีโอในช่วงปีที่ผ่านมา?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เทคโนโลยีพัฒนาสูงขึ้นทำให้ข้อจำกัดของนักทำวิดีโอลดลงเป็นอย่างมาก กล้องขนาดใหญ่ในอดีตกลายเป็นกล้องขนาดเเล็กระทัดรัด แต่มีคุณสมบัติที่ดีขึ้นกว่าเดิม และคุณสมบัติเหล่านั้นถูกพัฒนาโดยการรับฟังผู้ใช้งานจริง</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณมีคำแนะนำแก่เหล่าช่างภาพวิดีโอมือใหม่ที่เพิ่งเริ่มต้นบ้างไหม?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ปัจจุบันเทคโนโลยีไปไกลมาก กล้องตัวเล็กๆ มีคุณสมบัติที่เหนือกว่ากล้องใหญ่ๆ ในอดีตมากมาย นอกจากนั้นราคาก็สามารถเอื้อมถึง การเริ่มต้นเป้นนักทำวิดีโอจึงไม่ใช่เรื่องยากอีกต่อไป สำคัญที่ต้องทำความเข้าใจเครื่องมือและเทคโนโลยีเหล่านั้นให้ดี และพัฒนาทักษะการใช้งนให้ควบคู่ไปกับจินตนาการในการสร้างสรรค์งานด้วยเช่นกัน</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
