<div class="thai" id="profile-pepe">

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center">
            <div>
                <p class="type">ผู้ผลิตภาพยนตร์</p>
                <p class="name">Jose Lorenzo<br/>Pepe Diokno</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">ฟิลิปปินส์</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-4 col-sm-offset-2">

                <div>
                    <p class="type">ผู้ผลิตภาพยนตร์</p>
                    <p class="name">Jose Lorenzo Pepe Diokno</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">ฟิลิปปินส์</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>เปป ดิโอคโน (Pepe Diokno) เป็นหนุ่มไฟแรงที่ได้รับรางวัลผู้ผลิตภาพยนตร์ชาวฟิลิปปินส์ดีเด่นและรางวัลในอีกหลายเวทีจากหลายบทบาทการทำงาน ทั้งผู้กำกับ, ผู้สร้าง, และผู้เขียนบท นอกจากนี้เขายังทำงานคอลัมน์ประจำสัปดาห์ในนิตยสารฟิลิปปินส์สตาร์ในหัวข้อ "Pepe Don’t Preach" และยังร่วมงานกับสำนักข่าวออนไลน์แนวหน้าของฟิลิปปินส์อย่างแรปเปลอร์อยู่บ่อยครั้ง</p>

            <p>ดิโอคโนเป็นคนที่มาจากครอบครัวนักการเมือง แต่เขาค้นพบเส้นทางของเขาในด้านศิลปะการบอกเล่าเรื่องราวในที่สุด โดยภาพยนตร์เปิดตัวเรื่องแรกของเขามีชื่อว่า "Engkwentro" ซึ่งได้รับเสียงชื่นชมเป็นอย่างมากจากเหล่านักวิจารณ์ทั้งในและต่างประเทศ และเป็นภาพยนตร์ที่ได้รับรางวัลมาอย่างมากมายทั้ง รางวัล Cinemalaya Independent Film Festival ปี 2009, รางวัลตัดต่อยอดเยี่ยมในงาน Gawad Urian Awards ปี 2009, รางวัลภาพยนตร์ยอดเยี่ยมในงาน NETPAC Award ปี 2010, รางวัล Jeonju International Film Festival แห่งเอเชีย และที่น่าประทับใจที่สุดคือรางวัลราชสีห์แห่งอนาต หรือ “Luigi de Laurentiis” ในงานเปิดตัวภาพยนตร์ยอดเยี่ยมของ Venice Film Festival ปี 2009</p>

            <p>และจากความสำเร็จในภาพยนตร์ของเขาจึงทำให้เราสร้างภาพยนตร์เรื่องที่ 2 และเป็นม้ามืดที่น่าตื่นเต้นในงาน Tokyo International Film Festival ครั้งที่ 27 ได้อย่างไม่น่าเชื่อ</p>

            <p>ตอนอายุ 23 เขาได้รับรางวัลอันทรงเกียรติ Dangal ng Ani Award จากคณะกรรมการศิลปวัฒนธรรมแห่งชาติสำหรับผลงานที่เขาได้สร้างชื่อเสียงให้แก่วงการภาพยนตร์ในประเทศฟิลิปปินส์ และในช่วงปีเดียวกันนี่เองที่ไพดอน เพรสของประเทศอังกฤษได้จัดให้เขาขึ้นสู่ 1 ใน 100 อนาคตแห่งวงการภาพยนตร์ ในหนังสือที่รวบรวม 100 ผู้สร้างภาพยนตร์หน้าใหม่ที่โดดเด่นที่สุดในโลก</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>เปป ดิโอคโน (Pepe Diokno) เป็นหนุ่มไฟแรงที่ได้รับรางวัลผู้ผลิตภาพยนตร์ชาวฟิลิปปินส์ดีเด่นและรางวัลในอีกหลายเวทีจากหลายบทบาทการทำงาน ทั้งผู้กำกับ, ผู้สร้าง, และผู้เขียนบท นอกจากนี้เขายังทำงานคอลัมน์ประจำสัปดาห์ในนิตยสารฟิลิปปินส์สตาร์ในหัวข้อ "Pepe Don’t Preach" และยังร่วมงานกับสำนักข่าวออนไลน์แนวหน้าของฟิลิปปินส์อย่างแรปเปลอร์อยู่บ่อยครั้ง</p>

            <p>ดิโอคโนเป็นคนที่มาจากครอบครัวนักการเมือง แต่เขาค้นพบเส้นทางของเขาในด้านศิลปะการบอกเล่าเรื่องราวในที่สุด โดยภาพยนตร์เปิดตัวเรื่องแรกของเขามีชื่อว่า "Engkwentro" ซึ่งได้รับเสียงชื่นชมเป็นอย่างมากจากเหล่านักวิจารณ์ทั้งในและต่างประเทศ และเป็นภาพยนตร์ที่ได้รับรางวัลมาอย่างมากมายทั้ง รางวัล Cinemalaya Independent Film Festival ปี 2009, รางวัลตัดต่อยอดเยี่ยมในงาน Gawad Urian Awards ปี 2009, รางวัลภาพยนตร์ยอดเยี่ยมในงาน NETPAC Award ปี 2010, รางวัล Jeonju International Film Festival แห่งเอเชีย และที่น่าประทับใจที่สุดคือรางวัลราชสีห์แห่งอนาต หรือ “Luigi de Laurentiis” ในงานเปิดตัวภาพยนตร์ยอดเยี่ยมของ Venice Film Festival ปี 2009</p>

            <p>และจากความสำเร็จในภาพยนตร์ของเขาจึงทำให้เราสร้างภาพยนตร์เรื่องที่ 2 และเป็นม้ามืดที่น่าตื่นเต้นในงาน Tokyo International Film Festival ครั้งที่ 27 ได้อย่างไม่น่าเชื่อ</p>

            <p>ตอนอายุ 23 เขาได้รับรางวัลอันทรงเกียรติ Dangal ng Ani Award จากคณะกรรมการศิลปวัฒนธรรมแห่งชาติสำหรับผลงานที่เขาได้สร้างชื่อเสียงให้แก่วงการภาพยนตร์ในประเทศฟิลิปปินส์ และในช่วงปีเดียวกันนี่เองที่ไพดอน เพรสของประเทศอังกฤษได้จัดให้เขาขึ้นสู่ 1 ใน 100 อนาคตแห่งวงการภาพยนตร์ ในหนังสือที่รวบรวม 100 ผู้สร้างภาพยนตร์หน้าใหม่ที่โดดเด่นที่สุดในโลก</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-videographer">Pepe</span>
                </p>
                <img data-original="img/profile/ph/pepe/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="พูดคุย กับ Pepe">

                <img class="quote-1 img-responsive center-block" src="img/profile/ph/pepe/quote-1-th.png" width="308" height="359" alt="Pepe's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณเข้ามามีส่วนร่วมต่อการถ่ายภาพวิดีโออย่างไร และเป็นงานใดที่คุณกำลังทำอยู่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">การสร้างภาพยนตร์นั้นเป็นเรื่องที่ผมหลงใหลมาตั้งแต่ผมเรียนอยู่ในโรงเรียนมัธยม ผมเริ่มต้นจากการทำโปรเจคในโรงเรียน และขยับขยายไปสู่การสร้างภาพยนตร์เล็กๆ ด้วยตัวของผมเองเพื่อช่วยเพื่อนๆ เพราะมันคือบางสิ่งบางอย่างที่สามารถบอกเล่าเรื่องราวได้ผ่านเลนส์กล้อง ด้วยภาพและเสียง จนทำให้ผมคลั่งไคล้ ซึ่งบางทีอาจเป็นเพราะอำนาจของภาพยนตร์ที่สามารถเก็บประสบการณ์ในชีวิตของมนุษย์ได้ และทำให้ผู้คนหัวเราะ, ร้องไห้, และทำให้เกิดความคิดและการเรียนรู้ หรือบางทีมันก็อาจเป็นประสบการณ์และวิถีชีวิตของผมที่มีต่อเรื่องราวต่างๆ ที่ผมได้ถ่ายทอดออกมา และทำให้ผมมีชีวิตอยู่ได้อย่างแตกต่าง</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพวิดีโอของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมชอบคำว่า "เส้นทาง" เพราะมันสื่อถีงกระบวนการระหว่างนั้นไม่ใช่ผลที่เกิดขึ้น โดยในเดือนธันวาคมที่ผ่านมาผมได้ร่วมเข้าร่วมในชั้นเรียนปริญญาโทกับตำนานของผู้สร้างภาพยนตร์ชาวอีหร่าน โมห์เซน มาคมัลบาฟ (Mohsen Makhmalbaf) ซึ่งเขาได้เปิดสารคดีในชื่อ "Daddy's Schoool" ให้ชม ซึ่งเป็นวิธีการสอนการสร้างภาพยนตร์ของเขา โดยหนึ่งในบทเรียนแรกของเขาคือการอ่านบทกวี โดยไม่มีเทคนิคกล้องใด แต่ให้อ่านบทกวี! ผมจึงได้เรียนรู้ว่าการเดินทางในเส้นทางของนักถ่ายภาพวิดีโอนั้นคือเส้นทางแห่งการเรียนรู้อย่างต่อเนื่อง เรียนรู้จากประสบการณ์ การสังเกต การใช้ชีวิตประจำวัน ทั้งการเดินทาง, การอ่าน, การฟังเพลง, การดูศิลปะ, ฯลฯ และนั่นก็ทำให้ผมรู้สึกว่าเส้นทางของผมเพิ่งเริ่มต้นเท่านั้นเอง</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/ph/pepe/profile_pic-2.jpg" width="611" height="207" alt="Interview with Pepe">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพวิดีโอ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เรื่องราวนั้นมีอยู่ในทุกๆ ที่ และกล้องของผมควรต้องพร้อมสำหรับการไปยังทุกๆ ที่พร้อมกับผม ไม่ว่าจะเป็นการซุ่มถ่ายภาพในตลาดกลางเมืองอันแสนวุ่นวาย การปีนขึ้นไปเก็บภาพบนยอดเขา หรือการตั้งค่าแบบมืออาชีพร่วมกับแสงไฟและกองถ่ายเต็มอัตรา </div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพวิดีโอในตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผมจริงจังกับการถ่ายภาพในทุกๆ ที่ ผมถ่ายทำทุกอย่างด้วยกล้องตัวนี้ตั้งแต่การเดินทางท่องเที่ยว ไปจนถึงภาพยนตร์สารคดีอินดี้ "Kapatiran" ไปจนถึงรายการโทรทัศน์ "Single/Single" และวิดีโอโฆษณาที่ออกฉายทางโทรทัศน์ มันเป็นอะไรที่เอนกประสงค์มาก มันทั้งเล็กในขนาดที่แขวนบนคอของคุณได้ แต่ภายในนี่สิมันเต็มไปด้วยพลังอันไร้ขีดจำกัดดั่งที่ผมต้องการ โดยสิ่งที่ผมชื่นชอบนั่นคือการทำอย่างไรเพื่อบันทึกภาพได้อย่างยอดเยี่ยมในสภาพแสงที่มีน้อยที่สุด อย่างเช่นพื้นที่กลางแจ้งที่มีเพียงแสงจันทร์ และทำให้ผมยังคงสามารถถ่ายทำภาพยนตร์ได้ นอกจากนี้กล้องยังบันทึกภาพได้ในระดับ 4K พร้อมการตั้งค่าได้อย่างหลากหลาย เช่นภาพช้าหรือการปรับแต่งสีได้ในตัว พร้อมตัวแปลงที่ทำให้ผมสามารถใช้เลนส์ทุกเลนส์ที่ผมต้องการด้วย และการเลือกเลนส์ก็มีส่วนสำคัญต่อการบอกเล่าเรื่องราว โดยผมก็เคยใช้เลนส์ที่แม่ผมซื้อให้เมื่อปี 1980 ซึ่งมันก็ยังใช้งานได้ดี!</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณรู้สึกอย่างไรกับการเปลี่ยนแปลงของวงการภาพวิดีโอในช่วงปีที่ผ่านมา?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">นี่ถือว่าเป็นช่วงวันเวลาที่มีอิสระที่สุดเท่าที่เคยมีมา ด้วยเทคโนโลยีใหม่ได้สร้างให้การถ่ายทำภาพยนตร์เข้าถึงได้กับทุกๆ คน และนั่นเป็นสิ่งที่เยี่ยมยอด เราสามารถบอกเล่าเรื่องราวได้มากขึ้น ได้ลองทำสิ่งใหม่ๆ ได้หลากหลายขึ้น และได้สนุกกับมันมากขึ้น พร้อมด้วยการปรับแต่งได้อย่างหลากหลายและลดสิ่งที่ต้องกังวลลง เหลือเพียงแค่มีความรู้สึกดีๆ ต่อการถ่ายภาพเท่านั้น</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณมีคำแนะนำแก่เหล่าช่างภาพวิดีโอมือใหม่ที่เพิ่งเริ่มต้นบ้างไหม?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เรียนรู้และแสวงหา เพราะการสร้างภาพยนตร์คือการเดินทาง ไม่ใช่จุดหมายปลายทาง และเป็นเรื่องดีเมื่อคุณได้จับกล้องที่ไร้ข้อจำกัด ซึ่งจะเป็นกล้องที่ทำให้คุณเปิดประตูสู่ทุกสิ่งที่เป็นไปได้มากขึ้น สำหรับผมนั้นคือกล้องในตระกูล a7 ที่ทำให้ผมได้เพลิดเพลินไปกับอิสระเสรี ผมแค่หยิบกล้องขึ้นมาถ่ายภาพและสร้างสรรค์สิ่งใหม่ๆ และรับผลลัพย์ที่ยอดเยี่ยมที่สุด</div>
                </div>
                <!-- Q&A 6 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-videographer">Pepe</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/ph/pepe/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="พูดคุย กับ Pepe"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณเข้ามามีส่วนร่วมต่อการถ่ายภาพวิดีโออย่างไร และเป็นงานใดที่คุณกำลังทำอยู่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">การสร้างภาพยนตร์นั้นเป็นเรื่องที่ผมหลงใหลมาตั้งแต่ผมเรียนอยู่ในโรงเรียนมัธยม ผมเริ่มต้นจากการทำโปรเจคในโรงเรียน และขยับขยายไปสู่การสร้างภาพยนตร์เล็กๆ ด้วยตัวของผมเองเพื่อช่วยเพื่อนๆ เพราะมันคือบางสิ่งบางอย่างที่สามารถบอกเล่าเรื่องราวได้ผ่านเลนส์กล้อง ด้วยภาพและเสียง จนทำให้ผมคลั่งไคล้ ซึ่งบางทีอาจเป็นเพราะอำนาจของภาพยนตร์ที่สามารถเก็บประสบการณ์ในชีวิตของมนุษย์ได้ และทำให้ผู้คนหัวเราะ, ร้องไห้, และทำให้เกิดความคิดและการเรียนรู้ หรือบางทีมันก็อาจเป็นประสบการณ์และวิถีชีวิตของผมที่มีต่อเรื่องราวต่างๆ ที่ผมได้ถ่ายทอดออกมา และทำให้ผมมีชีวิตอยู่ได้อย่างแตกต่าง</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพวิดีโอของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมชอบคำว่า "เส้นทาง" เพราะมันสื่อถีงกระบวนการระหว่างนั้นไม่ใช่ผลที่เกิดขึ้น โดยในเดือนธันวาคมที่ผ่านมาผมได้ร่วมเข้าร่วมในชั้นเรียนปริญญาโทกับตำนานของผู้สร้างภาพยนตร์ชาวอีหร่าน โมห์เซน มาคมัลบาฟ (Mohsen Makhmalbaf) ซึ่งเขาได้เปิดสารคดีในชื่อ "Daddy's Schoool" ให้ชม ซึ่งเป็นวิธีการสอนการสร้างภาพยนตร์ของเขา โดยหนึ่งในบทเรียนแรกของเขาคือการอ่านบทกวี โดยไม่มีเทคนิคกล้องใด แต่ให้อ่านบทกวี! ผมจึงได้เรียนรู้ว่าการเดินทางในเส้นทางของนักถ่ายภาพวิดีโอนั้นคือเส้นทางแห่งการเรียนรู้อย่างต่อเนื่อง เรียนรู้จากประสบการณ์ การสังเกต การใช้ชีวิตประจำวัน ทั้งการเดินทาง, การอ่าน, การฟังเพลง, การดูศิลปะ, ฯลฯ และนั่นก็ทำให้ผมรู้สึกว่าเส้นทางของผมเพิ่งเริ่มต้นเท่านั้นเอง</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพวิดีโอ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เรื่องราวนั้นมีอยู่ในทุกๆ ที่ และกล้องของผมควรต้องพร้อมสำหรับการไปยังทุกๆ ที่พร้อมกับผม ไม่ว่าจะเป็นการซุ่มถ่ายภาพในตลาดกลางเมืองอันแสนวุ่นวาย การปีนขึ้นไปเก็บภาพบนยอดเขา หรือการตั้งค่าแบบมืออาชีพร่วมกับแสงไฟและกองถ่ายเต็มอัตรา  </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพวิดีโอในตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผมจริงจังกับการถ่ายภาพในทุกๆ ที่ ผมถ่ายทำทุกอย่างด้วยกล้องตัวนี้ตั้งแต่การเดินทางท่องเที่ยว ไปจนถึงภาพยนตร์สารคดีอินดี้ "Kapatiran" ไปจนถึงรายการโทรทัศน์ "Single/Single" และวิดีโอโฆษณาที่ออกฉายทางโทรทัศน์ มันเป็นอะไรที่เอนกประสงค์มาก มันทั้งเล็กในขนาดที่แขวนบนคอของคุณได้ แต่ภายในนี่สิมันเต็มไปด้วยพลังอันไร้ขีดจำกัดดั่งที่ผมต้องการ โดยสิ่งที่ผมชื่นชอบนั่นคือการทำอย่างไรเพื่อบันทึกภาพได้อย่างยอดเยี่ยมในสภาพแสงที่มีน้อยที่สุด อย่างเช่นพื้นที่กลางแจ้งที่มีเพียงแสงจันทร์ และทำให้ผมยังคงสามารถถ่ายทำภาพยนตร์ได้ นอกจากนี้กล้องยังบันทึกภาพได้ในระดับ 4K พร้อมการตั้งค่าได้อย่างหลากหลาย เช่นภาพช้าหรือการปรับแต่งสีได้ในตัว พร้อมตัวแปลงที่ทำให้ผมสามารถใช้เลนส์ทุกเลนส์ที่ผมต้องการด้วย และการเลือกเลนส์ก็มีส่วนสำคัญต่อการบอกเล่าเรื่องราว โดยผมก็เคยใช้เลนส์ที่แม่ผมซื้อให้เมื่อปี 1980 ซึ่งมันก็ยังใช้งานได้ดี!</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณรู้สึกอย่างไรกับการเปลี่ยนแปลงของวงการภาพวิดีโอในช่วงปีที่ผ่านมา?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">นี่ถือว่าเป็นช่วงวันเวลาที่มีอิสระที่สุดเท่าที่เคยมีมา ด้วยเทคโนโลยีใหม่ได้สร้างให้การถ่ายทำภาพยนตร์เข้าถึงได้กับทุกๆ คน และนั่นเป็นสิ่งที่เยี่ยมยอด เราสามารถบอกเล่าเรื่องราวได้มากขึ้น ได้ลองทำสิ่งใหม่ๆ ได้หลากหลายขึ้น และได้สนุกกับมันมากขึ้น พร้อมด้วยการปรับแต่งได้อย่างหลากหลายและลดสิ่งที่ต้องกังวลลง เหลือเพียงแค่มีความรู้สึกดีๆ ต่อการถ่ายภาพเท่านั้น</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณมีคำแนะนำแก่เหล่าช่างภาพวิดีโอมือใหม่ที่เพิ่งเริ่มต้นบ้างไหม?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เรียนรู้และแสวงหา เพราะการสร้างภาพยนตร์คือการเดินทาง ไม่ใช่จุดหมายปลายทาง และเป็นเรื่องดีเมื่อคุณได้จับกล้องที่ไร้ข้อจำกัด ซึ่งจะเป็นกล้องที่ทำให้คุณเปิดประตูสู่ทุกสิ่งที่เป็นไปได้มากขึ้น สำหรับผมนั้นคือกล้องในตระกูล a7 ที่ทำให้ผมได้เพลิดเพลินไปกับอิสระเสรี ผมแค่หยิบกล้องขึ้นมาถ่ายภาพและสร้างสรรค์สิ่งใหม่ๆ และรับผลลัพย์ที่ยอดเยี่ยมที่สุด</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
