<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-10 col-md-offset-1">

            <div class="videos-content">

                <script id="videos-content" type="text/x-handlebars-template">​

                    {{#each this}}

                        <div id="video-{{id}}" class="video-content center-block">

                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" data-src="{{videolink}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>

                            <div class="clearfix {{#if lens}}hidden{{else}}show{{/if}}">

                                <div class="pull-right">

                                    <div class="logo text-right">
                                        {{#if camera.link}}
                                            <a href="{{#getLink camera}}{{/getLink}}?cid={{{camera.name}}}:pdp:ilc:ms:videographer:@@country:@@language:photo:cta" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:gallery:{{videographer.nick}}:video:{{camera.name}}:discover', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:gallery:{{videographer.nick}}:video:{{camera.name}}:discover', 'microsite|ilc:videographer:@@country:@@language|gallery|{{videographer.nick}}|video|{{camera.name}}|discover','event50');" target="_blank">
                                        {{/if}}
                                            <img src="{{camera.logo}}" alt="{{camera.alt}}">
                                        {{#if camera.link}}
                                        </a> {{/if}}


                                        {{#if camera2.link}}
                                            <p>+</p>
                                            <a href="{{#getLink camera2}}{{/getLink}}{{{camera2.name}}}:pdp:ilc:ms:videographer:@@country:@@language:photo:cta" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:gallery:{{videographer.nick}}:video:{{camera2.name}}:discover', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:gallery:{{videographer.nick}}:video:{{camera2.name}}:discover', 'microsite|ilc:videographer:@@country:@@language|gallery|{{videographer.nick}}|video|{{camera2.name}}|discover','event50');" target="_blank">
                                                <img src="{{camera2.logo}}" alt="{{camera2.alt}}">
                                                </a>
                                        {{/if}}

                                    </div>

                                    <!-- <p>{{specs}}</p> -->
                                </div>

                                <div class="pull-left">

                                    <p class="name">{{videographer.name}}</p>

                                    <p class="country">{{videographer.country}}</p>

                                    <!-- <div class="logo">
                                        <a href="{{camera.link}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:profile:{{videographer.nick}}:video:{{camera.name}}:discover', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:profile:{{videographer.nick}}:video:{{camera.name}}:discover', 'microsite|ilc:videographer:@@country:@@language|profile|{{videographer.nick}}|video|{{camera.name}}|discover','event50');" target="_blank"><img src="{{camera.logo}}" alt="{{camera.alt}}"></a>
                                    </div>

                                    <p>{{lens.specs1}}</p>

                                    <div class="lens">
                                        {{#if lens.image}}
                                            <a href="{{links.lens}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:profile:{{videographer.nick}}:video:{{lens.model}}:discover', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:profile:{{videographer.nick}}:video:{{lens.model}}:discover', 'microsite|ilc:videographer:@@country:@@language|profile|{{videographer.nick}}|video|{{lens.model}}|discover','event50');" target="_blank"><img src="{{lens.image}}" alt="{{alt.lens}}"></a>
                                        {{else}}
                                            <div class="placeholder hidden-xs hidden-sm"></div>
                                        {{/if}}
                                    </div>

                                    <p>{{lens.specs2}}</p> -->

                                </div>

                                <div class="clearfix"></div>

                                <div>
                                    <img src="img/separator-left.png" height="1" width="297" alt="divider">
                                </div>

                                <p class="title">{{{title}}}</p>
                                <p class="description">{{{description}}}</p>

                                <div class="fb-like text-left" data-href="@@country/@@language/videos/video-{{videographer.nick}}-{{id}}.html" data-colorscheme="dark" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>

                            </div>

                            <div class="clearfix sg-kol {{#if lens}}show{{else}}hidden{{/if}}">
                                <div class="pull-right">
                                    <p class="text-right">{{specs}}</p>
                                </div>
                                <div class="pull-left">
                                    <div class="logo">
                                        <a href="{{#getLink camera}}{{/getLink}}?cid={{{camera.name}}}:pdp:ilc:ms:videographer:@@country:@@language:photo:cta" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:gallery:{{videographer.nick}}:video:{{camera.name}}:discover', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:gallery:{{videographer.nick}}:video:{{camera.name}}:discover', 'microsite|ilc:videographer:@@country:@@language|gallery|{{videographer.nick}}|video|{{camera.name}}|discover','event50');" target="_blank"><img src="{{camera.logo}}" alt="{{camera.alt}}"></a>
                                    </div>

                                    <p>+</p>

                                    <!-- <p>{{lens.specs1}}</p> -->

                                    <div class="lens">
                                        {{#if lens.img}}
                                            <a href="{{lens.link}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:gallery:{{videographer.nick}}:video:{{lens.model}}:discover', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:gallery:{{videographer.nick}}:video:{{lens.model}}:discover', 'microsite|ilc:videographer:@@country:@@language|gallery|{{videographer.nick}}|video|{{lens.model}}|discover','event50');" target="_blank"><img src="{{lens.img}}" alt="{{lens.specs}}"></a>
                                        {{else}}
                                            <div class="placeholder hidden-xs hidden-sm"></div>
                                        {{/if}}
                                    </div>
                                    <p>{{lens.specs}}</p>
                                </div>
                                <div class="clearfix"></div>
                                <div>
                                    <img src="img/separator-left.png" height="1" width="297" alt="divider">
                                </div>
                                <p class="title nobottomspacing">{{{title}}}</p>
                                <p class="videographer-name">{{videographer.name}}</p>
                                <p class="description">{{description}}</p>

                                <div class="fb-like text-left" data-href="@@country/@@language/videos/video-{{videographer.nick}}-{{id}}.html" data-colorscheme="dark" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>

                            </div>

                        </div>

                    {{/each}} ​

                </script>

            </div>


            <div class="video-carousel-title hidden-xs hidden-sm">
                @@if (typeof group !== 'undefined' && group === 'yes') {
                    คลิกเพื่อดูผลงานจากช่างภาพวิดีโอ
                } 

                @@if (typeof group === 'undefined' || group !== 'yes') {
                    คลิกเพื่อดูผลงานจากช่างภาพวิดีโอ
                }

            </div>


            <div class="videos-carousel hidden-xs hidden-sm text-center center-block">

                <script id="videos-carousel" type="text/x-handlebars-template">​

                    {{#each this}}

                        <a class="video-carousel hidden-xs hidden-sm" rel="video-gallery" href="#video-{{id}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:profile:{{videographer.nick}}:video', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:profile:{{videographer.nick}}:video', 'microsite|ilc:videographer:@@country:@@language|profile|{{videographer.nick}}|video');">
                            <img data-lazy="img/profile/{{country}}/{{videographer.nick}}/thumb-{{id}}.jpg" class="img-responsive lazy center-block" height="136" width="210" alt="{{{title}}}">
                            <div class="border center-block"></div>
                        </a>

                    {{/each}}

                </script>

            </div>


            <div class="videos-carousel-mobile hidden-md hidden-lg text-center center-block">

                <script id="videos-carousel-mobile" type="text/x-handlebars-template">​

                    {{#each this}}

                        <a class="video-carousel-mobile col-xs-4 hidden-md hidden-lg" rel="video-gallery" href="#video-{{id}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:profile:{{videographer.nick}}:video', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:profile:{{videographer.nick}}:video', 'microsite|ilc:videographer:@@country:@@language|profile|{{videographer.nick}}|video');">
                            <img data-original="img/profile/{{country}}/{{videographer.nick}}/thumb-{{id}}-mobile.jpg" class="img-responsive lazy" height="178" width="180" alt="{{{title}}}">
                        </a>

                    {{/each}}

                </script>

            </div>

            <div class="clearfix"></div>
            <div class="hidden-sm hidden-xs back-to-top" id="th"></div>

        </div>

        <div class="clearfix"></div>
        <div class="space hidden-md hidden-lg">&nbsp;</div>

    </div>

</div>
