<div class="thai" id="profile-rosli">

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center" style="margin-right:300px;">
            <div>
                <p class="type">ช่างภาพวิดีโองานแต่ง + โฆษณา</p>
                <p class="name">Rosli Mohamed</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">มาเลเซีย</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-12 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-6">

                <div>
                    <p class="type">ช่างภาพวิดีโองานแต่ง + โฆษณา</p>
                    <p class="name">Rosli Mohamed</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">มาเลเซีย</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>เขาคือรอสลี มูฮาเหมด (Rosli Mohamend) จากซีเอสทีโปรดักชั่น เขาเริ่มต้นบริษัทนี้มาตั้งแต่เดือนมกราคมปี 2005 และเริ่มต้นการถ่ายภาพวิดีโอจากการเป็นเพียงงานอดิเรก เติบโตจนเข้าสู่งานที่จริงจังที่สามารถสร้างกำไรได้</p>

            <p>ซีเอสทีโปรดักชั่น (CST Production Sdn Bhd.) เป็นบริษัทผู้ให้บริการถ่ายภาพสำหรับงานแต่งงาน, รายการโทรทัศน์, และงานโฆษณาเชิงพาณิชย์ และมีแผนที่จะลงลึกถึงอุตสาหกรรมการถ่ายภาพวิดีโอภายใน 5 ปีข้างหน้านี้</p>

            <p>ภารกิจของเขาในงานถ่ายภาพวิดีโอนั้นคือการนำเสนอสื่อที่มีคุณภาพสูง มีความยืดหยุ่น และที่สำคัญนั้นคือมีราคาไม่แพง เขามีความสุขที่ได้ทำงานอย่างใกล้ชิดกับบริษัทโซนี่ในประเทศมาเลเซีย และใช้กล้องตระกูลโซนี่ α ในการทำงานในโปรเจคต่างๆ ของเขา</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>เขาคือรอสลี มูฮาเหมด (Rosli Mohamend) จากซีเอสทีโปรดักชั่น เขาเริ่มต้นบริษัทนี้มาตั้งแต่เดือนมกราคมปี 2005 และเริ่มต้นการถ่ายภาพวิดีโอจากการเป็นเพียงงานอดิเรก เติบโตจนเข้าสู่งานที่จริงจังที่สามารถสร้างกำไรได้</p>

            <p>ซีเอสทีโปรดักชั่น (CST Production Sdn Bhd.) เป็นบริษัทผู้ให้บริการถ่ายภาพสำหรับงานแต่งงาน, รายการโทรทัศน์, และงานโฆษณาเชิงพาณิชย์ และมีแผนที่จะลงลึกถึงอุตสาหกรรมการถ่ายภาพวิดีโอภายใน 5 ปีข้างหน้านี้</p>

            <p>ภารกิจของเขาในงานถ่ายภาพวิดีโอนั้นคือการนำเสนอสื่อที่มีคุณภาพสูง มีความยืดหยุ่น และที่สำคัญนั้นคือมีราคาไม่แพง เขามีความสุขที่ได้ทำงานอย่างใกล้ชิดกับบริษัทโซนี่ในประเทศมาเลเซีย และใช้กล้องตระกูลโซนี่ α ในการทำงานในโปรเจคต่างๆ ของเขา</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-videographer">Rosli</span>
                </p>
                <img data-original="img/profile/my/rosli/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="พูดคุย กับ Rosli">

                <img class="quote-1 img-responsive center-block" src="img/profile/my/rosli/quote-1-th.png" width="310" height="224" alt="Rosli's quote">

            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณเข้ามามีส่วนร่วมต่อการถ่ายภาพวิดีโออย่างไร และเป็นงานใดที่คุณกำลังทำอยู่?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">เรื่องราวของผมเริ่มต้นขึ้นจากงานอดิเรก ก่อนจะกลายเป็นอาชีพหลักที่ผมสามารถสร้างรายได้จากมันได้ ผมชอบที่จะนำองค์ประกอบความคิดสร้างสรรค์ต่างๆ ใส่ลงไปในเรื่องราวของลูกค้าที่พวกเขารักต่อเรื่องราวเหล่านั้น ผมจึงเริ่มต้นด้วยการทำวิดีโองานแต่งขึ้นในปี 2008 และเริ่มผลิตรายการทีวีและโฆษณาขึ้นต่อจากนั้น แต่ถ้าจะให้พูดจริงๆ แล้วการทำวิดีโองานแต่งก็ยังคงเป็นเรื่องที่ผมหลงใหลมากที่สุดอยู่จนถึงทุกวันนี้</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพวิดีโอของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ผู้มีอิทธิพลต่อแนวคิดในการทำงานของผมมากที่สุดคือฟิลลิป บลูม (Philip Bloom) เพราะผมเป็นแฟนพันธุ์แท้ด้านอุปกรณ์บันทึกวิดีโอและแก็ดเจ็ตต่างๆ ที่เกี่ยวข้อง โดยเฉพาะอย่างยิ่งอุปกรณ์ในการบันทึกวิดีโอที่เหมือนกับที่เขาใช้</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/my/rosli/profile_pic-2.jpg" width="611" height="207" alt="Interview with Rosli">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพวิดีโอ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">อุปกรณ์ที่ใช้จริงๆ ไม่ใช่ปัจจัยหลักในการสร้างสรรค์วิดีโอของผม เพราะผมชอบเนื้อหาของวิดีโอที่ถ่ายทอดออกมามากกว่าเมื่อเปรียบเทียบการใช้อุปกรณ์ อย่างไรก็ตามการใช้อุปกรณ์ที่มีเทคโนโลยีอันทันสมัยก็เป็นประโยชน์มากในการผลิตวิดีโอที่มีคุณภาพสูง และสร้างสรรค์เนื้อหาได้อย่างแข็งแกร่ง</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพวิดีโอในตัวของคุณ?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">กล้องโซนี่ α7 นั้นมีขนาดเล็กแต่คุณภาพสูง สามารถให้คุณภาพในระดับการออกอากาศและเข้ากันกับแก็ตเจ็ดและอุปกรณ์เสริมอื่นๆ ได้เป็นอย่างด</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณรู้สึกอย่างไรกับการเปลี่ยนแปลงของวงการภาพวิดีโอในช่วงปีที่ผ่านมา?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">วงการนี้เกิดการเปลี่ยนแปลงอย่างรวดเร็ว เริ่มจากกล้องออกอากาศตัวใหญ่โตที่มีความละเอียดมาตรฐาน SD มาถึงการออกอากาศแบบ HD และบัดนี้กล้องหลายๆ รุ่นก็เริ่มเข้าสู่ยุคของภาพความละเอียดแบบ 4K แล้วตั้งแต่ปี 2012 ที่ผ่านมา</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">คุณมีคำแนะนำแก่เหล่าช่างภาพวิดีโอมือใหม่ที่เพิ่งเริ่มต้นบ้างไหม?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">ในบรรดาสิ่งจำเป็นทั้งหมดที่ผู้ต้องการเริ่มต้นในอาชีพช่างภาพวิดีโอควรต้องมีนั้น สิ่งสำคัญที่สุดคือความรัก และถ้าหากคุณต้องการผลิตวิดีโอและต้องการทำมันอย่างจริงจังเพื่อให้ผู้คนได้ชื่นชมผลงานที่สร้างขึ้นจนเสร็จสมบูรณ์ ก็ลองค้นหาแก็ดเจ็ตที่ดีและสมบูรณ์แบบที่สุดในการใช้บันทึกภาพวิดีโอร่วมกับความคิดสร้างสรรค์ของคุณโดยไม่ต้องรีรอคำวิจารณ์หรือความคิดจากคนอื่นๆ ที่ไม่ใช่คุณ</div>
                </div>
                <!-- Q&A 6 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">พูดคุย
                    <br/> กับ
                    <span class="intv-videographer">Rosli</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/my/rosli/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="พูดคุย กับ Rosli"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณเข้ามามีส่วนร่วมต่อการถ่ายภาพวิดีโออย่างไร และเป็นงานใดที่คุณกำลังทำอยู่?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">เรื่องราวของผมเริ่มต้นขึ้นจากงานอดิเรก ก่อนจะกลายเป็นอาชีพหลักที่ผมสามารถสร้างรายได้จากมันได้ ผมชอบที่จะนำองค์ประกอบความคิดสร้างสรรค์ต่างๆ ใส่ลงไปในเรื่องราวของลูกค้าที่พวกเขารักต่อเรื่องราวเหล่านั้น ผมจึงเริ่มต้นด้วยการทำวิดีโองานแต่งขึ้นในปี 2008 และเริ่มผลิตรายการทีวีและโฆษณาขึ้นต่อจากนั้น แต่ถ้าจะให้พูดจริงๆ แล้วการทำวิดีโองานแต่งก็ยังคงเป็นเรื่องที่ผมหลงใหลมากที่สุดอยู่จนถึงทุกวันนี้</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">ใครคือบุคคลที่เป็นแรงบันดาลใจในเส้นทางการถ่ายภาพวิดีโอของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ผู้มีอิทธิพลต่อแนวคิดในการทำงานของผมมากที่สุดคือฟิลลิป บลูม (Philip Bloom) เพราะผมเป็นแฟนพันธุ์แท้ด้านอุปกรณ์บันทึกวิดีโอและแก็ดเจ็ตต่างๆ ที่เกี่ยวข้อง โดยเฉพาะอย่างยิ่งอุปกรณ์ในการบันทึกวิดีโอที่เหมือนกับที่เขาใช้</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">อะไรคือสิ่งที่คุณคาดหวังจากอุปกรณ์ถ่ายภาพวิดีโอ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">อุปกรณ์ที่ใช้จริงๆ ไม่ใช่ปัจจัยหลักในการสร้างสรรค์วิดีโอของผม เพราะผมชอบเนื้อหาของวิดีโอที่ถ่ายทอดออกมามากกว่าเมื่อเปรียบเทียบการใช้อุปกรณ์ อย่างไรก็ตามการใช้อุปกรณ์ที่มีเทคโนโลยีอันทันสมัยก็เป็นประโยชน์มากในการผลิตวิดีโอที่มีคุณภาพสูง และสร้างสรรค์เนื้อหาได้อย่างแข็งแกร่ง</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">เหตุใดคุณจึงเลือกใช้ a7 ให้กลายเป็นส่วนหนึ่งของการทำงานและเส้นทางการถ่ายภาพวิดีโอในตัวของคุณ?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">กล้องโซนี่ α7 นั้นมีขนาดเล็กแต่คุณภาพสูง สามารถให้คุณภาพในระดับการออกอากาศและเข้ากันกับแก็ตเจ็ดและอุปกรณ์เสริมอื่นๆ ได้เป็นอย่างดี</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณรู้สึกอย่างไรกับการเปลี่ยนแปลงของวงการภาพวิดีโอในช่วงปีที่ผ่านมา?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">วงการนี้เกิดการเปลี่ยนแปลงอย่างรวดเร็ว เริ่มจากกล้องออกอากาศตัวใหญ่โตที่มีความละเอียดมาตรฐาน SD มาถึงการออกอากาศแบบ HD และบัดนี้กล้องหลายๆ รุ่นก็เริ่มเข้าสู่ยุคของภาพความละเอียดแบบ 4K แล้วตั้งแต่ปี 2012 ที่ผ่านมา</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">คุณมีคำแนะนำแก่เหล่าช่างภาพวิดีโอมือใหม่ที่เพิ่งเริ่มต้นบ้างไหม?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">ในบรรดาสิ่งจำเป็นทั้งหมดที่ผู้ต้องการเริ่มต้นในอาชีพช่างภาพวิดีโอควรต้องมีนั้น สิ่งสำคัญที่สุดคือความรัก และถ้าหากคุณต้องการผลิตวิดีโอและต้องการทำมันอย่างจริงจังเพื่อให้ผู้คนได้ชื่นชมผลงานที่สร้างขึ้นจนเสร็จสมบูรณ์ ก็ลองค้นหาแก็ดเจ็ตที่ดีและสมบูรณ์แบบที่สุดในการใช้บันทึกภาพวิดีโอร่วมกับความคิดสร้างสรรค์ของคุณโดยไม่ต้องรีรอคำวิจารณ์หรือความคิดจากคนอื่นๆ ที่ไม่ใช่คุณ</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
