<div id="profile-dusit">

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center">
            <div>
                <p class="type">Production Director</p>
                <p class="name">Dusit Sema-nguen</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Thailand</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-4 col-sm-offset-2">

                <div>
                    <p class="type">Production Director</p>
                    <p class="name">Dusit Sema-nguen</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Thailand</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Dusit Sema-nguen is a photographer turned videographer. When he discovered that digital still cameras had the capability to record video, he experimented with the format and found that motion pictures could convey ideas and perspectives that still pictures could never do.</p>

            <p>"Each person who sees the same event sees it differently. Some may feel sad, another may react passively and someone else may feel angry. Videos give me the opportunity to put my perspective and feelings to the job. I have many tools to enhance the video experience, adding elements like music, subtitles, animations and color grading to bring out the emotions in a scene and keep the audience engaged.”</p>

            <p>People began to take note of Dusit’s work online when he started documenting major historical events in Thailand with his digital camera, recording both stills and video. Encouraged by his success, he decided to create World of Form, a video production company, together with Wannasingha Prasertkul and Pafhan Rachatakul. The company has since amassed an impressive portfolio of TV shows, documentaries, advertising and online programmes.</p>

            <p>One example is Thai DNA - a programme that goes around the world to interview Thai people who are excelling in their field overseas. There's also Tapioca - a 3-part, 2-hour long documentary with meticulous production values that aims to make agricultural documentaries more interesting. World of Form’s online channel WOFWOF also features shorts like Changemakers and Examination, which features funny stories that relate to the stress of modern society, while giving a behind-the-scenes look at the lives of production crew.</p>

            <p>After working hard on his work assignments that mainly involve the use of digital cameras, Dusit likes to relax by indulging in his hobby of film photography. Using vintage cameras ranging from 20 to 70 years old, he finds new inspiration to refine and improve his skills.</p>

            <p>He never forgets to carry a digital camera with him, shooting and grading videos with slog for his portfolio alongside still photos. He remains convinced that videos are the best way to help him convey his stories and emotions to his audience.</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LpYBqC6-I-o?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Dusit Sema-nguen is a photographer turned videographer. When he discovered that digital still cameras had the capability to record video, he experimented with the format and found that motion pictures could convey ideas and perspectives that still pictures could never do.</p>

            <p>"Each person who sees the same event sees it differently. Some may feel sad, another may react passively and someone else may feel angry. Videos give me the opportunity to put my perspective and feelings to the job. I have many tools to enhance the video experience, adding elements like music, subtitles, animations and color grading to bring out the emotions in a scene and keep the audience engaged.”</p>

            <p>People began to take note of Dusit’s work online when he started documenting major historical events in Thailand with his digital camera, recording both stills and video. Encouraged by his success, he decided to create World of Form, a video production company, together with Wannasingha Prasertkul and Pafhan Rachatakul. The company has since amassed an impressive portfolio of TV shows, documentaries, advertising and online programmes.</p>

            <p>One example is Thai DNA - a programme that goes around the world to interview Thai people who are excelling in their field overseas. There's also Tapioca - a 3-part, 2-hour long documentary with meticulous production values that aims to make agricultural documentaries more interesting. World of Form’s online channel WOFWOF also features shorts like Changemakers and Examination, which features funny stories that relate to the stress of modern society, while giving a behind-the-scenes look at the lives of production crew.</p>

            <p>After working hard on his work assignments that mainly involve the use of digital cameras, Dusit likes to relax by indulging in his hobby of film photography. Using vintage cameras ranging from 20 to 70 years old, he finds new inspiration to refine and improve his skills.</p>

            <p>He never forgets to carry a digital camera with him, shooting and grading videos with slog for his portfolio alongside still photos. He remains convinced that videos are the best way to help him convey his stories and emotions to his audience.</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LpYBqC6-I-o?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-videographer">Dusit</span>
                </p>
                <img data-original="img/profile/th/dusit/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Interview with Dusit">

                <img class="quote-1 img-responsive center-block" src="img/profile/th/dusit/quote-1.png" width="301" height="245" alt="Dusit's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How did you get involved in videography and the kind of work that you are doing?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I used to shoot stills as a hobby for a long time until I got a digital camera and tried shooting videos. I found it to be a way to create a different type of work which allowed me to overcome many of the limitations of stills. So, I began to shoot videos more seriously. It was just a hobby at first until I had the opportunity to participate as a guest in a television documentary, shooting footage for broadcast. The moderator invited me to work on another documentary together, which eventually led to us opening a production house that now produces documentaries, TV shows and other video media.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Who are the biggest influences in your videography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">For my video shoots, I look to the works uploaded to Vimeo.com for reference and inspiration, as well as to upload my own videos. I discovered the work of a video creator named Paul Wex, who does top-notch work in video framing, color grading and editing. Paul also composes his own music. His work combines different elements to form a perfect work of art. Paul Wex's shots of Thailand also bring a new perspective to the familiar views of the country that we are so accustomed to.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/dusit/profile_pic-2.jpg" width="611" height="207" alt="Interview with Dusit">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What are your expectations of your videography equipment?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I want a piece of video equipment that will help me to break all physical limits. As for the rest, it's up to our imagination!</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Why did you choose the a7 series to be part of your work and personal videography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">The first time I used a camera from the A7 family was when I was having trouble fliming a documentary in an industrial area late at night. The camera i was using had a lot of issues, resulting in footage that was poor in quality and had a lot of noise. So i researched and looked for a camera that could perform well in low light conditions, which led me to the A7S. I was impressed with its shooting in very low light conditions. It delivered high quality images and had many features such as Slog 2 and Slog 3. Plus, its lightweight frame and increased stabilisation makes it the best work camera option for me.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How do you feel videography has changed in the last few years?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Technological advancements have reduced the limitations for video makers. The big, bulky cameras of the past are now more compact, with better features than ever -  which have been developed by listening to real users.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Do you have any advice for videographers who are just starting out?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Technology has come very far. Many great features are now available at an affordable price point. Getting started as a videographer is no longer difficult in terms of acquiring equipment. That said, it's important to have a good understanding of how we can use these tools and technologies, developing technical skills to work alongside our imagination to create the best work possible.</div>
                </div>
                <!-- Q&A 6 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-videographer">Dusit</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/th/dusit/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Dusit"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How did you get involved in videography and the kind of work that you are doing?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I used to shoot stills as a hobby for a long time until I got a digital camera and tried shooting videos. I found it to be a way to create a different type of work which allowed me to overcome many of the limitations of stills. So, I began to shoot videos more seriously. It was just a hobby at first until I had the opportunity to participate as a guest in a television documentary, shooting footage for broadcast. The moderator invited me to work on another documentary together, which eventually led to us opening a production house that now produces documentaries, TV shows and other video media.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Who are the biggest influences in your videography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">For my video shoots, I look to the works uploaded to Vimeo.com for reference and inspiration, as well as to upload my own videos. I discovered the work of a video creator named Paul Wex, who does top-notch work in video framing, color grading and editing. Paul also composes his own music. His work combines different elements to form a perfect work of art. Paul Wex's shots of Thailand also bring a new perspective to the familiar views of the country that we are so accustomed to.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What are your expectations of your videography equipment?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I want a piece of video equipment that will help me to break all physical limits. As for the rest, it's up to our imagination!</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Why did you choose the a7 series to be part of your work and personal videography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">The first time I used a camera from the A7 family was when I was having trouble fliming a documentary in an industrial area late at night. The camera i was using had a lot of issues, resulting in footage that was poor in quality and had a lot of noise. So i researched and looked for a camera that could perform well in low light conditions, which led me to the A7S. I was impressed with its shooting in very low light conditions. It delivered high quality images and had many features such as Slog 2 and Slog 3. Plus, its lightweight frame and increased stabilisation makes it the best work camera option for me.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How do you feel videography has changed in the last few years?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Technological advancements have reduced the limitations for video makers. The big, bulky cameras of the past are now more compact, with better features than ever -  which have been developed by listening to real users.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Do you have any advice for videographers who are just starting out?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Technology has come very far. Many great features are now available at an affordable price point. Getting started as a videographer is no longer difficult in terms of acquiring equipment. That said, it's important to have a good understanding of how we can use these tools and technologies, developing technical skills to work alongside our imagination to create the best work possible.</div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
