<div id="profile-rosli">

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center" style="margin-right:300px;">
            <div>
                <p class="type">Wedding + Commercial Videographer</p>
                <p class="name">Rosli Mohamed</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Malaysia</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-12 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-6">

                <div>
                    <p class="type">Wedding + Commercial Videographer</p>
                    <p class="name">Rosli Mohamed</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Malaysia</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>I’m Rosli Mohamed from CST Production. I started the company in January 2005, and have turned it from a hobby into something profitable.</p>

            <p>CST Production Sdn Bhd provides shooting for weddings, TV programmes and commercial videos. I plan to get deep into the videography industry in the next 5 years.</p>

            <p>My mission in videography is to offer a high quality product, both flexible and affordable. I’m happy to work closely with Sony Malaysia as I’ve been using the Sony α camera series in my projects.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>I’m Rosli Mohamed from CST Production. I started the company in January 2005, and have turned it from a hobby into something profitable.</p>

            <p>CST Production Sdn Bhd provides shooting for weddings, TV programmes and commercial videos. I plan to get deep into the videography industry in the next 5 years.</p>

            <p>My mission in videography is to offer a high quality product, both flexible and affordable. I’m happy to work closely with Sony Malaysia as I’ve been using the Sony α camera series in my projects.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-videographer">Rosli</span>
                </p>
                <img data-original="img/profile/my/rosli/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Interview with Rosli">

                <img class="quote-1 img-responsive center-block" src="img/profile/my/rosli/quote-1.png" width="288" height="270" alt="Rosli's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How do you get involved in videography and the kind of work that you are doing?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">It started as a hobby and turned into a professional career where I can earn money from it. I love to put a creative element in my client’s love story so I started with wedding video making. In 2008 I started producing TV programmes and commercials. But still my passion is in wedding video making.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Who are the biggest influences in your videography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">The biggest influence in my career is Philip Bloom. It is because I was a fan of video equipment and any gadgets that related to it. Especially in the production of a video, just like him.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/my/rosli/profile_pic-2.jpg" width="611" height="207" alt="Interview with Rosli">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What are your expectations of your videography equipment?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">The equipment used isn’t a main factor in the making of a video to me, I prefer good video content in comparison to equipment. However, the existence of sophisticated equipment and technology is very helpful to produce a high quality video with a solid content.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Why did you choose the a7 series to be part of your work and personal videography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">The Sony a7 camera is small, high quality, has broadcast format and is compatible with gadgets and other equipment.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How do you feel videography has changed in the last few years?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">It changed so fast, from a big broadcast standard definition camera, to broadcast HD and, many cameras started having 4K image quality from 2012.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Do you have advice for videographers just starting out?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Those who want to start a new career as a videographer, what matters most is passion. If you want to produce a video, do it seriously so that the public can admire the result of your final product. Search for the perfect and best gadget for video use and go on with your ideas without waiting for others to realise your ideas.</div>
                </div>
                <!-- Q&A 6 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-videographer">Rosli</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/my/rosli/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Rosli"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How do you get involve in videography and what kind of work that you are doing?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">It started as a hobby and turned into a professional career where I can earn money from it. I love to put a creative element in my client’s love story so I started with wedding video making. In 2008 I started producing TV programmes and commercials. But still my passion is in wedding video making.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Who are the biggest influences in your videography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">The biggest influence in my career is Philip Bloom. It is because I was a fan of video equipment and any gadgets that related to it. Especially in the production of a video, just like him.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What are your expectations of your videography equipment?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">The equipment used isn’t a main factor in the making of a video to me, I prefer good video content in comparison to equipment. However, the existence of sophisticated equipment and technology is very helpful to produce a high quality video with a solid content.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Why did you choose the a7 series to be part of your work and personal videography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">The Sony a7 camera is small, high quality, has broadcast format and is compatible with gadgets and other equipment.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How do you feel videography has changed in the last few years?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">It changed so fast, from a big broadcast standard definition camera, to broadcast HD and, many cameras started having 4K image quality from 2012.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Do you have advice for videographers just starting out?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Those who want to start a new career as a videographer, what matters most is passion. If you want to produce a video, do it seriously so that the public can admire the result of your final product. Search for the perfect and best gadget for video use and go on with your ideas without waiting for others to realise your ideas.</div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
