<section id="content" class="container-fluid">
    <div class="row">
        <div class="col-sm-12 hidden-md hidden-lg drop-downs">

            <select id="filter">
                <option value="" selected disabled>SELECT FILTER</option>

                <option value="camera">Camera Model</option>
                <option value="kol">Videographer</option>
                <option value="category">Category</option>
                <option value="media">Media</option>
            </select>

            <div class="divider drop-down-divider hidden">
                <img src="img/profile/divider-white.png" alt="" width="301" height="2">
            </div>

            <select id="kol" class="hidden">
                <option value="" selected disabled>SELECT VIDEOGRAPHER</option>

                <!-- <optgroup label="Indonesia">
                    <option value="benny">Benny Lim</option>
                    <option value="glenn">Glenn Prasetya</option>
                    <option value="nicoline">Nicoline Patricia Malina</option>
                </optgroup> -->

                <optgroup label="Malaysia">
                    <option value="rosli">Rosli Mohamed</option>
                </optgroup>

                <optgroup label="Philippines">
                    <option value="pepe">Pepe Diokno</option>
                    <option value="mayad">Mayad Studios</option>
                </optgroup>

                <optgroup label="Thailand">
                    <!-- <option id="option-kriengkrai" value="kriengkrai">Kriengkrai Waiyakij</option> -->
                    <option id="option-dusit" value="dusit">Dusit Sema-nguen</option>
                </optgroup>

                <!-- <optgroup label="Singapore">
                    <option value="bryan">Bryan van der Beek</option>
                    <option value="chester">Chester Chen</option>
                    <option value="darren">Darren Soh</option>
                    <option value="edward">Edward Tian</option>
                    <option value="kelvin">Kelvin Koh</option>
                </optgroup>


                <optgroup label="Vietnam">
                    <option id="option-nguyen" value="nguyen">Nguyen Thanh Tung</option>
                </optgroup> -->
            </select>

            <select id="category" class="hidden">
                <option value="" selected disabled>SELECT CATEGORY</option>

               <!--  <option value="architectural">Architectural</option>
                <option value="cityscape">Cityscape</option> -->
                <option value="commercial">Commercial</option>
                <option value="film">Film</option>
                <!-- <option value="documentary">Documentary</option>
                <option value="editorial">Editorial</option>
                <option value="fashion">Fashion</option>
                <option value="landscape">Landscape</option>
                <option value="lifestyle">Lifestyle</option>
                <option value="portrait">Portrait</option>
                <option value="street">Street</option>
                <option value="travel">Travel</option> -->
                <option value="wedding">Wedding</option>
            </select>

            <select id="camera" class="hidden">
                <option value="" selected disabled>SELECT CAMERA MODEL</option>

                <option value="ILCE-7">&alpha;7</option>
                <option value="ILCE-7M2">&alpha;7II</option>
                <!-- <option value="ILCE-7R">&alpha;7R</option>
                <option value="ILCE-7RM2">&alpha;7RII</option> -->
                <option value="ILCE-7S">&alpha;7S</option>
                <option value="ILCE-7SM2">&alpha;7SII</option>
               <!--  <option value="SLT-A99V">&alpha;99</option> -->
            </select>

            <select id="media" class="hidden">
                <option value="" selected disabled>SELECT MEDIA</option>

                <option value="hd">HD</option>
                <option value="4k">4K</option>
            </select>

            <div class="divider">
                <img src="img/profile/divider-white.png" alt="" width="301" height="2">
            </div>

        </div>

        <div class="clearfix"></div>
        <div class="col-md-8 col-md-offset-2">

            <div class="row max-width marginBottom center-block">

                <div class="col-sm-12 navbar navbar-inverse">
                    <h1 class="text-center">Gallery</h1>
                    <button type="button" class="navbar-toggle collapsed hidden-xs hidden-sm" data-toggle="collapse" data-target=".filters">
                        <p>Filter</p>
                        <span class="glyphicon glyphicon-menu-down"></span>
                        <!-- <span class="icon-bar"></span> -->
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- <div class="col-sm-12 marginBottom"> -->
        <div class="text-center filters navbar-collapse collapse" role="navigation" aria-expanded="false">
            <div class="filters-wrapper center-block">
                <table>

                    <tr>
                        <th>Videographer</th>
                        <th>Category</th>
                        <th>Camera Model</th>
                        <th>Media</th>
                        <!--
                        <th class="hidden-xs hidden-sm">Category</th>
                        <th class="hidden-xs hidden-sm">Camera Model</th> -->
                    </tr>

                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <table>
                                            <tr>
                                                <td class="country" colspan="2">Malaysia
                                                    <div>
                                                        <img src="img/filter_divider.png" height="1" width="126" alt="">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="checkbox-cell">
                                                    <input type="checkbox" name="videographer" id="cell-rosli" value="rosli">
                                                </td>
                                                <td class="label-cell">
                                                    <label for="cell-rosli">Rosli Mohamed
                                                        <!-- <br class="hidden-sm hidden-md hidden-lg" />Beek</label> -->
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td class="no-padding-top no-padding-bottom">
                                                    <table>
                                                        <tr>
                                                            <td class="country" colspan="2">Philippines
                                                                <div>
                                                                    <img src="img/filter_divider.png" height="1" width="126" alt="">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="videographer" id="cell-pepe" value="pepe">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-pepe">Pepe Diokno</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="videographer" id="cell-mayad" value="mayad">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-mayad">Mayad Studios</label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                <td class="no-padding-top no-padding-bottom">
                                                    <table>
                                                        <tr>
                                                            <td class="country" colspan="2">Indonesia
                                                                <div>
                                                                    <img src="img/filter_divider.png" height="1" width="126" alt="">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="videographer" id="cell-benny" value="benny">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-benny">Benny Lim</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="videographer" id="cell-glenn" value="glenn">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-glenn">Glenn Prasetya</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="videographer" id="cell-nicoline" value="nicoline">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-nicoline">Nicoline Patricia
                                                                    <br class="hidden-sm hidden-md hidden-lg" />Malina</label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr> -->
                                        </table>
                                    </td>
                                    <!-- <td class="hidden-xs"> -->
                                    <td>
                                        <table>
                                            <tr>
                                                <td class="no-padding-top no-padding-bottom">
                                                    <table>
                                                        <tr>
                                                            <td class="country" colspan="2">Thailand
                                                                <div>
                                                                    <img src="img/filter_divider.png" height="1" width="126" alt="">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="videographer" id="cell-dusit" value="dusit">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-dusit">Dusit Sema-nguen</label>
                                                            </td>
                                                        </tr>
                                                        <!-- <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="videographer" id="cell-kriengkrai" value="kriengkrai">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-kriengkrai">Kriengkrai
                                                                    <br class="hidden-sm hidden-md hidden-lg" />Waiyakij</label>
                                                            </td>
                                                        </tr> -->
                                                    </table>
                                                </td>
                                            </tr>
                                            <!-- <tr>
                                                <td class="no-padding-top no-padding-bottom">
                                                    <table>
                                                        <tr>
                                                            <td class="country" colspan="2">Philippines
                                                                <div>
                                                                    <img src="img/filter_divider.png" height="1" width="126" alt="">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="videographer" id="cell-manny" value="manny">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-manny">Manny Librodo</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="videographer" id="cell-pilar" value="pilar">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-pilar">Pilar Trigo Bonnin</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="country" colspan="2">Vietnam
                                                                <div>
                                                                    <img src="img/filter_divider.png" height="1" width="126" alt="">
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="checkbox-cell">
                                                                <input type="checkbox" name="videographer" id="cell-nguyen" value="nguyen">
                                                            </td>
                                                            <td class="label-cell">
                                                                <label for="cell-nguyen">Nguyen Thanh Tung</label>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr> -->
                                        </table>
                                    </td>
                                </tr>

                            </table>
                        </td>
                        <!-- <td class="hidden-xs hidden-sm"> -->
                        <td>
                            <table>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-commercial" value="commercial">
                                    </td>
                                    <td>
                                        <label for="cell-commercial">Commercial</label>
                                    </td>
                                    <!-- <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-landscape" value="landscape">
                                    </td>
                                    <td>
                                        <label for="cell-landscape">Landscape</label>
                                    </td> -->
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-film" value="film">
                                    </td>
                                    <td>
                                        <label for="cell-film">Film</label>
                                    </td>
                                    <!-- <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-lifestyle" value="lifestyle">
                                    </td>
                                    <td>
                                        <label for="cell-lifestyle">Lifestyle</label>
                                    </td> -->
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-wedding" value="wedding">
                                    </td>
                                    <td>
                                        <label for="cell-wedding">Wedding</label>
                                    </td>
                                    <!-- <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-portrait" value="portrait">
                                    </td>
                                    <td>
                                        <label for="cell-portrait">Portrait</label>
                                    </td> -->
                                </tr>
                                <!-- <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-documentary" value="documentary">
                                    </td>
                                    <td>
                                        <label for="cell-documentary">Documentary</label>
                                    </td>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-street" value="street">
                                    </td>
                                    <td>
                                        <label for="cell-street">Street</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-editorial" value="editorial">
                                    </td>
                                    <td>
                                        <label for="cell-editorial">Editorial</label>
                                    </td>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-travel" value="travel">
                                    </td>
                                    <td>
                                        <label for="cell-travel">Travel</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-fashion" value="fashion">
                                    </td>
                                    <td>
                                        <label for="cell-fashion">Fashion</label>
                                    </td>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="category" id="cell-wedding" value="wedding">
                                    </td>
                                    <td>
                                        <label for="cell-wedding">Wedding</label>
                                    </td>
                                </tr> -->
                            </table>
                        </td>
                        <!-- <td class="hidden-xs hidden-sm"> -->
                        <td>
                            <table>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="camera" id="cell-ILCE-7" value="ILCE-7">
                                    </td>
                                    <td>
                                        <label for="cell-ILCE-7"><img src="img/filter_a7.png" height="12" width="30" alt="α7"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="camera" id="cell-ILCE-7M2" value="ILCE-7M2">
                                    </td>
                                    <td>
                                        <label for="cell-ILCE-7M2"><img src="img/filter_a7ii.png" height="12" width="37" alt="α7II"></label>
                                    </td>
                                </tr>
                               <!--  <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="camera" id="cell-ILCE-7R" value="ILCE-7R">
                                    </td>
                                    <td>
                                        <label for="cell-ILCE-7R"><img src="img/filter_a7r.png" height="12" width="38" alt="α7R"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="camera" id="cell-ILCE-7RM2" value="ILCE-7RM2">
                                    </td>
                                    <td>
                                        <label for="cell-ILCE-7RM2"><img src="img/filter_a7rii.png" height="12" width="45" alt="α7RII"></label>
                                    </td>
                                </tr> -->
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="camera" id="cell-ILCE-7S" value="ILCE-7S">
                                    </td>
                                    <td>
                                        <label for="cell-ILCE-7S"><img src="img/filter_a7s.png" height="12" width="36" alt="α7S"></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="camera" id="cell-ILCE-7SM2" value="ILCE-7SM2">
                                    </td>
                                    <td>
                                        <label for="cell-ILCE-7SM2"><img src="img/filter_a7sii.png" height="12" width="43" alt="α7SII"></label>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="camera" id="cell-SLT-A99V" value="SLT-A99V">
                                    </td>
                                    <td>
                                        <label for="cell-SLT-A99V"><img src="img/filter_a99.png" height="15" width="46" alt="α99"></label>
                                    </td>
                                </tr> -->
                            </table>
                        </td>

                        <td>
                            <table>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="media" id="cell-hd" value="hd">
                                    </td>
                                    <td>
                                        <label for="cell-hd">HD</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="checkbox-cell">
                                        <input type="checkbox" name="media" id="cell-4k" value="4k">
                                    </td>
                                    <td>
                                        <label for="cell-4k">4K</label>
                                    </td>
                                </tr>
                            </table>
                        </td>

                    </tr>
                </table>
                <a href="#" class="clear">CLEAR ALL</a>
            </div>
            <a href="#" class="toggle hidden-xs hidden-sm">
                <div>
                    <img class="up" src="img/filter_arrow_up.png" height="10" width="21" alt="">
                </div>
                FILTER
                <div>
                    <img class="down" src="img/filter_arrow_down.png" height="10" width="21" alt="">
                </div>
            </a>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-8 col-md-offset-2 col-sm-12">
            <p class="message text-center">No results found. Please widen your search by selecting fewer filters.</p>
            <div class="videos-content">
            </div>
            <script id="videos-content" type="text/x-handlebars-template">​
                {{#each this}}
                    <div id="video-{{count}}" class="video-content center-block" data-videographer="{{videographer.nick}}">

                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" data-src="{{videolink}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>

                        <div class="clearfix max-width center-block {{#if lens}}hidden{{else}}show{{/if}}">
                            <div class="pull-right">
                                <div class="logo text-right">
                                    {{#if camera.link}}
                                        <a href="{{#getLink camera}}{{/getLink}}?cid={{{camera.name}}}:pdp:ilc:ms:videographer:@@country:photo:cta" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:gallery:{{videographer.nick}}:video:{{camera.name}}:discover', 'ilc:videographer:@@country', 'ilc:videographer:@@country:gallery:{{videographer.nick}}:video:{{camera.name}}:discover', 'microsite|ilc:videographer:@@country|gallery|{{videographer.nick}}|video|{{camera.name}}|discover','event50');" target="_blank">
                                    {{/if}}
                                        <img src="{{camera.logo}}" alt="{{camera.alt}}">
                                    {{#if camera.link}}
                                    </a> {{/if}}

                                    {{#if camera2.link}}
                                        <p>+</p>
                                        <a href="{{#getLink camera2}}{{/getLink}}?cid={{{camera2.name}}}:pdp:ilc:ms:videographer:@@country:photo:cta" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:gallery:{{videographer.nick}}:video:{{camera2.name}}:discover', 'ilc:videographer:@@country', 'ilc:videographer:@@country:gallery:{{videographer.nick}}:video:{{camera2.name}}:discover', 'microsite|ilc:videographer:@@country|gallery|{{videographer.nick}}|video|{{camera2.name}}|discover','event50');" target="_blank">
                                            <img src="{{camera2.logo}}" alt="{{camera2.alt}}">
                                            </a>
                                    {{/if}}
                                </div>
                                <!-- <p class="text-right">{{specs}}</p> -->
                            </div>
                            <div class="pull-left">
                                <p class="name">{{videographer.name}}</p>
                                <p class="country">{{videographer.country}}</p>
                                <!-- <div class="logo">
                                    <a href="{{camera.link}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:gallery:{{videographer.nick}}:video:{{camera.name}}:discover', 'ilc:videographer:@@country', 'ilc:videographer:@@country:gallery:{{videographer.nick}}:video:{{camera.name}}:discover', 'microsite|ilc:videographer:@@country|gallery|{{videographer.nick}}|video|{{camera.name}}|discover','event50');" target="_blank"><img src="{{camera.logo}}" alt="{{camera.alt}}"></a>
                                </div>

                                <p>{{lens.specs1}}</p>

                                <div class="lens">
                                    {{#if lens.image}}
                                        <a href="{{links.lens}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:gallery:{{videographer.nick}}:video:{{lens.model}}:discover', 'ilc:videographer:@@country', 'ilc:videographer:@@country:gallery:{{videographer.nick}}:video:{{lens.model}}:discover', 'microsite|ilc:videographer:@@country|gallery|{{videographer.nick}}|video|{{lens.model}}|discover','event50');" target="_blank"><img src="{{lens.image}}" alt="{{alt.lens}}"></a>
                                    {{else}}
                                        <div class="placeholder hidden-xs hidden-sm"></div>
                                    {{/if}}
                                </div>

                                <p>{{lens.specs2}}</p> -->
                            </div>
                            <div class="clearfix"></div>
                            <div>
                                <img src="img/separator-left.png" height="1" width="297" alt="divider">
                            </div>

                            <p class="title nobottomspacing">{{{title}}}</p>
                            <p class="description">{{{description}}}</p>

                            <!-- <p class="videographer-name">{{videographer.name}}</p> -->

                            <div class="fb-like text-left" data-href="@@country/videos/video-{{videographer.nick}}-{{id}}.html" data-colorscheme="dark" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>

                        </div>

                        <!--<div class="clearfix max-width center-block sg-kol {{#if lens}}show{{else}}hidden{{/if}}">
                            <div class="pull-right">
                                <p class="text-right">{{specs}}</p>
                            </div>
                            <div class="pull-left">
                                <div class="logo">
                                    <a href="{{camera.link}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:gallery:{{videographer.nick}}:video:{{camera.name}}:discover', 'ilc:videographer:@@country', 'ilc:videographer:@@country:gallery:{{videographer.nick}}:video:{{camera.name}}:discover', 'microsite|ilc:videographer:@@country|gallery|{{videographer.nick}}|video|{{camera.name}}|discover','event50');" target="_blank"><img src="{{camera.logo}}" alt="{{camera.alt}}"></a>
                                </div>

                                <p>+</p>

                                 <p>{{lens.specs1}}</p> 

                                <div class="lens">
                                    {{#if lens.img}}
                                        <a href="{{lens.link}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:gallery:{{videographer.nick}}:video:{{lens.model}}:discover', 'ilc:videographer:@@country', 'ilc:videographer:@@country:gallery:{{videographer.nick}}:video:{{lens.model}}:discover', 'microsite|ilc:videographer:@@country|gallery|{{videographer.nick}}|video|{{lens.model}}|discover','event50');" target="_blank"><img src="{{lens.img}}" alt="{{lens.specs}}"></a>
                                    {{else}}
                                        <div class="placeholder hidden-xs hidden-sm"></div>
                                    {{/if}}
                                </div>
                                <p>{{lens.specs}}</p>
                            </div>
                            <div class="clearfix"></div>
                            <div>
                                <img src="img/separator-left.png" height="1" width="297" alt="divider">
                            </div>
                            <p class="title nobottomspacing">{{{title}}}</p>
                            <p class="videographer-name">{{videographer.name}}</p>
                            <p class="description">{{{description}}}</p>

                            <div class="fb-like text-left" data-href="@@country/videos/video-{{videographer.nick}}-{{id}}.html" data-colorscheme="dark" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>

                        </div>-->
                    </div>
                {{/each}}
            </script>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-8 col-md-offset-2 col-sm-12">
            <div class="videos-carousel max-width center-block" id="videos-wall">
            </div>
            <script id="videos-carousel" type="text/x-handlebars-template">​
                {{#each this}}
                    <a class="video-carousel video-carousel-non-mobile text-center videographer-{{videographer.id}} hidden-xs" rel="video-gallery" data-video="{{count}}" href="#video-{{count}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:gallery:{{videographer.nick}}:video', 'ilc:videographer:@@country', 'ilc:videographer:@@country:gallery:{{videographer.nick}}:video', 'microsite|ilc:videographer:@@country|gallery|{{videographer.nick}}|video');">
                        <img data-original="img/profile/{{country}}/{{videographer.nick}}/thumb-{{id}}.jpg" class="img-responsive center-block lazy" height="136" width="210" alt="{{{title}}}">
                        <div class="center-block border hidden-sm hidden-md"></div>
                    </a>
                {{/each}}
                {{#each this}}
                    <a class="video-carousel video-carousel-mobile text-center videographer-{{videographer.id}} hidden-sm hidden-md hidden-lg" rel="video-gallery-mobile" data-video="{{count}}" href="#video-{{count}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:gallery:{{videographer.nick}}:video', 'ilc:videographer:@@country', 'ilc:videographer:@@country:gallery:{{videographer.nick}}:video', 'microsite|ilc:videographer:@@country|gallery|{{videographer.nick}}|video');">
                        <img data-original="img/profile/{{country}}/{{videographer.nick}}/thumb-{{id}}-mobile.jpg" class="img-responsive center-block lazy" height="90" width="90" alt="{{{title}}}">
                    </a>
                {{/each}}
            </script>
        </div>
    </div>
</section>
