<div id="profile-pepe">

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center">
            <div>
                <p class="type">Filmaker</p>
                <p class="name">Jose Lorenzo<br/>Pepe Diokno</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Philippines</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-4 col-sm-offset-2">

                <div>
                    <p class="type">Filmaker</p>
                    <p class="name">Jose Lorenzo Pepe Diokno</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Philippines</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Pepe Diokno is a young, award-winning Filipino filmmaker and in this arena, he takes many roles - director, producer and screenwriter. He also runs a weekly column for The Philippine Star titled Pepe Don’t Preach and contributes regularly to Rappler, the top online news source in the Philippines.</p>

            <p>Diokno comes from a political family but he found his niche in the art of storytelling. His debut film, Engkwentro, was highly applauded both by local and international film critics. It received numerous awards; from a special citation at the 2009 Cinemalaya Independent Film Festival and Best Editing Award at the 2009 Gawad Urian Awards in the Philippines, to a NETPAC Award for Best Asian Film at the 2010 Jeonju International Film Festival in Asia to the Lion of the future – “Luigi de Laurentiis” Award for Best Debut Film at the 2009 Venice Film Festival.</p>

            <p>The success of his first film secured a screening spot for his second film, Above the Clouds, at the 27th Tokyo International Film Festival. </p>

            <p>At the age of 23, he received the prestigious Dangal ng Ani Award from the National Commission for Culture and Arts for his contribution to Philippine Cinema. During the same year, UK’s Phaidon Press recognised his brilliance as it included him in Take 100: the Future of Film, a book on the 100 Most Exceptional Emerging Filmmakers of the world.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Pepe Diokno is a young, award-winning Filipino filmmaker and in this arena, he takes many roles - director, producer and screenwriter. He also runs a weekly column for The Philippine Star titled Pepe Don’t Preach and contributes regularly to Rappler, the top online news source in the Philippines.</p>

            <p>Diokno comes from a political family but he found his niche in the art of storytelling. His debut film, Engkwentro, was highly applauded both by local and international film critics. It received numerous awards; from a special citation at the 2009 Cinemalaya Independent Film Festival and Best Editing Award at the 2009 Gawad Urian Awards in the Philippines, to a NETPAC Award for Best Asian Film at the 2010 Jeonju International Film Festival in Asia to the Lion of the future – “Luigi de Laurentiis” Award for Best Debut Film at the 2009 Venice Film Festival.</p>

            <p>The success of his first film secured a screening spot for his second film, Above the Clouds, at the 27th Tokyo International Film Festival. </p>

            <p>At the age of 23, he received the prestigious Dangal ng Ani Award from the National Commission for Culture and Arts for his contribution to Philippine Cinema. During the same year, UK’s Phaidon Press recognised his brilliance as it included him in Take 100: the Future of Film, a book on the 100 Most Exceptional Emerging Filmmakers of the world.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-videographer">Pepe</span>
                </p>
                <img data-original="img/profile/ph/pepe/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Interview with Pepe">

                <img class="quote-1 img-responsive center-block" src="img/profile/ph/pepe/quote-1.png" width="299" height="453" alt="Pepe's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How do you get involved in videography and the kind of work that you are doing?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Filmmaking has been a passion ever since I was in high school. I started with school projects, and branched out to making my own little films with the help of my friends. There’s something about telling a story with a camera — with images and sounds — that I fell madly in love with. Perhaps it’s the power of cinema to capture the human experience and make people laugh, and cry, and think and learn. Or perhaps it’s my way of experiencing life. With each story I tell, I can live a different life.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Who are the biggest influences in your videography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I like the word “journey” because it puts emphasis on the process instead of results. In December, I attended a masterclass by legendary Iranian filmmaker Mohsen Makhmalbaf. They showed a documentary called “Daddy’s School” about how he taught his family how to make films. One of his first lessons for them was to read poetry. Not camera techniques, but poetry. I learned that a filmmaking journey is a constant journey of learning. Learning by experiencing and observing everyday life, traveling, reading, listening to music, looking at art, etc. I’ve been trying to do that, and I feel like my journey has just begun.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/ph/pepe/profile_pic-2.jpg" width="611" height="207" alt="Interview with Pepe">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">What are your expectations of your videography equipment?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Stories are everywhere, and my camera should be able to go everywhere with me, whether it’s on a guerilla shoot in a busy city market, a hike up in the mountains, or a professional setting with lights, sets and a full crew.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Why did you choose the a7 series to be part of your work and personal videography journey?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">I have literally taken it everywhere. I’ve shot everything with it, from my travels to an indie feature film (“Kapatiran”) to a mainstream television show (“Single/Single”) to actual television commercials. It’s so versatile. It’s small enough to hang around your neck, but inside, there is all the power I need. My favorite thing about it is how excellently it records in low light. Even outdoors, with just the moon out, I can still make movies. Aside from this, the camera has 4K recording and a wide range of settings like slow-mo and color profiles. With adapters, I can use any lens I want, too. Lens selection is so important in telling stories. I once used lenses that my mom bought in 1980. The results are great.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">How do you feel videography has changed in the last few years?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">There is so much freedom these days. New technology has made movie making accessible to everyone, and that’s a very good thing. We can tell more stories, experiment more, play more. With more flexibility and less things to worry about, it just feels good to shoot.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Do you have advice for videographers just starting out?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Keep learning and exploring. Filmmaking is a journey, not a destination. It’s good to pick a camera that doesn’t give you limitations. A camera that will actually open you up to more possibilities. For me that’s the a7 series. I’m enjoying the freedom; I just want to keep shooting and creating more with such great results.</div>
                </div>
                <!-- Q&A 6 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Interview
                    <br/> with
                    <span class="intv-videographer">Pepe</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/ph/pepe/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Pepe"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How do you get involved in videography and the kind of work that you are doing?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Filmmaking has been a passion ever since I was in high school. I started with school projects, and branched out to making my own little films with the help of my friends. There’s something about telling a story with a camera — with images and sounds — that I fell madly in love with. Perhaps it’s the power of cinema to capture the human experience and make people laugh, and cry, and think and learn. Or perhaps it’s my way of experiencing life. With each story I tell, I can live a different life.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Who are the biggest influences in your videography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I like the word “journey” because it puts emphasis on the process instead of results. In December, I attended a masterclass by legendary Iranian filmmaker Mohsen Makhmalbaf. They showed a documentary called “Daddy’s School” about how he taught his family how to make films. One of his first lessons for them was to read poetry. Not camera techniques, but poetry. I learned that a filmmaking journey is a constant journey of learning. Learning by experiencing and observing everyday life, traveling, reading, listening to music, looking at art, etc. I’ve been trying to do that, and I feel like my journey has just begun.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">What are your expectations of your videography equipment?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Stories are everywhere, and my camera should be able to go everywhere with me, whether it’s on a guerilla shoot in a busy city market, a hike up in the mountains, or a professional setting with lights, sets and a full crew. </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Why did you choose the a7 series to be part of your work and personal videography journey?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">I have literally taken it everywhere. I’ve shot everything with it, from my travels to an indie feature film (“Kapatiran”) to a mainstream television show (“Single/Single”) to actual television commercials. It’s so versatile. It’s small enough to hang around your neck, but inside, there is all the power I need. My favorite thing about it is how excellently it records in low light. Even outdoors, with just the moon out, I can still make movies. Aside from this, the camera has 4K recording and a wide range of settings like slow-mo and color profiles. With adapters, I can use any lens I want, too. Lens selection is so important in telling stories. I once used lenses that my mom bought in 1980. The results are great.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">How do you feel videography has changed in the last few years?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">There is so much freedom these days. New technology has made movie making accessible to everyone, and that’s a very good thing. We can tell more stories, experiment more, play more. With more flexibility and less things to worry about, it just feels good to shoot.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Do you have advice for videographers just starting out?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Keep learning and exploring. Filmmaking is a journey, not a destination. It’s good to pick a camera that doesn’t give you limitations. A camera that will actually open you up to more possibilities. For me that’s the a7 series. I’m enjoying the freedom; I just want to keep shooting and creating more with such great results.</div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
