<footer class="container-fluid navbar-fixed-bottom">

    <div class="row">

        <div class="col-sm-12">

            <div class="divider visible-xs-block visible-sm-block">
                <img src="img/profile/divider-white.png" class="center-block" alt="" width="301" height="2">
            </div>

            <div class="pull-left">

                <div class="logo">
                    <img class="i-left" src="img/professional-video.png" alt="Alpha - Professionals Videographers" width="250" height="40">
                </div>

            </div>

            <div class="pull-right">
                <div>
                    <p>Sony South East Asia's
                        <br/>Videographers program</p>
                </div>
            </div>

        </div>

    </div>

</footer>
