<header class="container-fluid navbar-fixed-top">

    <div class="row">

        <div class="col-sm-12 navbar navbar-inverse">

            <div class="logo">
                <a href="./" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:menu:main:sonylogo', 'ilc:videographer:@@country', 'ilc:videographer:@@country:menu:main:sonylogo', 'microsite|ilc:videographer:@@country|menu|main|sonylogo');"><img src="img/logo-sony.png" height="16" width="94" alt="Sony Logo"></a>
            </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            <nav id="navbar" class="text-center navbar-collapse collapse">

                <a href="@@country/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:menu:main:home', 'ilc:videographer:@@country', 'ilc:videographer:@@country:menu:main:home', 'microsite|ilc:videographer:@@country|menu|main|home');" class="home">Home</a>
                <a href="@@country/gallery.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:menu:main:gallery', 'ilc:videographer:@@country', 'ilc:videographer:@@country:menu:main:gallery', 'microsite|ilc:videographer:@@country|menu|main|gallery');" class="gallery">Video Gallery</a>
                <a href="@@country/video-showcase.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:menu:main:showcase', 'ilc:videographer:@@country', 'ilc:videographer:@@country:menu:main:showcase', 'microsite|ilc:videographer:@@country|menu|main|showcase');" class="showcase">Video Showcase</a>
                <a href="//www.sony-asia.com/microsite/ilc/photographers/@@country/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:menu:main:photographers', 'ilc:videographer:@@country', 'ilc:videographer:@@country:menu:main:photographers', 'microsite|ilc:videographer:@@country|menu|main|photographers');" class="photographers last">
                    <img src="img/professional-photo.png" alt="Alpha - Professionals Photographers" width="153" height="24">
                </a>

            </nav>

            <div class="divider hidden-md hidden-lg">
                <img src="img/profile/divider-white.png" alt="" width="301" height="2">
            </div>

            <div class="language">
                <select name="language" id="language" class="hidden-xs">
                    <option value="en" selected>English</option>
                    <option value="thai">Thai</option>
                    <option value="viet">Vietnamese</option>
                </select>
                <select name="language" id="language-mobile" class="hidden-sm hidden-md hidden-lg">
                    <option value="en" selected>EN</option>
                    <option value="thai">TH</option>
                    <option value="viet">VN</option>
                </select>
            </div>

        </div>

    </div>

</header>
