<header class="container-fluid navbar-fixed-top">

    <div class="row">

        <div class="col-sm-12 navbar navbar-inverse">

            <div class="logo">
                <a href="./" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; rackMs_link('ms:ilc:videographer:@@country:menu:main:sonylogo', 'ilc:videographer:@@country', 'ilc:videographer:@@country:menu:main:sonylogo', 'microsite|ilc:videographer:@@country|menu|main|sonylogo');"><img src="img/logo-sony.png" height="16" width="94" alt="Sony Logo"></a>
            </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <nav id="navbar" class="text-center navbar-collapse collapse">

                <a href="@@country/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:menu:main:home', 'ilc:videographer:@@country', 'ilc:videographer:@@country:menu:main:home', 'microsite|ilc:videographer:@@country|menu|main|home');" class="home">Home</a>
                <a href="@@country/gallery.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:menu:main:gallery', 'ilc:videographer:@@country', 'ilc:videographer:@@country:menu:main:gallery', 'microsite|ilc:videographer:@@country|menu|main|gallery');" class="gallery">Video Gallery</a>
                <a href="@@country/video-showcase.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:menu:main:showcase', 'ilc:videographer:@@country', 'ilc:videographer:@@country:menu:main:showcase', 'microsite|ilc:videographer:@@country|menu|main|showcase');" class="showcase">Video Showcase</a>
                <a href="//www.sony-asia.com/microsite/ilc/photographers/@@country/" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:menu:main:photographers', 'ilc:videographer:@@country', 'ilc:videographer:@@country:menu:main:photographers', 'microsite|ilc:videographer:@@country|menu|main|photographers');" class="photographers last">
                    <img src="img/professional-photo.png" alt="Alpha - Professionals Photographers" width="153" height="24">
                </a>

            </nav>


        <div class="divider hidden-md hidden-lg">
            <img src="img/profile/divider-white.png" alt="" width="301" height="2">
        </div>

        <div class="language">
            <select name="language" id="language" class="hidden-xs">
                <option value="en" selected>English</option>
                <option value="thai">Thai</option>
                <option value="viet">Vietnamese</option>
            </select>
            <select name="language" id="language-mobile" class="hidden-sm hidden-md hidden-lg">
                <option value="en" selected>EN</option>
                <option value="thai">TH</option>
                <option value="viet">VN</option>
            </select>
        </div>

    </div>

</div>

</header>

<div class="container-fluid secondary-nav text-center hidden-xs hidden-sm">

    <div class="row">

        <div class="col-sm-12">

            <div class="secondary-nav-wrapper text-center">



                <!-- SINGAPORE -->
                <!-- @@if (typeof videographerCountry !== 'undefined' && videographerCountry === 'sg') {

                <div class="nav_middle pull-left show">

                } @@if (typeof videographerCountry !== 'undefined' && videographerCountry !== 'sg') {

                <div class="nav_middle pull-left hidden">

                } @@if (typeof videographerCountry === 'undefined') {

                <div class="nav_middle pull-left hidden sg">

                }

                <a href="@@country/profile-edward.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:menu:edward', 'ilc:@@country', 'ilc:@@country:profile:menu:edward', 'microsite|ilc:@@country|profile|menu|edward');" id="edward">
                    <p>Edward Tian</p>
                </a>

                <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

                <a href="@@country/profile-kelvin.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:menu:kelvin', 'ilc:@@country', 'ilc:@@country:profile:menu:kelvin', 'microsite|ilc:@@country|profile|menu|kelvin');" id="kelvin">
                    <p>Kelvin Koh</p>
                </a>

                <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

                <a href="@@country/profile-chester.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:menu:chester', 'ilc:@@country', 'ilc:@@country:profile:menu:chester', 'microsite|ilc:@@country|profile|menu|chester');" id="chester">
                    <p>Chester Chen</p>
                </a>

                <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

                <a href="@@country/profile-bryan.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:menu:bryan', 'ilc:@@country', 'ilc:@@country:profile:menu:bryan', 'microsite|ilc:@@country|profile|menu|bryan');" id="bryan">
                    <p>Bryan van der beek</p>
                </a>

                <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

                <a href="@@country/profile-darren.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:menu:darren', 'ilc:@@country', 'ilc:@@country:profile:menu:darren', 'microsite|ilc:@@country|profile|menu|darren');" id="darren">
                    <p>Darren Soh</p>
                </a>

                </div> -->
                <!-- SINGAPORE -->



                <!-- MALAYSIA -->
                @@if (typeof videographerCountry !== 'undefined' && videographerCountry === 'my') {

                <div class="nav_middle pull-left show">

                } @@if (typeof videographerCountry !== 'undefined' && videographerCountry !== 'my') {

                <div class="nav_middle pull-left hidden">

                } @@if (typeof videographerCountry === 'undefined') {

                <div class="nav_middle pull-left hidden my">

                }

                    <a href="@@country/profile-rosli.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:profile:menu:rosli', 'ilc:videographer:@@country', 'ilc:videographer:@@country:profile:menu:rosli', 'microsite|ilc:videographer:@@country|profile|menu|rosli');" id="rosli">
                        <p>Rosli Mohamed</p>
                    </a>

                </div>
                <!-- MALAYSIA -->




                <!-- PHILIPPINES -->
                @@if (typeof videographerCountry !== 'undefined' && videographerCountry === 'ph') {

                <div class="nav_middle pull-left show">

                } @@if (typeof videographerCountry !== 'undefined' && videographerCountry !== 'ph') {

                <div class="nav_middle pull-left hidden">

                } @@if (typeof videographerCountry === 'undefined') {

                <div class="nav_middle pull-left hidden ph">

                }

                    <a href="@@country/profile-pepe.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:profile:menu:pepe', 'ilc:videographer:@@country', 'ilc:videographer:@@country:profile:menu:pepe', 'microsite|ilc:videographer:@@country|profile|menu|pepe');" id="pepe">
                        <p>Pepe Diokno</p>
                    </a>

                    <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

                    <a href="@@country/profile-mayad.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:profile:menu:mayad', 'ilc:videographer:@@country', 'ilc:videographer:@@country:profile:menu:mayad', 'microsite|ilc:videographer:@@country|profile|menu|mayad');" id="mayad">
                        <p>Mayad Studios</p>
                    </a>

                </div>
                <!-- PHILIPPINES -->





                <!-- INDONESIA -->
                <!-- @@if (typeof videographerCountry !== 'undefined' && videographerCountry === 'id') {

                <div class="nav_middle pull-left show">

                } @@if (typeof videographerCountry !== 'undefined' && videographerCountry !== 'id') {

                <div class="nav_middle pull-left hidden">

                } @@if (typeof videographerCountry === 'undefined') {

                <div class="nav_middle pull-left hidden id">

                }

                    <a href="@@country/profile-nicoline.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:menu:nicoline', 'ilc:@@country', 'ilc:@@country:profile:menu:nicoline', 'microsite|ilc:@@country|profile|menu|nicoline');" id="nicoline">
                        <p>Nicoline Patricia Malina</p>
                    </a>

                    <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

                    <a href="@@country/profile-glenn.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:menu:glenn', 'ilc:@@country', 'ilc:@@country:profile:menu:glenn', 'microsite|ilc:@@country|profile|menu|glenn');" id="glenn">
                        <p>Glenn Prasetya</p>
                    </a>

                    <span><img src="img/dot.png" height="5" width="5" alt="dot"></span>

                    <a href="@@country/profile-benny.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:menu:benny', 'ilc:@@country', 'ilc:@@country:profile:menu:benny', 'microsite|ilc:@@country|profile|menu|benny');" id="benny">
                        <p>Benny Lim</p>
                    </a>

                </div> -->
                <!-- INDONESIA -->




                <!-- THAILAND -->
                @@if (typeof videographerCountry !== 'undefined' && videographerCountry === 'th') {

                <div class="nav_middle pull-left show">

                } @@if (typeof videographerCountry !== 'undefined' && videographerCountry !== 'th') {

                <div class="nav_middle pull-left hidden">

                } @@if (typeof videographerCountry === 'undefined') {

                <div class="nav_middle pull-left hidden th">

                }

                    <!-- <a href="@@country/profile-kriengkrai.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:menu:kriengkrai', 'ilc:@@country', 'ilc:@@country:profile:menu:kriengkrai', 'microsite|ilc:@@country|profile|menu|kriengkrai');" id="kriengkrai">
                        <p>Kriengkrai Waiyakij</p>
                    </a> -->
                    <a href="@@country/profile-dusit.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:menu:dusit', 'ilc:@@country', 'ilc:@@country:profile:menu:dusit', 'microsite|ilc:@@country|profile|menu|dusit');" id="dusit">
                        <p>Dusit Sema-nguen</p>
                    </a>

                </div>
                <!-- THAILAND -->




                <!-- VIETNAM -->
                <!-- @@if (typeof videographerCountry !== 'undefined' && videographerCountry === 'vn') {

                <div class="nav_middle pull-left show">

                } @@if (typeof videographerCountry !== 'undefined' && videographerCountry !== 'vn') {

                <div class="nav_middle pull-left hidden">

                } @@if (typeof videographerCountry === 'undefined') {

                <div class="nav_middle pull-left hidden vn">

                }

                    <a href="@@country/profile-nguyen.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:@@country:profile:menu:nguyen', 'ilc:@@country', 'ilc:@@country:profile:menu:nguyen', 'microsite|ilc:@@country|profile|menu|nguyen');" id="nguyen">
                        <p>Nguyen Thanh Tung</p>
                    </a>

                </div> -->
                <!-- VIETNAM -->



                <div class="nav_countries pull-left text-right">
                   <!--  <a href="@@country/profile-nicoline.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:profile:menu:ID', 'ilc:videographer:@@country', 'ilc:videographer:@@country:profile:menu:ID', 'microsite|ilc:videographer:@@country|profile|menu|ID');" id="id">
                        <img src="img/profile/flag-id.jpg" height="18" width="24" alt="Indonesia">
                    </a> -->

                    <a href="@@country/profile-rosli.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:profile:menu:MY', 'ilc:videographer:@@country', 'ilc:videographer:@@country:profile:menu:MY', 'microsite|ilc:videographer:@@country|profile|menu|MY');" id="my">
                        <img src="img/profile/flag-my.jpg" height="18" width="24" alt="Malaysia">
                    </a>

                    <a href="@@country/profile-pepe.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:profile:menu:PH', 'ilc:videographer:@@country', 'ilc:videographer:@@country:profile:menu:PH', 'microsite|ilc:videographer:@@country|profile|menu|PH');" id="ph">
                        <img src="img/profile/flag-ph.jpg" height="18" width="24" alt="Philippines">
                    </a>

                    <a href="@@country/profile-dusit.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:profile:menu:TH', 'ilc:videographer:@@country', 'ilc:videographer:@@country:profile:menu:TH', 'microsite|ilc:videographer:@@country|profile|menu|TH');" id="th">
                        <img src="img/profile/flag-th.jpg" height="18" width="24" alt="Thailand">
                    </a>
                    
                    <!-- <a href="@@country/profile-chester.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:profile:menu:SG', 'ilc:videographer:@@country', 'ilc:videographer:@@country:profile:menu:SG', 'microsite|ilc:videographer:@@country|profile|menu|SG');" id="sg">
                        <img src="img/profile/flag-sg.jpg" height="18" width="24" alt="Singapore">
                    </a>


                    <a href="@@country/profile-nguyen.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:profile:menu:VN', 'ilc:videographer:@@country', 'ilc:videographer:@@country:profile:menu:VN', 'microsite|ilc:videographer:@@country|profile|menu|VN');" id="vn">
                        <img src="img/profile/flag-vn.jpg" height="18" width="24" alt="Vietnam">
                    </a> -->

                </div>



                <div class="clearfix"></div>


            </div>



        </div>

    </div>

</div>


<div class="container-fluid secondary-nav-mobile text-center hidden-md hidden-lg">
    <div class="row">
        <select id="kol-select">
            <option value="" selected disabled>SELECT VIDEOGRAPHER</option>

            <!-- <optgroup label="Indonesia">
                <option id="option-benny" value="@@country/profile-benny.html">Benny Lim</option>
                <option id="option-glenn" value="@@country/profile-glenn.html">Glenn Prasetya</option>
                <option id="option-nicoline" value="@@country/profile-nicoline.html">Nicoline Patricia Malina</option>
            </optgroup> -->

            <optgroup label="Malaysia">
                <option id="option-rosli" value="@@country/profile-rosli.html">Rosli Mohamed</option>
            </optgroup>

            <optgroup label="Philippines">
                <option id="option-pepe" value="@@country/profile-pepe.html">Pepe Diokno</option>
                <option id="option-mayad" value="@@country/profile-mayad.html">Mayad Studios</option>
            </optgroup>

            <optgroup label="Thailand">
                <!-- <option id="option-kriengkrai" value="@@country/profile-kriengkrai.html">Kriengkrai Waiyakij</option> -->
                <option id="option-dusit" value="@@country/profile-dusit.html">Dusit Sema-nguen</option>
            </optgroup>

            <!-- <optgroup label="Singapore">
                <option id="option-bryan" value="@@country/profile-bryan.html">Bryan van der Beek</option>
                <option id="option-chester" value="@@country/profile-chester.html">Chester Chen</option>
                <option id="option-darren" value="@@country/profile-darren.html">Darren Soh</option>
                <option id="option-edward" value="@@country/profile-edward.html">Edward Tian</option>
                <option id="option-kelvin" value="@@country/profile-kelvin.html">Kelvin Koh</option>
            </optgroup>

            <optgroup label="Vietnam">
                <option id="option-nguyen" value="@@country/profile-nguyen.html">Nguyen Thanh Tung</option>
            </optgroup> -->

        </select>

        <div class="divider hidden-md hidden-lg">
            <img src="img/profile/divider-white.png" alt="" width="301" height="2">
        </div>

        <div class="clearfix"></div>
    </div>
</div>
