<!-- staging -->
<script src="http://fast.fonts.net/jsapi/a1144043-3e37-4d3f-9946-007371fb66f4.js"></script>

<!-- live -->
<!-- <script type="text/javascript" src="//fast.fonts.net/jsapi/7c1335bc-0788-4d25-82a4-cbc77c77c2d0.js"></script> -->