<!-- build:js js/index-vendor.js -->
<script src="../bower_components/js-cookie/src/js.cookie.js"></script>
<script src="../bower_components/jquery-backstretch/jquery.backstretch.js"></script>
<script src="../bower_components/greensock/src/uncompressed/TweenLite.js"></script>
<script src="../bower_components/pre-loader/pre-loader.js"></script>
<!-- endbuild -->
