// @import '../bower_components/bootstrap/less/bootstrap.less';
// @import 'template.less';



// html/*,
// body*/ {
// 	background-image: url(../img/bg-gallery.jpg);
// }

/*body {
	// background-color: transparent;
	height: auto !important;
}*/



#gallery {
	background-color: transparent;
	background-image: url(../img/bg-gallery.jpg);
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		height: auto;
		min-height: 100%;
		// margin-top: 61px;
		padding-top: 61px;
		background-color: transparent;
		background-image: url(../img/bg-gallery.jpg);

		// .paddingFooter ();
		.row {
			// height: 100%;
			// margin: 0;
			> div {
				// height: 100%;
				// padding: 0;
			}
		}
		.marginBottom {
			margin-bottom: 70px;
			@media (max-width: @screen-sm-max) {
				margin-bottom: 0;
			}
		}
		.drop-downs {
			// z-index: 1500;
			// margin: 0 -15px;
			padding: 0;
			text-align: center;
			select {
				font-family: 'SST W20 Bold', Helvetica, Arial, sans-serif;
				// height: 70px;
				// width: 380px;
				font-size: 15px;
				text-align: center;
				text-transform: uppercase;
				color: @sony-orange;
				border: 0;
				outline: none;
				background-color: transparent;
				background-image: url(../img/profile/arrow_down_org.png);
				background-repeat: no-repeat;
				background-position: center right;
				background-size: 30px;

				-webkit-appearance: none;
				   -moz-appearance: none;
				        appearance: none;
				@media (max-width: @screen-sm-max) {
					font-size: 1em;
					width: 90%;
					height: 40px;
					background-size: 19px;
				}
				&#camera {
					text-transform: none;
				}
			}
			.divider {
				line-height: 0;
			}
		}
		.max-width {
			.maxWidth ();
			/*@media (max-width: @screen-sm-max) {
			max-width: 100% !important;
		}*/
			.navbar-inverse {
				border: none;
				background-color: transparent;
				@media (max-width: @screen-sm-max) {
					margin-bottom: 0;
				}
				h1 {
					font-size: 45px;
					margin-bottom: 20px;
					@media (max-width: @screen-sm-max) {
						font-size: 26px;
						display: inline-block;
						float: left;
						text-align: left;
					}
				}
				.navbar-toggle {
					font-size: 1.15em;
					margin-top: 18px;
					margin-right: -15px;
					color: @sony-orange;
					border: none;
					background-color: transparent;
					&:hover,
					&:focus {
						border: none;
						background-color: transparent;
					}
					p {
						display: inline-block;
					}
				}
			}
		}
		.filters {
			font-size: 12px;
			// line-height: 61px;
			position: absolute;
			z-index: 2;
			top: 140px;
			width: 100%;
			// height: auto !important;
			padding: 15px 0 30px;
			// margin-bottom: 250px;
			// top: 17px;
			// padding-right: 40px;
			// text-transform: uppercase;
			// background-image: url('../img/bg-secondary_nav.png');
			/*background-image: url('../img/bg-filters.png');
			background-repeat: repeat-y;
			background-position: center center;
			background-size: contain;*/
			@media (max-width: @screen-sm-max) {
				line-height: 2;
				top: 70px;
				margin-bottom: 0;
			}
			@media (max-width: @screen-xs-max) {
				padding-bottom: 74px;
			}
			&.collapsing,
			&.in {
				// padding: 0;
				border: none;
				background-image: none;
			}
			&.collapsing {
				padding: 0;
			}
			&:before {
				position: absolute;
				z-index: 1;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				content: '';
				transition: opacity .35s ease;
				opacity: .6;
				background-image: url('../img/bg-filters.png');
				background-repeat: repeat-y;
				background-position: center center;
				background-size: contain;
				@media (max-width: @screen-sm-max) {
					opacity: 1;
					background-color: #333333;
					background-image: none;
				}
			}
			// &:after {
			//     content: "";
			//     bottom: 50px;
			//     height: 50px;
			//     width: 1px;
			// }
			&.open:before {
				opacity: 1;
			}
			// &.open:after {
			// 	content: "";
			//     bottom: -150px;
			//     height: 150px;
			//     width: 1px;
			// }
			// &.open {
			// 	padding-bottom: 180px;
			// }
			.filters-wrapper {
				position: relative;
				z-index: 2;
				display: none;
				height: 250px;
				padding-top: 20px;
				padding-bottom: 50px;
				max-width: 730px;

				// .maxWidth ();
				@media (max-width: @screen-sm-max) {
					display: block;
					height: auto;
					padding-right: 30px;
					padding-bottom: 30px;
					padding-left: 30px;
				}
				@media (max-width: @screen-md-max) {
					// display: block;
					// height: auto;
					padding-right: 30px;
					// padding-bottom: 30px;
					padding-left: 30px;
				}
				table {
					width: 100%;
					th {
						font-size: 16px;
						color: @sony-orange;
					}
					td {
						font-size: 13px;
						padding: 5px 0;
						text-align: left;
						vertical-align: top;
						&.country {
							color: @sony-orange;
							div {
								line-height: .75;
							}
						}
						&.no-padding-top {
							padding-top: 0;
						}
						&.no-padding-bottom {
							padding-bottom: 0;
						}
						&.checkbox-cell {
							overflow: hidden;
							// display: inline-block;
							width: 13px;
							white-space: nowrap;
							// margin: 0;
						}
						&.label-cell {
							// width: 100%;
						}
						input {
							// width: 20px;
							margin-right: 10px;
							// margin-left: 0;
						}
					}
				}
				.clear {
					position: absolute;
					right: 0;
					bottom: 0;
					display: inline-block;
					padding: 10px 15px;
					background-color: #484848;
					@media (max-width: @screen-sm-max) {
						right: 30px;
						bottom: 30px;
					}
					@media (max-width: @screen-md-max) {
						right: 30px;
					}
					@media (max-width: @screen-xs-max) {
						position: relative;
						right: auto;
						bottom: auto;
					}
				}
			}
			span {
				display: inline-block;
				margin: auto 5px;
			}
			.separator {
				line-height: 0;
				height: 1px;
				&.bottom {
					margin-top: -2px;
				}
			}
			a {
				position: relative;
				z-index: 2;
				display: inline-block;
				.up {
					display: none;
				}
			}
			.filter {
				@media (max-width: @screen-sm-max) {
					font-size: 1.1em;
					display: block;
					margin-right: -15px;
					padding-bottom: 5px;
					text-align: right;
				}
			}
		}
		.message {
			display: none;
		}
		.videos-content {
			.video-content {
				display: none;
				// .video ();
				// margin-bottom: 35px;
				/*.max-width {
				.maxWidth ();
			}*/
			}
			/*.slick-next,
		.slick-prev {
			width: 30px;
			height: 102px;
			margin: 0;
			margin-top: -61px;
			top: 50%;
			opacity: .5;
			transition: opacity .35s ease;

			&:hover {
				opacity: 1;
			}
		}

		.slick-next {
			right: -45px;

			&:before {
				content: '';
			}
		}

		.slick-prev {
			left: -45px;

			&:before {
				content: '';
			}
		}*/
		}
		.videos-carousel {
			margin-bottom: 179px;

			.maxWidth ();
			@media (max-width: @screen-sm-max) {
				margin-bottom: 70px;
			}
			.video-carousel {
				// border: 1px solid red;
				display: inline-block;
				width: 210px;
				height: 136px;
				// .image-wrapper {
				// display: inline-block;
				// position: relative;
				img {
					// border: 1px solid cyan;
				}
				.border {
					position: relative;
					// margin-top: -136px;
					// top: 0;
					// left: 7px;
					width: 100%;
					max-width: 210px;
					height: 100%;
					max-height: 136px;
					transition: opacity .35s ease;
					// left: 0;
					// .fullWidthAndHeight ();
					opacity: 0;
					border: 7px solid @sony-orange;

					filter: alpha(opacity=0); /* IE8 and lower */
					@media (max-width: @screen-sm-max) {
						display: none;
					}
					@media (min-width: @screen-md-min) and (max-width:1199px) {
						display: none;
					}
				}
				&:hover {
					// .image-wrapper {
					.border {
						opacity: 1;

						filter: alpha(opacity=100); /* IE8 and lower */
					}
					// }
				}
			}
			.video-carousel-mobile {
				display: inline-block;
				width: 90px;
				height: 90px;
				img {
					width: 100%;
				}
				.border {
					position: relative;
					width: 100%;
					max-width: 180px;
					height: 100%;
					max-height: 180px;
					transition: opacity .35s ease;
					opacity: 0;
					border: 7px solid @sony-orange;

					filter: alpha(opacity=0); /* IE8 and lower */
				}
				&:hover {
					.border {
						opacity: 1;

						filter: alpha(opacity=100); /* IE8 and lower */
					}
				}
			}
			// opacity: .35 !important;
			// transition: opacity .5s ease;
			/*&:hover,
			&.active {
				opacity: 1 !important;
			}*/
			// }
		}
	}
	// .fancybox-wrap {
	.mfp-content {
		.video-content {
			padding-top: 20px;
			padding-bottom: 40px;

			.maxWidth ();
			.video ();
			@media (max-width: @screen-sm-max) {
				padding: 60px 10px 40px;
			}
		}
		/*@media (max-width: @screen-sm-max) {
	}*/
		@media (max-width: @screen-xs-max) {
			overflow-x: hidden;
			vertical-align: top;
		}
	}
	// .fancybox-nav {
	button.mfp-arrow {
		// margin-top: -51px;
		visibility: visible;
		width: 60px;
		// span {
		// width: 30px;
		height: 102px;
		transition: opacity .35s ease;
		opacity: .5;

		filter: alpha(opacity=50); /* IE8 and lower */
		@media (max-width: @screen-sm-max) {
			top: 45%;
		}
		@media (max-width: @screen-xs-max) {
			top: 30%;
		}
		&:hover,
		&:focus {
			span {
				opacity: 1;

				filter: alpha(opacity=100); /* IE8 and lower */
			}
		}
	}
	// .fancybox-close {
	button.mfp-close {
		width: 30px;
		height: 30px;
		// top: 20px;
		// right: 20px;
		margin-top: 20px;
		margin-right: 20px;
		// opacity: .5;
		// filter: alpha(opacity=50); /* IE8 and lower */
		transition: opacity .45s ease;
		color: transparent !important;
		background-image: url(../img/lightbox/btn-close.png);
		background-repeat: no-repeat;
		background-position: center top;
		@media (max-width: @screen-sm-max) {
			margin-right: 0;
		}
		&:hover,
		&:focus {
			background-image: url(../img/lightbox/btn-close.png);
			background-position: center bottom;
			span {
				opacity: 1;

				filter: alpha(opacity=100); /* IE8 and lower */
			}
		}
	}
	// .fancybox-next {
	button.mfp-arrow-right {
		background-color: transparent;
		// right: -60px;
		// span {
		background-image: url(../img/lightbox/arrow-next.png);
		background-repeat: no-repeat;
		background-position: center center;
		// }
		&:before,
		&:after {
			content: '';
			border: none;
		}
	}
	// .fancybox-prev {
	button.mfp-arrow-left {
		background-color: transparent;
		// left: -60px;
		// span {
		background-image: url(../img/lightbox/arrow-prev.png);
		background-repeat: no-repeat;
		background-position: center center;
		// 	}
		&:before,
		&:after {
			content: '';
			border: none;
		}
	}
	/* overlay at start */
	.mfp-fade.mfp-bg {
		-webkit-transition: all .15s ease-out;
		   -moz-transition: all .15s ease-out;
		        transition: all .15s ease-out;
		opacity: 0;
	}
	/* overlay animate in */
	.mfp-fade.mfp-bg.mfp-ready {
		position: fixed !important;
		opacity: .85;

		filter: alpha(opacity=85); /* IE8 and lower */
		@media (max-width: @screen-xs-max) {
			opacity: .9;
		}
	}
	/* overlay animate out */
	.mfp-fade.mfp-bg.mfp-removing {
		opacity: 0;
	}
	/* content at start */
	.mfp-fade.mfp-wrap .mfp-content {
		-webkit-transition: all .15s ease-out;
		   -moz-transition: all .15s ease-out;
		        transition: all .15s ease-out;
		opacity: 0;
	}
	/* content animate it */
	.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
		opacity: 1;
	}
	/* content animate out */
	.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
		opacity: 0;
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}
