// @import '../bower_components/bootstrap/less/bootstrap.less';
// @import 'template.less';



#profile {
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	.secondary-nav {
		.secondary-nav-wrapper {
			font-size: 12px;
			margin: 0 auto;
			cursor: default;
			text-transform: uppercase;
			color: #818282;
			.nav_middle {
				width: 60%;
				margin-left: 20%;
				text-align: center;
			}
			.nav_countries {
				width: 20%;
				margin-top: 20px;
				text-align: left;
				a {
					margin-right: 6px;
					opacity: .30;

					filter: alpha(opacity=30); /* IE8 and lower */
					&:hover,
					&:active {
						opacity: 1;

						filter: alpha(opacity=100); /* IE8 and lower */
					}
				}
				.active {
					opacity: 1;

					filter: alpha(opacity=100); /* IE8 and lower */
				}
			}
		}
		@media (max-width: @screen-sm-max) {
			display: none;
		}
	}
	#content {
		height: auto;
		padding: 0;

		.paddingFooter ();
		.secondaryNavAndBg ();
		@media (max-width: @screen-sm-max) {
			margin-top: -105px;
			background-size: 100%;
		}
		@media (max-width: @screen-xs-max) {
			background-size: contain;
		}
		.row {
			height: 100%;
			margin: 0;
			> div {
				height: 100%;
				padding: 0;
			}
		}
		a {
			color: @sony-orange;
			&:hover,
			&:focus {
				color: #ffffff;
			}
		}
		.container-wrapper {
			padding-top: 50px;
			@media (max-width: @screen-sm-max) {
				padding-top: 123px;
			}
			.third-nav-mobile {
				position: relative;
				z-index: 999;
				min-height: 60px;
				// margin-top: 11px;
				// padding-top: 20px;
				margin-top: -18px;
				background-color: rgba(51, 51, 51, .80);
				background-color: #333333\9; /* For IE */
				background-repeat: no-repeat;
				a {
					line-height: 57px;
					p {
						font-size: 13px;
						// font-size: 0.8em;
						font-weight: bold;
						line-height: 60px;
						display: inline-block;
						margin-bottom: 0;
						text-transform: uppercase;
						@media (max-width: @screen-xs-max) {
							font-size: 11px;
							line-height: 60px;
						}
					}
				}
			}
			.type {
				font-size: 18px;
				line-height: 22px;
				margin-bottom: 5px;
				@media (max-width: @screen-sm-max) {
					font-size: 15px;
					line-height: 17px;
					margin-bottom: 5px;
				}
				@media (max-width: @screen-xs-max) {
					font-size: 10px;
					line-height: 12px;
					margin-bottom: 2px;
				}
			}
			.country {
				font-size: 18px;
				line-height: 22px;
				margin-bottom: 5px;
				@media (max-width: @screen-sm-max) {
					font-size: 15px;
					line-height: 17px;
					margin-bottom: 5px;
				}
				@media (max-width: @screen-xs-max) {
					font-size: 10px;
					line-height: 12px;
					margin-bottom: 2px;
				}
			}
			.name {
				font-size: 50px;
				line-height: 52px;
				margin-bottom: 13px;
				@media (max-width: @screen-sm-max) {
					font-family: 'SST W20 Light', Helvetica, Arial, sans-serif;
					font-size: 32px;
					line-height: 34px;
					margin-bottom: 8px;
				}
				@media (max-width: @screen-xs-max) {
					font-family: 'SST W20 Light', Helvetica, Arial, sans-serif;
					font-size: 22px;
					line-height: 24px;
					margin-bottom: 6px;
				}
			}
			.divider-white {
				margin-bottom: 8px;
				@media (max-width: @screen-sm-max) {
					margin-bottom: 10px;
				}
			}
			// .first-logo {
			// 	margin: 0 25px 0 0;
			// }
			.desc-wrapper {
				width: 1008px;
				margin: 0 auto;
				@media (max-width: @screen-sm-max) {
					width: auto;
				}
			}
			.desc {
				font-family: 'SST W20 italic', Helvetica, Arial, sans-serif;
				font-size: 15px;
				margin-top: 70px;
				@media (max-width: @screen-xs-max) {
					font-size: 13px;
				}
			}
			.desc-container {
				position: relative;
				width: 658px;
				margin-left: 350px;
			}
			.divider-orange {
				margin-top: 52px;
				margin-bottom: 30px;
				@media (max-width: @screen-sm-max) {
					margin-top: 30px;
				}
			}
			.info-wrapper {
				width: 1008px;
				margin: 0 auto;
				padding-top: 100px;
				@media (max-width: @screen-sm-max) {
					width: auto;
				}
			}
			.intv-wrapper {
				width: 1008px;
				margin: 0 auto;
				color: @light-grey;
				@media (max-width: @screen-sm-max) {
					width: auto;
				}
			}
			.intv-title {
				font-family: 'SST W20 Ultra Light', Helvetica, Arial, sans-serif;
				font-size: 48px;
				line-height: 50px;
				margin-bottom: 20px;
				color: @sony-orange;
				@media (max-width: @screen-xs-max) {
					font-size: 28px;
					line-height: 30px;
				}
			}
			.intv-videographer {
				color: #ffffff;
			}
			.intv-content {
				.interview {
					width: 315px;
				}
				.qna {
					width: 670px;
					margin-top: 30px;
					margin-bottom: 60px;
				}
			}
			.profile_pic {
				margin: 20px 0 6px 0;
			}
			// .intv-top {
			// 	margin-top: 30px;
			// }
			.intv-btm {
				margin-bottom: 15px;
			}
			.ques-row {
				margin-bottom: 10px;
			}
			.ans-row {
				margin-bottom: 20px;
			}
			.ques {
				font-family: 'SST W20 Ultra Light Italic', Helvetica, Arial, sans-serif;
				font-size: 46px;
				width: 60px;
				color: @sony-orange;
			}
			.question {
				font-family: 'SST W20 italic', Helvetica, Arial, sans-serif;
				font-size: 22px;
				line-height: 25px;
				width: 610px;
				padding-top: 25px;
				color: @sony-orange;
			}
			.ans {
				font-family: 'SST W20 Ultra Light Italic', Helvetica, Arial, sans-serif;
				font-size: 46px;
				width: 60px;
				// height: 100%;
				margin-top: -10px;
				color: @light-grey;
			}
			.answer {
				font-size: 15px;
				width: 610px;
				color: @light-grey;
			}
			// ====================================
			// ------------ START Mobile Interview
			// ====================================
			.panel-default {
				border: 0;
			}
			.panel-group .panel + .panel {
				margin-top: 0;
			}
			.panel {
				background-color: transparent;
			}
			.panel-default > .panel-heading {
				color: @sony-orange;
				border: 1px solid #2e2e2e;
				background-color: #1a1a1a;
			}
			.panel-group .panel-heading + .panel-collapse > .panel-body,
			.panel-group .panel-heading + .panel-collapse > .list-group {
				border: 0;
			}
			.panel-heading {
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
				border-bottom-right-radius: 3px;
				border-bottom-left-radius: 3px;
			}
			.panel-title {
				font-family: 'SST W20 Medium Italic', Helvetica, Arial, sans-serif;
				font-size: 14px;
				line-height: 16px;
			}
			.panel-title > a:hover {
				color: @sony-orange;
			}
			.panel-title-q,
			.panel-title-a {
				font-family: 'SST W20 Ultra Light Italic', Helvetica, Arial, sans-serif;
				font-size: 33px;
				line-height: 33px;
			}
			.panel-body {
				font-size: 13px;
				line-height: 15px;
				color: @light-grey;
			}
			// ====================================
			// ------------ END Mobile Interview
			// ====================================
			// !!!! Malaysia !!!!
			// ====================================
			// ------------START PROFILE rosli
			// ====================================
			#profile-rosli {
				.info-wrapper-mobile {
					padding-top: 140px;
					@media (max-width: @screen-xs-max) {
						padding-top: 60px;
					}
				}
				.desc {
					margin-top: 140px;
					@media (max-width: @screen-xs-max) {
						margin-top: 60px;
					}
				}
				.quote-1 {
					margin-top: 60px;
				}
				.quote-2 {
					margin-top: 36px;
					&#th {
						margin-top: 200px;
					}
					&#vn {
						margin-top: 220px;
					}
				}
			}
			// ====================================
			// --------------END PROFILE rosli
			// ====================================
			// !!!! Philipines !!!!
			// ====================================
			// ------------START PROFILE pepe
			// ====================================
			#profile-pepe {
				.info-wrapper-mobile {
					padding-top: 125px;
					@media (max-width: @screen-xs-max) {
						padding-top: 45px;
					}
				}
				.desc {
					margin-top: 100px;
					@media (max-width: @screen-sm-max) {
						margin-top: 70px;
					}
					@media (max-width: @screen-xs-max) {
						margin-top: 70px;
					}
				}
				.quote-1 {
					margin-top: 60px;
				}
				.quote-2 {
					margin-top: 215px;
				}
			}
			// ====================================
			// --------------END PROFILE pepe
			// ====================================
			// ====================================
			// ------------START PROFILE mayad
			// ====================================
			#profile-mayad {
				.info-wrapper-mobile {
					padding-top: 120px;
					@media (max-width: @screen-xs-max) {
						padding-top: 10px;
					}
				}
				.desc {
					margin-top: 80px;
					@media (max-width: @screen-sm-max) {
						margin-top: 140px;
					}
					@media (max-width: @screen-xs-max) {
						margin-top: 120px;
					}
				}
				.quote-1 {
					margin-top: 60px;
				}
			}
			// ====================================
			// --------------END PROFILE mayad
			// ====================================
			// !!!! Thailand !!!!
			// ====================================
			// ------------START PROFILE dusit
			// ====================================
			#profile-dusit {
				.info-wrapper-mobile {
					padding-top: 125px;
					@media (max-width: @screen-xs-max) {
						padding-top: 45px;
					}
				}
				.desc {
					margin-top: 100px;
					@media (max-width: @screen-sm-max) {
						margin-top: 70px;
					}
					@media (max-width: @screen-xs-max) {
						margin-top: 70px;
					}
				}
				.quote-1 {
					margin-top: 30px;
				}
			}
			// ====================================
			// --------------END PROFILE dusit
			// ====================================
		}
		.videos-carousel {
			/*width: 70%;
			@media (max-width: @screen-md-max) {
				width: 80%;
			}*/
			.video-carousel {
				position: relative;
				width: 210px;
				.border {
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					max-width: 210px;
					max-height: 136px;
					transition: opacity .35s ease;
					opacity: 0;
					border: 7px solid @sony-orange;

					filter: alpha(opacity=0); /* IE8 and lower */
					.fullWidthAndHeight ();
				}
				&:hover {
					.border {
						opacity: 1;

						filter: alpha(opacity=100); /* IE8 and lower */
					}
				}
			}
			.slick-next,
			.slick-prev {
				// line-height: 136px;
				top: 50%;
				width: 39px;
				height: 39px;
				margin-top: -19.5px;
				// margin: 0;
				transition: opacity .35s ease;
				opacity: .5;
				&:hover,
				&:focus {
					opacity: 1;

					filter: alpha(opacity=100); /* IE8 and lower */
				}
				/*@media (max-width: @screen-md-max) {
					top: -20px;
				}*/
			}
			.slick-next {
				right: -55px;
				&:before {
					content: '';
				}
			}
			.slick-prev {
				left: -55px;
				&:before {
					content: '';
				}
			}
			.slick-track {
				margin: 0 auto;
			}
		}
		.videos-carousel-mobile {
			.video-carousel-mobile {
				@media (max-width: @screen-sm-max) {
					display: block;
					padding: 20px 0;
					img {
						margin-right: auto;
						margin-left: auto;
					}
				}
				@media (max-width: @screen-xs-max) {
					padding: 5px;
				}
			}
		}
		.space {
			height: 30px;
		}
		.bottom {
			margin-top: 5px;
		}
		.videos-content {
			.video-content {
				display: none;
			}
		}
	}
	.video-carousel-title {
		font-family: 'SST W20 Bold', Helvetica, Arial, sans-serif;
		font-size: 12px;
		margin: 0 auto 10px;
		text-align: center;
		text-transform: uppercase;
		color: @sony-orange;
	}
	// .fancybox-wrap {
	.mfp-content {
		.video-content {
			padding-top: 20px;
			padding-bottom: 40px;

			.maxWidth ();
			.video ();
			@media (max-width: @screen-sm-max) {
				padding: 60px 10px 40px;
			}
		}
		/*@media (max-width: @screen-sm-max) {
		}*/
		@media (max-width: @screen-xs-max) {
			overflow-x: hidden;
			vertical-align: top;
		}
	}
	// .fancybox-nav {
	button.mfp-arrow {
		// margin-top: -51px;
		visibility: visible;
		width: 60px;
		// span {
		// width: 30px;
		height: 102px;
		transition: opacity .35s ease;
		opacity: .5;

		filter: alpha(opacity=50); /* IE8 and lower */
		@media (max-width: @screen-sm-max) {
			top: 45%;
			opacity: 1;

			filter: alpha(opacity=100); /* IE8 and lower */
		}
		@media (max-width: @screen-xs-max) {
			top: 30%;
		}
		&:hover,
		&:focus {
			span {
				opacity: 1;

				filter: alpha(opacity=100); /* IE8 and lower */
			}
		}
	}
	// .fancybox-close {
	button.mfp-close {
		width: 30px;
		height: 30px;
		// top: 20px;
		// right: 20px;
		margin-top: 20px;
		margin-right: 20px;
		transition: opacity .45s ease;
		opacity: .5;
		color: transparent !important;
		background-image: url(../img/lightbox/btn-close.png);
		background-repeat: no-repeat;
		background-position: center top;

		filter: alpha(opacity=50); /* IE8 and lower */
		@media (max-width: @screen-sm-max) {
			margin-right: 0;
		}
		&:hover,
		&:focus {
			background-image: url(../img/lightbox/btn-close.png);
			background-position: center bottom;
			span {
				opacity: 1;

				filter: alpha(opacity=100); /* IE8 and lower */
			}
		}
	}
	// .fancybox-next {
	button.mfp-arrow-right {
		background-color: transparent;
		// right: -60px;
		// span {
		background-image: url(../img/lightbox/arrow-next.png);
		background-repeat: no-repeat;
		background-position: center center;
		// }
		&:before,
		&:after {
			content: '';
			border: none;
		}
	}
	// .fancybox-prev {
	button.mfp-arrow-left {
		background-color: transparent;
		// left: -60px;
		// span {
		background-image: url(../img/lightbox/arrow-prev.png);
		background-repeat: no-repeat;
		background-position: center center;
		// 	}
		&:before,
		&:after {
			content: '';
			border: none;
		}
	}
	/* overlay at start */
	.mfp-fade.mfp-bg {
		-webkit-transition: all .15s ease-out;
		   -moz-transition: all .15s ease-out;
		        transition: all .15s ease-out;
		opacity: 0;
	}
	/* overlay animate in */
	.mfp-fade.mfp-bg.mfp-ready {
		position: fixed !important;
		opacity: .85;

		filter: alpha(opacity=85); /* IE8 and lower */
		@media (max-width: @screen-xs-max) {
			opacity: .9;
		}
	}
	/* overlay animate out */
	.mfp-fade.mfp-bg.mfp-removing {
		opacity: 0;
	}
	/* content at start */
	.mfp-fade.mfp-wrap .mfp-content {
		-webkit-transition: all .15s ease-out;
		   -moz-transition: all .15s ease-out;
		        transition: all .15s ease-out;
		opacity: 0;
	}
	/* content animate it */
	.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
		opacity: 1;
	}
	/* content animate out */
	.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
		opacity: 0;
	}
	.back-to-top {
		width: 72px;
		height: 43px;
		margin: 30px auto 0;
		cursor: pointer;
		background-image: url(../img/profile/back_to_top.png);
		background-repeat: no-repeat;
		background-position: center top;
		&:hover,
		&:focus {
			background-image: url(../img/profile/back_to_top.png);
			background-position: center bottom;
		}
		&#th {
			width: 62px;
			height: 45px;
			background-image: url(../img/profile/back_to_top-th.png);
			&:hover,
			&:focus {
				background-image: url(../img/profile/back_to_top-th.png);
			}
		}
		&#vn {
			width: 113px;
			height: 44px;
			background-image: url(../img/profile/back_to_top-vn.png);
			&:hover,
			&:focus {
				background-image: url(../img/profile/back_to_top-vn.png);
			}
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
}
