// @import '../bower_components/bootstrap/less/bootstrap.less';
// @import 'template.less';



// html,
// body {
// 	height: 100%;
// }

#showcase {
	header {
		height: 135px;
		background-image: url(../img/bg-header.png);
		@media (max-width: @screen-sm-max) {
			height: 61px;
			background-color: #000000;
		}
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: STARTS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */
	#content {
		height: auto;
		min-height: 100%;
        padding-top: 135px;
        background-color: transparent;
		background-image: url(../img/bg-showcase.jpg);
		background-position: center 20%;
		padding-bottom: 200px;
        @media (max-width: @screen-sm-max) {
        	padding-top: 70px;
        	background-position: center;
        	padding-bottom: 60px;
        }
 		//.row {
		// 	height: 100%;
		// 	margin: 0;
		// 	> div {
		// 		height: 100%;
		// 		padding: 0;
		// 	}
		// }
		.max-width {
            .maxWidth ();
			
			// .intro-wrapper{
			// 	@media (min-width: @screen-sm-max) {
			// 		margin-bottom: 50px;
			// 	}
			// }
			.intro-container{
				@media (min-width: @screen-sm-max) {
					max-width: 570px;
					font-size: 17px;
					line-height: 1.3em;
				}
			}
			.container-4k{
				    color: #bfbfbf;
				    padding-top: 19px;
				    padding-bottom: 19px;
				    max-width: 180px;
				img{
					margin-bottom: 15px;
				}
				a{
					color: @sony-orange;
					&:hover{
						color: #ffffff;
					}
				}

			}
		}
		
		.videos-content {
			.video-content {
				display: none;
				// .video ();
				// margin-bottom: 35px;
				/*.max-width {
				.maxWidth ();
			}*/
			}
		}

		// ---------------------------
		// FILTER START
		// ---------------------------
		.showcase-filters {
			font-size: 12px;
			position: absolute;
			z-index: 2;
			margin-top: 210px;
			width: 100%;
			padding: 15px 0 30px;
			&:before{
				position: absolute;
			    z-index: 1;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    left: 0;
			    display: block;
			    width: 100%;
			    height: 100%;
			    transition: opacity .35s ease;
			    opacity: .6;
				background-image: url('../img/bg-filters.png');
				background-repeat: repeat-y;
				background-position: center center;
				background-size: contain;
			}
			&.opened:before{
				opacity: 1;
			}
			// @media (max-width: @screen-sm-max) {
			@media (max-width: 1024px) {
				opacity: 1;
				background-color: #333333;
				background-image: none;
			}
			@media (max-width: @screen-sm-max) {
				line-height: 2;
				margin-bottom: 0;
			}
			@media (max-width: @screen-xs-max) {
				// padding-bottom: 74px;
				margin-top: 30px;
			}
			// &.collapsing,
			// &.in {
			// 	border: none;
			// 	background-image: none;
			// }
			// &.collapsing {
			// 	padding: 0;
			// }
			// &:before {
			// 	position: absolute;
			// 	z-index: 1;
			// 	top: 0;
			// 	right: 0;
			// 	bottom: 0;
			// 	left: 0;
			// 	display: block;
			// 	width: 100%;
			// 	height: 100%;
			// 	content: '';
			// 	transition: opacity .35s ease;
			// 	opacity: .6;
			// 	background-image: url('../img/bg-filters.png');
			// 	background-repeat: repeat-y;
			// 	background-position: center center;
			// 	background-size: contain;
			// 	@media (max-width: @screen-sm-max) {
			// 		opacity: 1;
			// 		background-color: #333333;
			// 		background-image: none;
			// 	}
			// }
			// &.open:before {
			// 	opacity: 1;
			// }
			// &.open:after {
			// 	content: "";
			//     bottom: -150px;
			//     height: 150px;
			//     width: 1px;
			// }
			// &.open {
			// 	padding-bottom: 180px;
			// }
			.filters-wrapper {
				position: relative;
				z-index: 2;
				display: none;
				height: 350px;
				padding-top: 20px;
				padding-bottom: 50px;
				max-width: 730px;

				.maxWidth ();
				@media (max-width: @screen-sm-max) {
					display: block;
					height: auto;
					padding-right: 30px;
					padding-bottom: 30px;
					padding-left: 30px;
				}
				@media (max-width: @screen-md-max) {
					padding-right: 15px;
					padding-left: 15px;
				}
			}
		}
		// filter box
		.filter-boxes{
			background-color: #464646;
			padding: 20px;
			margin-bottom: 30px;
			height: 135px;
			display: table;
			table-layout: fixed;
			&:hover{
				background-color: #6e6e6e;
				@media (max-width: @screen-sm-max) {
					background-color: #464646;
				}
				transition: color .35s ease;
				cursor: pointer;
			}
			&.active {
				background-color: #1e1e1e;
			}
			@media (max-width: @screen-sm-max) {
				padding: 10px;
			}

			.i-left{
				width: 47%;
				padding-right: 15px;
				vertical-align: bottom;
				display: table-cell;
				@media (max-width: @screen-sm-max) {
					padding-right: 0px;
					width: 100%;
					vertical-align: middle;
				}
				.camera{
					@media (max-width: @screen-sm-max) {
						margin-bottom: 10px;
						&:before{
							content: ' ';
						    display: inline-block;
						    vertical-align: middle;  /* vertical alignment of the inline element */
						    height: 100%;
						}
						img{
							width: 90%;
							display: inline-block;
							vertical-align: bottom;
						}
					}
				}
				.logo-mobile{
					img{
						@media (max-width: @screen-sm-max) {
							height: 20px;
						}
						@media (min-width: 415px) and (max-width:736px) {
							height: 20px !important;
						}
						@media (max-width: @screen-xs-max) {
							height: 15px;
						}
					}
				}
			}
			.i-right{
				width: 53%;
				vertical-align: bottom;
				display: table-cell;
				.logo{
					margin-bottom: 10px;
					img{
						max-height: 15px;
					}
				}
				p{
					margin-bottom: 0;
				}
			}
		}

		// Clear filter
		.filter-clear-wrapper {
			position: absolute;
			right: 0;
			bottom: 0;
			// display: inline-block;
			// padding: 10px 15px;
			// background-color: #484848;
			text-transform: uppercase;
			@media (max-width: @screen-md-max) {
				right: 30px;
			}
			@media (max-width: @screen-sm-max) {
				right: 30px;
				bottom: 30px;
				text-align: center;
			}
			@media (max-width: @screen-xs-max) {
				position: relative;
				right: auto;
				bottom: auto;
			}
			p{
				margin-bottom: 0px;
				padding: 10px 15px;
			    display: inline-block;
			    background-color: #484848;
			    &:hover{
			    	background-color: #6e6e6e;
			    	@media (max-width: @screen-sm-max) {
			    		background-color: #484848;
			    	}
			    	transition: color .35s ease;
			    	cursor: pointer;
			    }
			}
		}
		// FILTER CTA 
		.filter-cta-wrapper {
			width: 100%;
			position: relative;
		    z-index: 2;
		    display: inline-block;
		    cursor: pointer;
			.filter-cta {
				text-transform: uppercase;
				p{
					margin-bottom: 0px;
				}
				.up {
					display: none;
				}
			}
			&:hover{
				@media (min-width: @screen-md-max) {
					color: @sony-orange;
					transition: color .35s ease;
				}
			}
		}
		// ---------------------------
		// FILTER END
		// ---------------------------

		
		// ---------------------------
		// SECTION CONTENT
		// ---------------------------
		.sections-wrapper {
			margin-top: 180px;
			.section-container{

				// SECTION INTRO - START
				.section-intro{
				    @media (min-width: @screen-sm-max) {
	    				display: table;
					    table-layout: fixed;
					    width: 100%;
					    margin-bottom: 55px;
	    			}
					.i-left{
						@media (min-width: @screen-sm-max) {
							display: table-cell;
	    					vertical-align: bottom;
	    					float: none;
	    				}
	    				@media (max-width: @screen-sm-max) {
	    					margin-bottom: 15px;
	    				}
						.section-camera{
							@media (min-width: @screen-sm-max) {
								max-width: 190px;
							}
							.camera{
								@media (max-width: @screen-sm-max) {
									margin-bottom: 20px;
								}
								img{
									@media (max-width: @screen-sm-max) {
										max-width: 500px;
									}
									@media (max-width: 530px) {
										max-width: 100%;
									}
								}
							}
						}
						.section-desc{
							color: @sony-orange;
							@media (min-width: @screen-sm-max) {
								font-size: 16px;
								max-width: 365px;
								display: table;
	    						table-layout: fixed;
	    						height: 113px;
	    					}
							.desc-wrapper{
								@media (min-width: @screen-sm-max) {
									display: table-cell;
	    							vertical-align: bottom;
	    						}
	    						@media (min-width: 415px) and (max-width: @screen-sm-max) {
	    							max-width: 510px;
	    							margin: auto;
	    						}
	    						@media (max-width: @screen-sm-max) {
									display: table;
    								table-layout: fixed;
	    						}
							}
							.logo{
								margin-bottom: 10px;
								@media (max-width: @screen-sm-max) {
									    display: table-cell;
    									vertical-align: middle;
    									float: none;
								}
								img{
									max-height: 33px;
									@media (max-width: @screen-sm-max) {
										float: right;
									}
								}
							}
							p{
								margin-bottom: 0;
								@media (max-width: @screen-sm-max) {
								    display: table-cell;
									vertical-align: middle;
									float: none;
								}
							}
						}
					}
					.i-right{
						@media (min-width: @screen-sm-max) {
							display: table-cell;
	    					vertical-align: bottom;
	    					float: none;
	    				}
	    				@media (max-width: @screen-sm-max) {
							margin-bottom: 25px;
	    				}
						.section-cta{
							height: 48px;
							float: right;
							@media (max-width: @screen-sm-max) {
								height: auto;
								text-align: center;
								float: none;
							}
							.sony-btn{
								padding: 16px 24px;
								display: inline-block;
								span{
									margin-left: 12px;
								}
							}
						}
					}
					.camera {
						@media (min-width: @screen-md-min) {
							position:relative;
							min-height: 110px;
						}
						.img-responsive {
							@media (min-width: @screen-md-min) {
								position: absolute;
								bottom: 0;
							}
						}
					}
				}
				// SECTION INTRO - END 

				// SECTION THUMB - START
				.section-thumb{
					.thumb-wrapper{
						margin-bottom: 30px;
						// height: 260px;
						// @media (max-width: @screen-xs-max) {
						// 	height: 250px;
						// }
						// @media (max-width: 568px) {
						// 	height: 220px;
						// }
						// @media (max-width: 375px) {
						// 	height: 210px;
						// }
						// @media (max-width: 375px) {
						// 	height: 200px;
						// }
						// @media (max-width: 320px) {
						// 	height: 220px;
						// }
						p{
							margin-top: 10px;
							@media (max-width: @screen-xs-max) {
								font-size: 13px;
							}
							// @media (min-width: @screen-md-min) {
							// 	min-height: 80px;
							// }
						}
					}

					.message {
						display: none;
					}

				}
				// SECTION THUMB - END
			}
			.divider {
				margin: 30px auto;
			}
		}


		// ---------------------------
		// SECTION END
		// ---------------------------
	}
	/* ===== ===== ===== ===== ===== */
	/* ----- ----- ----- ----- ----- */
	/* ##### CONTENT :: ENDS ##### */
	/* ----- ----- ----- ----- ----- */
	/* ===== ===== ===== ===== ===== */

	// .fancybox-wrap {
	.mfp-content {
		.video-content {
			padding-top: 20px;
			padding-bottom: 40px;

			.maxWidth ();
			.video ();
			@media (max-width: @screen-sm-max) {
				padding: 60px 10px 40px;
			}
		}
		/*@media (max-width: @screen-sm-max) {
	}*/
		@media (max-width: @screen-xs-max) {
			overflow-x: hidden;
			vertical-align: top;
		}
	}
	// .fancybox-nav {
	button.mfp-arrow {
		// margin-top: -51px;
		visibility: visible;
		width: 60px;
		// span {
		// width: 30px;
		height: 102px;
		transition: opacity .35s ease;
		opacity: .5;

		filter: alpha(opacity=50); /* IE8 and lower */
		@media (max-width: @screen-sm-max) {
			top: 45%;
		}
		@media (max-width: @screen-xs-max) {
			top: 30%;
		}
		&:hover,
		&:focus {
			span {
				opacity: 1;

				filter: alpha(opacity=100); /* IE8 and lower */
			}
		}
	}
	// .fancybox-close {
	button.mfp-close {
		width: 30px;
		height: 30px;
		// top: 20px;
		// right: 20px;
		margin-top: 20px;
		margin-right: 20px;
		// opacity: .5;
		// filter: alpha(opacity=50); /* IE8 and lower */
		transition: opacity .45s ease;
		color: transparent !important;
		background-image: url(../img/lightbox/btn-close.png);
		background-repeat: no-repeat;
		background-position: center top;
		@media (max-width: @screen-sm-max) {
			margin-right: 0;
		}
		&:hover,
		&:focus {
			background-image: url(../img/lightbox/btn-close.png);
			background-position: center bottom;
			span {
				opacity: 1;

				filter: alpha(opacity=100); /* IE8 and lower */
			}
		}
	}
	// .fancybox-next {
	button.mfp-arrow-right {
		background-color: transparent;
		// right: -60px;
		// span {
		background-image: url(../img/lightbox/arrow-next.png);
		background-repeat: no-repeat;
		background-position: center center;
		// }
		&:before,
		&:after {
			content: '';
			border: none;
		}
	}
	// .fancybox-prev {
	button.mfp-arrow-left {
		background-color: transparent;
		// left: -60px;
		// span {
		background-image: url(../img/lightbox/arrow-prev.png);
		background-repeat: no-repeat;
		background-position: center center;
		// 	}
		&:before,
		&:after {
			content: '';
			border: none;
		}
	}
	/* overlay at start */
	.mfp-fade.mfp-bg {
		-webkit-transition: all .15s ease-out;
		   -moz-transition: all .15s ease-out;
		        transition: all .15s ease-out;
		opacity: 0;
	}
	/* overlay animate in */
	.mfp-fade.mfp-bg.mfp-ready {
		position: fixed !important;
		opacity: .85;

		filter: alpha(opacity=85); /* IE8 and lower */
		@media (max-width: @screen-xs-max) {
			opacity: .9;
		}
	}
	/* overlay animate out */
	.mfp-fade.mfp-bg.mfp-removing {
		opacity: 0;
	}
	/* content at start */
	.mfp-fade.mfp-wrap .mfp-content {
		-webkit-transition: all .15s ease-out;
		   -moz-transition: all .15s ease-out;
		        transition: all .15s ease-out;
		opacity: 0;
	}
	/* content animate it */
	.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
		opacity: 1;
	}
	/* content animate out */
	.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
		opacity: 0;
	}
}
