<div class="viet" id="profile-rosli">

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center" style="margin-right:300px;">
            <div>
                <p class="type">Nhà quay phim cưới và thương mại</p>
                <p class="name">Rosli Mohamed</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Malaysia</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-12 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-6">

                <div>
                    <p class="type">Nhà quay phim cưới và thương mại</p>
                    <p class="name">Rosli Mohamed</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Malaysia</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Tôi là Rosil Mohamed từ CST Production. Tôi thành lập công ty từ tháng 1/2015, và biến sở thích thành công việc mang lại lợi nhuận.</p>

            <p>CST Production Sdn Bhd cung cấp dịch vụ quay phim cho đám cưới, chương trình TV và video quảng cáo. Tôi có kế hoạch sẽ dấn sâu vào ngành công nghiệp quay phim trong 5 năm tới.</p>

            <p>Nhiệm vụ của tôi với quay phim là tạo ra những sản phẩm chất lượng cao, vừa đa dạng và giá rẻ. Tôi hài lòng khi làm việc với Sony Malaysia và tôi hiện đang sử dụng máy Sony Alpha series trong các dự án của mình.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Tôi là Rosil Mohamed từ CST Production. Tôi thành lập công ty từ tháng 1/2015, và biến sở thích thành công việc mang lại lợi nhuận.</p>

            <p>CST Production Sdn Bhd cung cấp dịch vụ quay phim cho đám cưới, chương trình TV và video quảng cáo. Tôi có kế hoạch sẽ dấn sâu vào ngành công nghiệp quay phim trong 5 năm tới.</p>

            <p>Nhiệm vụ của tôi với quay phim là tạo ra những sản phẩm chất lượng cao, vừa đa dạng và giá rẻ. Tôi hài lòng khi làm việc với Sony Malaysia và tôi hiện đang sử dụng máy Sony Alpha series trong các dự án của mình.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Phỏng vấn
                    <span class="intv-videographer">Rosli</span>
                </p>
                <img data-original="img/profile/my/rosli/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Phỏng vấn Rosli">

                <img class="quote-1 img-responsive center-block" src="img/profile/my/rosli/quote-1-vn.png" width="303" height="206" alt="Rosli's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh đã đến với quay phim như thế nào và công việc hiện tại của anh là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Nó khởi đầu là sở thích và biến thành công việc chuyên nghiệp khi tôi có thể kiếm tiền từ đó. Tôi yêu thích việc đưa những yếu tố sáng tạo vào trong câu chuyện tình yêu của khách hàng nên tôi đã bắt đầu với quay phim đám cưới. Năm 2008 tôi bắt đầu sản xuất chương trình truyền hình và thương mại. Nhưng đam mê của tôi vẫn là quay phim đám cưới.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ai là người có ảnh hưởng lớn nhất đến hành trình quay phim của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Người có ảnh hưởng lớn nhất đối với sự nghiệp của tôi là Philip Bloom. Đó là bởi vì tôi là một fan của thiết bị quay phim và tất cả những gì liên quan tới nó. Đặc biệt là trong quá trình sản xuất một video, giống như anh ấy.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/my/rosli/profile_pic-2.jpg" width="611" height="207" alt="Interview with Rosli">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Điều gì mà anh trông đợi ở các thiết bị quay phim của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Thiết bị sử dụng không phải là yếu tố chính khi làm video đối với tôi, tôi muốn nội dung phải tốt hơn khi so sánh với thiết bị. Tuy nhiên, sự tồn tại của các thiết bị tiên tiến và công nghệ rất có lợi khi sản xuất những video chất lượng cao với nội dung tốt.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Vì sao anh lựa chọn A7 series là một phần của hành trình quay phim trong công việc và cá nhân của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Máy Sony A7 nhỏ gọn, chất lượng cao, có nhiều định dạng quay và tương thích với phụ kiện cũng như các thiết bị khác. </div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh cảm thấy quay phim đã thay đổi như thế nào trong những năm gần đây?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Nó thay đổi rất nhanh, từ những máy quay truyền hình tiêu chuẩn to lớn, đến truyền hình HD và rất nhiều máy quay bắt đầu có chất lượng hình ảnh 4K từ 2012</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có lời khuyên nào dành cho các nhà quay phim mới khởi đầu?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Những người muốn bắt đầu sự nghiệp như là một nhà quay phim, điều quan trọng nhất chính là đam mê. Nếu như bạn muốn sản xuất một video, hãy làm nó một cách có tâm để mọi người có thể ngưỡng mộ kết quả cuối cùng của sản phẩm. Tìm kiếm thiết bị hoàn hảo phù hợp với việc làm video và thực hiện ý tưởng của mình mà không chở đợi người khác nhận ra nó.</div>
                </div>
                <!-- Q&A 6 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Phỏng vấn <br />
                    <span class="intv-videographer">Rosli</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/my/rosli/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Phỏng vấn Rosli"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh đã đến với quay phim như thế nào và công việc hiện tại của anh là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Nó khởi đầu là sở thích và biến thành công việc chuyên nghiệp khi tôi có thể kiếm tiền từ đó. Tôi yêu thích việc đưa những yếu tố sáng tạo vào trong câu chuyện tình yêu của khách hàng nên tôi đã bắt đầu với quay phim đám cưới. Năm 2008 tôi bắt đầu sản xuất chương trình truyền hình và thương mại. Nhưng đam mê của tôi vẫn là quay phim đám cưới.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ai là người có ảnh hưởng lớn nhất đến hành trình quay phim của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Người có ảnh hưởng lớn nhất đối với sự nghiệp của tôi là Philip Bloom. Đó là bởi vì tôi là một fan của thiết bị quay phim và tất cả những gì liên quan tới nó. Đặc biệt là trong quá trình sản xuất một video, giống như anh ấy.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Điều gì mà anh trông đợi ở các thiết bị quay phim của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Thiết bị sử dụng không phải là yếu tố chính khi làm video đối với tôi, tôi muốn nội dung phải tốt hơn khi so sánh với thiết bị. Tuy nhiên, sự tồn tại của các thiết bị tiên tiến và công nghệ rất có lợi khi sản xuất những video chất lượng cao với nội dung tốt.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Vì sao anh lựa chọn A7 series là một phần của hành trình quay phim trong công việc và cá nhân của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Máy Sony A7 nhỏ gọn, chất lượng cao, có nhiều định dạng quay và tương thích với phụ kiện cũng như các thiết bị khác. </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh cảm thấy quay phim đã thay đổi như thế nào trong những năm gần đây?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Nó thay đổi rất nhanh, từ những máy quay truyền hình tiêu chuẩn to lớn, đến truyền hình HD và rất nhiều máy quay bắt đầu có chất lượng hình ảnh 4K từ 2012</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có lời khuyên nào dành cho các nhà quay phim mới khởi đầu?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Những người muốn bắt đầu sự nghiệp như là một nhà quay phim, điều quan trọng nhất chính là đam mê. Nếu như bạn muốn sản xuất một video, hãy làm nó một cách có tâm để mọi người có thể ngưỡng mộ kết quả cuối cùng của sản phẩm. Tìm kiếm thiết bị hoàn hảo phù hợp với việc làm video và thực hiện ý tưởng của mình mà không chở đợi người khác nhận ra nó.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
