<section id="content" class="container-fluid viet">

    <div class="row">
        

        <!-- !!! INTRO  !!! -->
        <div class="col-sm-12">

            <div class="row max-width center-block marginBottom">

                <div class="col-md-7 col-sm-12 intro-container">
                    <div class="row">
                        <h1 class="hidden-md hidden-lg">Video giới thiệu</h1>
                        <p>Hãy khám phá độ rõ nét như pha lê và chi tiết ấn tượng chưa bao giờ có trước đây với loạt máy ảnh full-frame Sony. Quay ở Full HD hoặc 4K để lưu lại vẻ đẹp sắc nét trong từng khung hình. Thỏa sức sáng tạo hôm nay với máy ảnh Sony Full-Frame.</p>
                        <br/>
                        <p>Lấy cảm hứng từ những video chính thức của Sony bên dưới</p>
                    </div>
                </div>

                <div class="col-md-4 col-md-offset-1 pull-right hidden-sm hidden-xs">
                    <img src="img/showcase/divider-intro.png" width="276" height="2" alt="divider" class="img-responsive center-block">

                    <div class="container-4k center-block">
                        <img src="img/showcase/logo-4k.png" width="88" height="26" alt="4K">
                        <p>Thế giới bên kia sự sắc nét <br> Đón nhận kỷ nguyên mới với 4K</p>
                        <a href="http://www.sony-asia.com/microsite/4Krecording/?cid=4Krecording:ms:ilc:ms:videographer:@@country:@@language:cameras" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:showcase:4k:findOutMore', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:showcase:4k:findOutMore', 'microsite|ilc:videographer:@@country:@@language|showcase|4k|findOutMore');" target="_blank">Tìm hiểu thêm &rsaquo;</a>
                    </div>

                    <img src="img/showcase/divider-intro.png" width="276" height="2" alt="divider" class="img-responsive center-block">
                </div>

                <div class="clearfix"></div>

            </div>

        </div>

        <!-- !!! INTRO  !!! -->


        
        <!-- !!! FILTER : DESKTOP : START !!! -->
        <div id="showcase-filters" class="container-fluid showcase-filters">

            <div class="filters-wrapper center-block" id="filter-wrapper">

                <div class="row">

                    <div class="filter-content">

                    </div>

                    <script id="filter-content" type="text/x-handlebars-template">​
                        {{#each this}}
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="filter-boxes" data-model="{{modelwrap.model}}">
                                <div class="i-left">
                                    <div class="camera">
                                        <img src="img/showcase/{{modelwrap.model}}/camera.png" height="488" width="929" alt="{{modelwrap.model}} camera" class="img-responsive center-block">
                                    </div>
                                    <div class="logo-mobile">
                                        <img src="img/showcase/{{modelwrap.model}}/logo.png" height="79" width="362" alt="{{modelwrap.model}} logo" class="img-responsive center-block hidden-md hidden-lg">
                                    </div>
                                </div>
                                <div class="i-right hidden-xs hidden-sm">
                                    <div class="logo">
                                        <img src="img/showcase/{{modelwrap.model}}/logo.png" height="79" width="362" alt="{{modelwrap.model}} logo" class="img-responsive">
                                    </div>
                                    <p>{{modelwrap.description}}</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        {{/each}}
                    </script>
                </div>


                <!-- Clear filter -->
                <div class="filter-clear-wrapper">
                    <p>Xoá tất cả</p>
                </div>
                <!-- Clear filter -->

            </div>

                

            <!-- Filter cta -->
            <div class="filter-cta-wrapper text-center">
                <div class="filter-cta" id="filter-cta">
                    <div class="up">
                         <img src="img/filter_arrow_up.png" height="10" width="21" alt="Up">
                    </div>
                    <p>Lọc</p>
                    <div class="down">
                        <img src="img/filter_arrow_down.png" height="10" width="21" alt="Down">
                    </div>
                </div>
            </div>
            <!-- Filter cta -->

        </div>

         <!-- !!! FILTER : DESKTOP : END !!! -->




        <!-- !! SECTIONS CONTENT !!  -->
        <div class="clearfix"></div>
        <div class="col-md-8 col-md-offset-2 col-sm-12">
            <div class="videos-content">
            </div>
            <script id="videos-content" type="text/x-handlebars-template">​
                {{#each this}}
                    {{#each modelwrap.videos}}
                    <div id="video-{{../modelwrap.model}}-{{video.id}}" class="video-content center-block" data-videographer="{{videographer.nick}}">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" data-src="{{video.videolink}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div>
                        <div class="clearfix max-width center-block show">
                            <div class="pull-right">
                                <div class="logo text-right">
                                    <a href="{{#getLink ../modelwrap}}{{/getLink}}?cid={{{../modelwrap.cid}}}:pdp:ilc:ms:videographer:@@country:@@language:photo:cta" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:showcase:{{../modelwrap.cid}}:video:discover', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:showcase:{{../modelwrap.cid}}:video:discover', 'microsite|ilc:videographer:@@country:@@language|showcase|{{../modelwrap.cid}}|video|discover','event50');" target="_blank">
                                        <img src="{{../modelwrap.logo}}" alt="{{../modelwrap.alt}}">
                                    </a> 
                                </div>
                            </div>
                            <div class="pull-left">
                                <p class="name">{{video.title}}</p>
                            </div>
                            <div class="clearfix"></div>
                            <div>
                                <img src="img/separator-left.png" height="1" width="297" alt="divider">
                            </div>

                            <p class="title nobottomspacing">{{title}}</p>
                            <p class="description">{{{description}}}</p>

                        </div>
                    </div>
                    {{/each}}
                {{/each}}
            </script>
        </div>

        <div class="col-sm-12">
            <div class="max-width center-block sections-wrapper">
                <div class="showcase-content">
                </div>
                <script id="showcase-content" type="text/x-handlebars-template">​
                    {{#each this}}
                        <div class="section-container row" id="{{modelwrap.model}}">
                            <!-- SECTION :: INTRO -->
                            <div class="section-intro">
                                <!-- left -->
                                <div class="col-md-9 col-sm-12 i-left">
                                    <div class="row">
                                        <div class="col-md-5 col-sm-12 section-camera">
                                            <div class="camera">
                                                <img src="img/showcase/{{modelwrap.model}}/camera.png" height="488" width="929" alt="{{modelwrap.model}} camera" class="img-responsive center-block">
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-12 section-desc">
                                           <div class="desc-wrapper row">
                                                <div class="col-md-12 col-sm-5 col-xs-5 logo">
                                                    <img src="img/showcase/{{modelwrap.model}}/logo.png" height="79" width="362" alt="{{modelwrap.model}} logo" class="img-responsive">
                                                </div>
                                                <p class="col-md-12 col-sm-7 col-xs-7">
                                                   {{modelwrap.description}}
                                                </p>
                                           </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- left -->
                                <!-- right -->
                                <div class="col-md-3 col-sm-12 i-right">
                                    <div class="section-cta">
                                        <a class="sony-btn" href="{{#getLink modelwrap}}{{/getLink}}?cid={{{modelwrap.cid}}}:pdp:ilc:ms:videographer:@@country:@@language:cameras" target="_blank" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:showcase:{{modelwrap.cid}}:discover', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:showcase:{{modelwrap.cid}}:discover', 'microsite|ilc:videographer:@@country:@@language|showcase|{{modelwrap.cid}}|discover','event50');">Khám phá {{{modelwrap.rawmodel}}}
                                            <span>&rsaquo;</span></a>
                                    </div>
                                </div>
                                <!-- right -->
                                <div class="clearfix"></div>
                            </div>
                            <!-- SECTION :: INTRO -->

                            <!-- SECTION :: THUMB -->
                            <div class="section-thumb">
                                {{#each modelwrap.videos}}
                                <div class="col-sm-4 col-xs-6 thumb-wrapper">
                                    <a class="video-carousel video-carousel-non-mobile text-center" rel="video-gallery" data-video="{{count}}" href="#video-{{../modelwrap.model}}-{{video.id}}" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:showcase:{{../modelwrap.cid}}:video', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:showcase:{{../modelwrap.cid}}:video', 'microsite|ilc:videographer:@@country:@@language|showcase|{{../modelwrap.cid}}|video');">
                                        <img src="img/showcase/{{../modelwrap.model}}/thumb-{{video.id}}.jpg" class="img-responsive center-block lazy" width="320" height="180" alt="{{video.title}}">
                                    </a>
                                    <p>{{video.title}}</p>
                                </div>
                                {{/each}}
                            </div>
                            <!-- SECTION :: THUMB -->
                        </div>

                        {{#if @last}}
                          {{else}}
                          <div class="divider">
                              <img src="img/showcase/divider.png" class="img-responsive center-block hidden-sm hidden-xs" width="1002" height="1" alt="divider">
                              <img src="img/showcase/divider-mobile.png" class="img-responsive center-block hidden-md hidden-lg" width="1680" height="11" alt="divider">
                          </div> 
                        {{/if}}
                    {{/each}}
                </script>
            </div>
        </div>
        <!-- !! SECTIONS CONTENT !!  -->



    </div>

</section>
