<div class="viet" id="profile-dusit">

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center">
            <div>
                <p class="type">Nhà sản xuất</p>
                <p class="name">Dusit Sema-nguen</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Thailand</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-4 col-sm-offset-2">

                <div>
                    <p class="type">Nhà sản xuất</p>
                    <p class="name">Dusit Sema-nguen</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Thailand</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Dusit Sema-nguen là nhiếp ảnh gia chuyển hướng sang quay phim, khi mà anh nhận thấy máy ảnh kỹ thuật số có thể thực hiện cả hai điều đó. Thông qua những bộ phim hoặc video, anh truyền tải những cảm xúc vượt qua giới hạn của ảnh tĩnh truyền thống.</p>

            <p>"Mỗi người chúng ta có thể nhìn cùng một sự kiện, nhưng sẽ có nhiều góc độ khác nhau. Một số người cảm thấy buồn, một số người vô cảm và một số cảm thấy giận dữ. Video cho tôi cơ hội để đưa góc nhìn và cảm xúc của mình vào công việc. Nó được gọi là ngôn ngữ điện ảnh. Tôi có thể thêm nhạc, phụ đề, hiệu ứng và điều chỉnh màu sắc để tạo cảm xúc và gửi nó đến với khán giả.</p>

            <p>Trong những sự kiện lịch sử lớn của Thái Lan, Dusit đã sử dụng máy ảnh kỹ thuật số để lưu lại cả hình ảnh lẫn video. Mọi người bắt đầu thưởng thức các nội dung của anh trực tuyến. Sau đó anh quyết định lập một hãng sản xuất nội dung và làm các video cùng với Wannasingha Prasertkul và Pafhan Rachatakul, mang tên World of Form. Công ty này có một danh sách dự án với đủ thể loại từ TV Show, tài liệu, quảng cáo và chương trình trực tuyến.</p>

            <p>Điển hình là Thai DNA, chương trình đi vòng quanh thế giới để tìm hiểu về những người Thái thành công ở ngoại quốc. Phim tài liệu Tapioca với 3 phần (tổng thời lượng 2 giờ) được sản xuất một cách kỹ lưỡng để tạo sự thú vị cho đề tài về nông nghiệp. Changemaker và Examnation là chương trình TV trực tuyến được chiếu trên kênh WOFWOF của World of Form. Những chương trình này đều có điểm nhấn là truyền tải những đề tài nóng của xã hội với phong cách hài hước. Chúng đồng thời cũng thể hiện sự đầu tư của những người sản xuất.</p>

            <p>Tôi muốn tác phẩm của mình như một người kể chuyện tài năng, giúp mọi người có thể cảm nhận được cảm xúc, niềm vui, nỗi buồn trong câu chuyện.  Sự khác biệt ở đây là những người nghe kể sẽ phải tự mình suy nghĩ. Còn đối với tôi, tôi sẽ tạo ra hình ảnh để hoàn tất câu chuyện đó theo cách của mình.</p>

            <p>Sau những ngày làm việc cùng máy ảnh kỹ thuật số thì Dusit cũng có những ngày thư giãn cho riêng mình. Dusit yêu thích máy ảnh phim, anh thường mang những chiếc máy cũ kỹ ra đời cách đây 20 đến 70 năm để chụp ảnh. Cùng với chúng là cảm hứng hoàn thiện hơn kỹ năng của mình. Tuy nhiên Dusit cũng không bao giờ quên mang theo một chiếc máy ảnh kỹ thuật số với khả năng quay video dưới định dạng S-log, để cân chỉnh rồi tạo ra những video bổ sung thêm cho câu chuyện cùng những bức ảnh tĩnh. Bởi vì Dusit tin rằng video có thể giúp anh gửi câu chuyện và cảm xúc đến khán giả nhiều nhất có thể.</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LpYBqC6-I-o?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Dusit Sema-nguen là nhiếp ảnh gia chuyển hướng sang quay phim, khi mà anh nhận thấy máy ảnh kỹ thuật số có thể thực hiện cả hai điều đó. Thông qua những bộ phim hoặc video, anh truyền tải những cảm xúc vượt qua giới hạn của ảnh tĩnh truyền thống.</p>

            <p>"Mỗi người chúng ta có thể nhìn cùng một sự kiện, nhưng sẽ có nhiều góc độ khác nhau. Một số người cảm thấy buồn, một số người vô cảm và một số cảm thấy giận dữ. Video cho tôi cơ hội để đưa góc nhìn và cảm xúc của mình vào công việc. Nó được gọi là ngôn ngữ điện ảnh. Tôi có thể thêm nhạc, phụ đề, hiệu ứng và điều chỉnh màu sắc để tạo cảm xúc và gửi nó đến với khán giả.</p>

            <p>Trong những sự kiện lịch sử lớn của Thái Lan, Dusit đã sử dụng máy ảnh kỹ thuật số để lưu lại cả hình ảnh lẫn video. Mọi người bắt đầu thưởng thức các nội dung của anh trực tuyến. Sau đó anh quyết định lập một hãng sản xuất nội dung và làm các video cùng với Wannasingha Prasertkul và Pafhan Rachatakul, mang tên World of Form. Công ty này có một danh sách dự án với đủ thể loại từ TV Show, tài liệu, quảng cáo và chương trình trực tuyến.</p>

            <p>Điển hình là Thai DNA, chương trình đi vòng quanh thế giới để tìm hiểu về những người Thái thành công ở ngoại quốc. Phim tài liệu Tapioca với 3 phần (tổng thời lượng 2 giờ) được sản xuất một cách kỹ lưỡng để tạo sự thú vị cho đề tài về nông nghiệp. Changemaker và Examnation là chương trình TV trực tuyến được chiếu trên kênh WOFWOF của World of Form. Những chương trình này đều có điểm nhấn là truyền tải những đề tài nóng của xã hội với phong cách hài hước. Chúng đồng thời cũng thể hiện sự đầu tư của những người sản xuất.</p>

            <p>Tôi muốn tác phẩm của mình như một người kể chuyện tài năng, giúp mọi người có thể cảm nhận được cảm xúc, niềm vui, nỗi buồn trong câu chuyện.  Sự khác biệt ở đây là những người nghe kể sẽ phải tự mình suy nghĩ. Còn đối với tôi, tôi sẽ tạo ra hình ảnh để hoàn tất câu chuyện đó theo cách của mình.</p>

            <p>Sau những ngày làm việc cùng máy ảnh kỹ thuật số thì Dusit cũng có những ngày thư giãn cho riêng mình. Dusit yêu thích máy ảnh phim, anh thường mang những chiếc máy cũ kỹ ra đời cách đây 20 đến 70 năm để chụp ảnh. Cùng với chúng là cảm hứng hoàn thiện hơn kỹ năng của mình. Tuy nhiên Dusit cũng không bao giờ quên mang theo một chiếc máy ảnh kỹ thuật số với khả năng quay video dưới định dạng S-log, để cân chỉnh rồi tạo ra những video bổ sung thêm cho câu chuyện cùng những bức ảnh tĩnh. Bởi vì Dusit tin rằng video có thể giúp anh gửi câu chuyện và cảm xúc đến khán giả nhiều nhất có thể.</p>

            <div class="embed-responsive embed-responsive-16by9 yt-video">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LpYBqC6-I-o?rel=0&amp;showinfo=0" allowfullscreen></iframe>
            </div>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Phỏng vấn
                    <span class="intv-videographer">Dusit</span>
                </p>
                <img data-original="img/profile/th/dusit/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Phỏng vấn Dusit">

                <img class="quote-1 img-responsive center-block" src="img/profile/th/dusit/quote-1-vn.png" width="313" height="276" alt="Dusit's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh đến với quay phim như thế nào và công việc hiện nay của anh là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi đã từng chụp ảnh như một sở thích từ rất lâu cho đến khi tôi có một chiếc máy ảnh kỹ thuật số và thử quay video. Tôi phát hiện nó là một cách để tạo ra một loại tác phẩm mới cho phép tôi vượt qua nhiều giới hạn của nhiếp ảnh. Vì thế tôi bắt đầu quay video một cách nghiêm túc hơn. Điều này  ban đầu vẫn chỉ là một sở thích cho đến khi tôi có cơ hội tham dự với tư cách là khách mời cho một phóng sự truyền hình, quay phim để phát sóng. Người quản lý đã tiếp tục mời tôi làm việc cho một phim tài liệu khác, và sau này chúng tôi cùng nhau mở một công ty chuyên sản xuất phim tài liệu, chương trình truyền hình cũng như nhiều thể loại video khác.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ai là người có ảnh hưởng lớn nhất đến hành trình làm phim của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Cho việc quay video của mình, tôi thường tìm kiếm những video được đăng lên Vimeo.com để tham khảo và lấy cảm hứng, cũng như đăng video của chính mình. Tôi phát hiện ra tác phẩm của một nhà làm phim mang tên Paul Wex, người rất xuất sắc trong việc canh khung hình, cân cỉnh màu và cắt ghép. Paul cũng tự mình soạn nhạc. Video của anh ấy kết hợp nhiều yếu tố để tạo thành một tác phẩm nghệ thuật hoàn hảo. Những cảnh Paul Wex quay ở Thái Lan cũng đem đến một góc nhìn mới cho khung cảnh đất nước mà chúng ta đã quá quen thuộc,</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/th/dusit/profile_pic-2.jpg" width="611" height="207" alt="Interview with Dusit">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Điều gì mà anh trông đợi ở các thiết bị quay của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi muốn thiết bị quay phim của mình phải giúp tôi vượt qua tất cả giới hạn vật lý. Về phần còn lại, nó phụ thuộc hoàn toàn vào trí tưởng tượng của chúng ta.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Vì sao anh lại chọn A7 series là một phần của hành trình làm phim trong công việc và cá nhân của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Lần đầu tiên tôi sử dụng một chiếc máy ảnh thuộc dòng A7 là lúc tôi gặp khó khăn khi quay một bộ phim tài liệu ở một khu công nghiệp vào đêm tối. Máy ảnh mà tôi sử dụng gặp rất nhiều vấn đề, kết quả là thước phim có chất lượng kém và bị nhiễu nặng. Vì thế tôi nghiên cứu và tìm kiếm một chiếc máy ảnh có thể hoạt động tốt trong môi trường thiếu sáng, nó dẫn tôi đến A7S. Tôi đã rất ấn tượng về khả năng của chiếc máy ảnh này khi quay ở điều kiện thiếu sáng. Nó đem đến chất lượng hình ảnh cao và sở hữu nhiều tính năng như Slog 2 và Slog 3. Điểm cộng nữa là nó có trọng lượng nhẹ và sự ổn định biến đây là chiếc máy lúc tốt nhất dành cho tôi.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có cảm thấy quay phim đã thay đổi trong những năm gần đây?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Công nghệ tiên tiến đã giúp giảm giới hạn đối với các nhà làm phim. Những chiếc máy ảnh to lớn và cồng kềnh của quá khứ giờ đã trở nên nhỏ gọn, với tính năng tốt hơn bao giờ hết - được phát triển từ sự lắng nghe những người dùng thực thụ.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có lời khuyên nào dành cho các nhà quay phim mới bắt đầu?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Công nghệ đã có bước tiến rất xa. Rất nhiều tính năng tuyệt vời giờ đã xuất hiện ở tầm giá dễ chịu. Bắt đầu nghề quay phim không còn khó khăn trong việc sắm thiết bị. Dù vậy, nó vẫn quan trọng trong việc tìm hiểu cách sử dụng những công cụ và công nghệ, phát triển kỹ năng sử dụng chúng cùng với trí tưởng tượng của chúng ta để tạo ra tác phẩm tốt nhất có thể.</div>
                </div>
                <!-- Q&A 6 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Phỏng vấn <br />
                    <span class="intv-videographer">Dusit</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/th/dusit/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Dusit"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh đến với quay phim như thế nào và công việc hiện nay của anh là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi đã từng chụp ảnh như một sở thích từ rất lâu cho đến khi tôi có một chiếc máy ảnh kỹ thuật số và thử quay video. Tôi phát hiện nó là một cách để tạo ra một loại tác phẩm mới cho phép tôi vượt qua nhiều giới hạn của nhiếp ảnh. Vì thế tôi bắt đầu quay video một cách nghiêm túc hơn. Điều này  ban đầu vẫn chỉ là một sở thích cho đến khi tôi có cơ hội tham dự với tư cách là khách mời cho một phóng sự truyền hình, quay phim để phát sóng. Người quản lý đã tiếp tục mời tôi làm việc cho một phim tài liệu khác, và sau này chúng tôi cùng nhau mở một công ty chuyên sản xuất phim tài liệu, chương trình truyền hình cũng như nhiều thể loại video khác.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ai là người có ảnh hưởng lớn nhất đến hành trình làm phim của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Cho việc quay video của mình, tôi thường tìm kiếm những video được đăng lên Vimeo.com để tham khảo và lấy cảm hứng, cũng như đăng video của chính mình. Tôi phát hiện ra tác phẩm của một nhà làm phim mang tên Paul Wex, người rất xuất sắc trong việc canh khung hình, cân cỉnh màu và cắt ghép. Paul cũng tự mình soạn nhạc. Video của anh ấy kết hợp nhiều yếu tố để tạo thành một tác phẩm nghệ thuật hoàn hảo. Những cảnh Paul Wex quay ở Thái Lan cũng đem đến một góc nhìn mới cho khung cảnh đất nước mà chúng ta đã quá quen thuộc,</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Điều gì mà anh trông đợi ở các thiết bị quay của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi muốn thiết bị quay phim của mình phải giúp tôi vượt qua tất cả giới hạn vật lý. Về phần còn lại, nó phụ thuộc hoàn toàn vào trí tưởng tượng của chúng ta. </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Vì sao anh lại chọn A7 series là một phần của hành trình làm phim trong công việc và cá nhân của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Lần đầu tiên tôi sử dụng một chiếc máy ảnh thuộc dòng A7 là lúc tôi gặp khó khăn khi quay một bộ phim tài liệu ở một khu công nghiệp vào đêm tối. Máy ảnh mà tôi sử dụng gặp rất nhiều vấn đề, kết quả là thước phim có chất lượng kém và bị nhiễu nặng. Vì thế tôi nghiên cứu và tìm kiếm một chiếc máy ảnh có thể hoạt động tốt trong môi trường thiếu sáng, nó dẫn tôi đến A7S. Tôi đã rất ấn tượng về khả năng của chiếc máy ảnh này khi quay ở điều kiện thiếu sáng. Nó đem đến chất lượng hình ảnh cao và sở hữu nhiều tính năng như Slog 2 và Slog 3. Điểm cộng nữa là nó có trọng lượng nhẹ và sự ổn định biến đây là chiếc máy lúc tốt nhất dành cho tôi.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có cảm thấy quay phim đã thay đổi trong những năm gần đây?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Công nghệ tiên tiến đã giúp giảm giới hạn đối với các nhà làm phim. Những chiếc máy ảnh to lớn và cồng kềnh của quá khứ giờ đã trở nên nhỏ gọn, với tính năng tốt hơn bao giờ hết - được phát triển từ sự lắng nghe những người dùng thực thụ.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có lời khuyên nào dành cho các nhà quay phim mới bắt đầu?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Công nghệ đã có bước tiến rất xa. Rất nhiều tính năng tuyệt vời giờ đã xuất hiện ở tầm giá dễ chịu. Bắt đầu nghề quay phim không còn khó khăn trong việc sắm thiết bị. Dù vậy, nó vẫn quan trọng trong việc tìm hiểu cách sử dụng những công cụ và công nghệ, phát triển kỹ năng sử dụng chúng cùng với trí tưởng tượng của chúng ta để tạo ra tác phẩm tốt nhất có thể.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
