<section id="content" class="container-fluid viet">

    <div class="row">

        <!-- Desktop -->
        <div class="col-sm-12 videographer-container">


            <!-- FIRST ROW -->

            <div id="videographer-my-rosli" class="videographer pull-left" data-country="my">
                <a href="@@country/@@language/profile-rosli.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:home:rosli', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:home:rosli', 'microsite|ilc:videographer:@@country:@@language|home|rosli');">
                    <div class="content-header-bg hidden-sm hidden-xs"></div>
                    <div class="bg desktop hidden-xs hidden-sm"></div>
                    <div class="bg mobile hidden-md hidden-lg"></div>
                    <div class="name text-center">
                        <div class="hover">
                            <p class="genre">Nhà quay phim thương mại</p>
                        </div>
                        <p class="videographer-name">Rosli Mohamed</p>
                        <p class="country-name">Malaysia</p>
                    </div>
                    <!-- <div class="bg"></div> -->
                </a>
            </div>


            <div id="videographer-camera-1" class="videographer-static videographer hidden-xs hidden-sm pull-left">
                <div>
                    <div class="bg desktop hidden-xs hidden-sm">
                        <div class="content-header-bg hidden-sm hidden-xs"></div>
                    </div>
                    <div class="bg mobile hidden-md hidden-lg"></div>
                </div>
            </div>


            <div id="videographer-ph-pepe" class="videographer pull-left" data-country="ph">
                <a href="@@country/@@language/profile-pepe.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:home:pepe', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:home:pepe', 'microsite|ilc:videographer:@@country:@@language|home|pepe');">
                    <div class="content-header-bg hidden-sm hidden-xs"></div>
                    <div class="bg desktop hidden-xs hidden-sm"></div>
                    <div class="bg mobile hidden-md hidden-lg"></div>
                    <div class="name text-center">
                        <div class="hover">
                            <p class="genre">Nhà làm phim</p>
                        </div>
                        <p class="videographer-name">Pepe Diokno</p>
                        <p class="country-name">Philippines</p>
                    </div>
                </a>
            </div>


            <div id="videographer-camera-2" class="videographer-static videographer hidden-xs hidden-sm pull-left">
                <div>
                    <div class="bg desktop hidden-xs hidden-sm">
                        <div class="content-header-bg hidden-sm hidden-xs"></div>
                    </div>
                    <div class="bg mobile hidden-md hidden-lg"></div>
                </div>
            </div>

            <!-- FIRST ROW -->




            <!-- SECOND ROW -->

            <div id="home-main" class="home-main pull-left hidden-sm hidden-xs">
                <div class="bg desktop"></div>
            </div>

            <!-- SECOND ROW -->




            <!-- THIRD ROW -->

            <div id="videographer-camera-3" class="videographer-static videographer hidden-xs hidden-sm pull-left">
                <div>
                    <div class="bg desktop hidden-xs hidden-sm"></div>
                    <div class="bg mobile hidden-md hidden-lg"></div>
                </div>
                <div class="content-footer-bg hidden-sm hidden-xs"></div>
            </div>



            <div id="videographer-ph-mayad" class="videographer pull-left" data-country="ph">
                <a href="@@country/@@language/profile-mayad.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:home:mayad', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:home:mayad', 'microsite|ilc:videographer:@@country:@@language|home|mayad');">
                    <div class="bg desktop hidden-xs hidden-sm"></div>
                    <div class="bg mobile hidden-md hidden-lg"></div>
                    <div class="name text-center">
                        <div class="hover">
                            <p class="genre">Nhà quay phim cưới</p>
                        </div>
                        <p class="videographer-name">Mayad Studios</p>
                        <p class="country-name">Philippines</p>
                    </div>
                </a>
                <div class="content-footer-bg hidden-sm hidden-xs"></div>
            </div>



            <div id="videographer-camera-4" class="videographer-static videographer hidden-xs hidden-sm pull-left">
                <div>
                    <div class="bg desktop hidden-xs hidden-sm"></div>
                    <div class="bg mobile hidden-md hidden-lg"></div>
                </div>
                <div class="content-footer-bg hidden-sm hidden-xs"></div>
            </div>


            <!-- <div id="videographer-coming-soon" class="videographer-static videographer pull-left">
                <div>
                    <div class="bg desktop hidden-xs hidden-sm"></div>
                    <div class="bg mobile hidden-md hidden-lg"></div>
                    <div class="name text-center">
                        <p class="videographer-name">Sắp có</p>
                    </div>
                </div>
                <div class="content-footer-bg hidden-sm hidden-xs"></div>
            </div> -->

            <div id="videographer-th-dusit" class="videographer pull-left" data-country="th">
                <a href="@@country/@@language/profile-dusit.html" onclick="var e = arguments[0] || window.event; if (e.stopPropagation != null) e.stopPropagation(); else e.cancelBubble = true; trackMs_link('ms:ilc:videographer:@@country:@@language:home:dusit', 'ilc:videographer:@@country:@@language', 'ilc:videographer:@@country:@@language:home:dusit', 'microsite|ilc:videographer:@@country:@@language|home|dusit');">
                    <div class="bg desktop hidden-xs hidden-sm"></div>
                    <div class="bg mobile hidden-md hidden-lg"></div>
                    <div class="name text-center">
                        <div class="hover">
                            <p class="genre">Nhà sản xuất</p>
                        </div>
                        <p class="videographer-name">Dusit Sema-nguen</p>
                        <p class="country-name">Thailand</p>
                    </div>
                </a>
                <div class="content-footer-bg hidden-sm hidden-xs"></div>
            </div>


            <div id="videographer-cameras" class="videographer-cameras videographer hidden-md hidden-lg pull-left">
                <div>
                    <div class="bg desktop hidden-xs hidden-sm"></div>
                    <div class="bg mobile hidden-md hidden-lg"></div>
                </div>
                <div class="content-footer-bg hidden-sm hidden-xs"></div>
            </div>
        

            <!-- THIRD ROW -->




        </div>
        <!-- Desktop -->




    </div>

</section>
