<div class="viet" id="profile-mayad">

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center">
            <div>
                <p class="type">Nhà quay phim đám cưới</p>
                <p class="name">Mayad Studios<br/>& Mayad Academy</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Philippines</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-12 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-8 col-sm-6">

                <div>
                    <p class="type">Nhà quay phim đám cưới</p>
                    <p class="name">Mayad Studios<br/>& Mayad Academy</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Philippines</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Mayad Studios là một trong những studio quay phim đám cưới được yêu thích nhất ở Châu Á. Với hơn 10 năm kinh nghiệm trong ngành, danh sách tác phẩm của studio có sự góp mặt của những người nổi tiếng hàng đầu Philipines. Từ sự khởi đầu khiêm tốn ở một thành phố trên quần đảo phía nam, danh tiếng của studio đã vượt ra khỏi biên giới. Chuyên về đám cứu phương xa, Mayad Studios có sự hiện diện ở hơn mười địa điểm trên thế giới từ Châu Á, Châu Âu cho đến Mỹ.</p>

            <p>Học viện Mayad là nơi nơi huấn luyện của Mayad Studios. Kể từ lúc thành lập vào năm 2008, học viện Mayad đã đào tạo thế hệ nhà quay phim tiếp theo của Châu Á thông qua công tác huấn luyện và mở các workshop về quay phim. Những buổi học của học viện luôn được chờ đón và kín người tham gia.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Mayad Studios là một trong những studio quay phim đám cưới được yêu thích nhất ở Châu Á. Với hơn 10 năm kinh nghiệm trong ngành, danh sách tác phẩm của studio có sự góp mặt của những người nổi tiếng hàng đầu Philipines. Từ sự khởi đầu khiêm tốn ở một thành phố trên quần đảo phía nam, danh tiếng của studio đã vượt ra khỏi biên giới. Chuyên về đám cứu phương xa, Mayad Studios có sự hiện diện ở hơn mười địa điểm trên thế giới từ Châu Á, Châu Âu cho đến Mỹ.</p>

            <p>Học viện Mayad là nơi nơi huấn luyện của Mayad Studios. Kể từ lúc thành lập vào năm 2008, học viện Mayad đã đào tạo thế hệ nhà quay phim tiếp theo của Châu Á thông qua công tác huấn luyện và mở các workshop về quay phim. Những buổi học của học viện luôn được chờ đón và kín người tham gia.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Phỏng vấn
                    <span class="intv-videographer">Mayad Studios</span>
                </p>
                <img data-original="img/profile/ph/mayad/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Phỏng vấn Mayad Studios">

                <img class="quote-1 img-responsive center-block" src="img/profile/ph/mayad/quote-1-vn.png" width="314" height="176" alt="Mayad Studios's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Các anh đến với quay phim như thế nào và công việc các anh đang làm là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Lúc đó chúng tôi 21 tuổi - vừa mới tốt nghiệp cao đẳng khi bắt đầu Mayad Studios. Chúng tôi khởi đầu công ty bằng việc thiết kế và đồ hoạ web. Sau nhiều tháng chúng tôi được trao cơ hội làm một đoạn video cho một ngôi trường. Khách hàng của chúng tôi đã rất ấn tượng và điều đó đã thuyết phục chúng tôi bước chân vào ngành công nghiệp quay phim và tsau đó là vào ngành công nghiệp đám cưới. Với niềm đam mê, sự kiên trì và rất nhiều nhiệt huyết, chúng tôi đã tạo ra những đoạn video thể hiện được tính sáng tạo, phong cách độc đáo và sự đa dạng trong nghệ thuật.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ai là người có ảnh hưởng lớn nhất đến hành trình quay phim của các anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Cùng với việc gắn bó với nghề qua năm tháng, chúng tôi cũng có được hiểu biết từ nhiều khách hàng và cảm hứng từ tất cả các thể loại nghệ thuật. Nó có thể là video ca nhạc, sơn màu, quảng cáo, tranh vẽ; nguồn cảm hứng là vô tận. Nó là một cảm giác mãnh liệt thúc đẩy chúng tôi thu nhận và biến những nghệ thuật đó thành tác phẩm của mình.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/ph/mayad/profile_pic-2.jpg" width="611" height="207" alt="พูดคุย กับ Mayad Studios">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Điều gì mà anh trông đợi ở các thiết bị quay phim của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Chúng tôi luôn muốn những thiết bị quay phim của mình nhẹ để có thể luôn mang theo khi di chuyển. Những thiết bị cho phép chúng tôi tập trung hơn vào cách thể hiện câu chuyện của mình. Nhiều tính năng là một điểm cộng, cho chúng tôi đóng góp vào sự phát triển của ngành công nghiệp làm phim đám cưới, không phải chỉ ở Philipines mà còn ở nước ngoài.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Tại sao anh chọn các máy ảnh A7 series là một phần của hành trình quay phim trong công việc và cá nhân của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">A7 series, với kích thước nhỏ, cho phép chúng tôi không gây sự chú ý trong quá trình quay. Chưa kể những tính năng mà nó sở hữu là cần thiết để quay chất lượng cao, như 4K, slow-motion và độ nhạy ISO cao.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh cảm thấy quay phim đã thay đổi như thế nào trong những năm gần đây?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Trào lưu gần đây thay đổi chóng mặt. Nó có thể hoành tráng như những cảnh quay trên không trung hay quay slow-motion hoặc đơn giản như sử dụng tripod và cầm tay. Từ những chiếc máy ảnh lớn, nó đã trở nên dễ dàng hơn cho nhà quay phim, với ống kính và sự chuyển động. Quay phim nhìn chung đã trở nên giàu tưởng tượng, sáng tạo và cá nhân hơn trong cùng một thời điểm. Điều quan trọng là lựa chọn đúng thiết bị và máy quay dựa trên cảnh để có thể kể lại câu chuyện mà bạn muốn.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có lời khuyên nào dành cho các nhà quay phim mới khởi đầu?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Chúng tôi đã nhắc đi nhắc lại:cảm hứng và sự khát khao. Những kinh nghiệm mới có thể được tạo ra. Chúng ta chỉ cần chào đón sự thay đổi và học hỏi từ nó. Không bao giờ dừng học hỏi và chia sẻ. Thử thách bản thân mỗi ngày để đạt đến tầm cao mới và yêu thích những gì bạn làm bởi nó sẽ biến thành tác phẩm của bạn.</div>
                </div>
                <!-- Q&A 6 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Phỏng vấn <br />
                    <span class="intv-videographer">Mayad Studios</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/ph/mayad/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Mayad Studios"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Các anh đến với quay phim như thế nào và công việc các anh đang làm là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Lúc đó chúng tôi 21 tuổi - vừa mới tốt nghiệp cao đẳng khi bắt đầu Mayad Studios. Chúng tôi khởi đầu công ty bằng việc thiết kế và đồ hoạ web. Sau nhiều tháng chúng tôi được trao cơ hội làm một đoạn video cho một ngôi trường. Khách hàng của chúng tôi đã rất ấn tượng và điều đó đã thuyết phục chúng tôi bước chân vào ngành công nghiệp quay phim và tsau đó là vào ngành công nghiệp đám cưới. Với niềm đam mê, sự kiên trì và rất nhiều nhiệt huyết, chúng tôi đã tạo ra những đoạn video thể hiện được tính sáng tạo, phong cách độc đáo và sự đa dạng trong nghệ thuật.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ai là người có ảnh hưởng lớn nhất đến hành trình quay phim của các anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Cùng với việc gắn bó với nghề qua năm tháng, chúng tôi cũng có được hiểu biết từ nhiều khách hàng và cảm hứng từ tất cả các thể loại nghệ thuật. Nó có thể là video ca nhạc, sơn màu, quảng cáo, tranh vẽ; nguồn cảm hứng là vô tận. Nó là một cảm giác mãnh liệt thúc đẩy chúng tôi thu nhận và biến những nghệ thuật đó thành tác phẩm của mình.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Điều gì mà anh trông đợi ở các thiết bị quay phim của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Chúng tôi luôn muốn những thiết bị quay phim của mình nhẹ để có thể luôn mang theo khi di chuyển. Những thiết bị cho phép chúng tôi tập trung hơn vào cách thể hiện câu chuyện của mình. Nhiều tính năng là một điểm cộng, cho chúng tôi đóng góp vào sự phát triển của ngành công nghiệp làm phim đám cưới, không phải chỉ ở Philipines mà còn ở nước ngoài.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Tại sao anh chọn các máy ảnh A7 series là một phần của hành trình quay phim trong công việc và cá nhân của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">A7 series, với kích thước nhỏ, cho phép chúng tôi không gây sự chú ý trong quá trình quay. Chưa kể những tính năng mà nó sở hữu là cần thiết để quay chất lượng cao, như 4K, slow-motion và độ nhạy ISO cao.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh cảm thấy quay phim đã thay đổi như thế nào trong những năm gần đây?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Trào lưu gần đây thay đổi chóng mặt. Nó có thể hoành tráng như những cảnh quay trên không trung hay quay slow-motion hoặc đơn giản như sử dụng tripod và cầm tay. Từ những chiếc máy ảnh lớn, nó đã trở nên dễ dàng hơn cho nhà quay phim, với ống kính và sự chuyển động. Quay phim nhìn chung đã trở nên giàu tưởng tượng, sáng tạo và cá nhân hơn trong cùng một thời điểm. Điều quan trọng là lựa chọn đúng thiết bị và máy quay dựa trên cảnh để có thể kể lại câu chuyện mà bạn muốn.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có lời khuyên nào dành cho các nhà quay phim mới khởi đầu?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Chúng tôi đã nhắc đi nhắc lại:cảm hứng và sự khát khao. Những kinh nghiệm mới có thể được tạo ra. Chúng ta chỉ cần chào đón sự thay đổi và học hỏi từ nó. Không bao giờ dừng học hỏi và chia sẻ. Thử thách bản thân mỗi ngày để đạt đến tầm cao mới và yêu thích những gì bạn làm bởi nó sẽ biến thành tác phẩm của bạn.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
