<div class="viet" id="profile-pepe">

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="info-wrapper hidden-xs hidden-sm">

        <div class="pull-right text-center">
            <div>
                <p class="type">Nhà làm phim</p>
                <p class="name">Jose Lorenzo<br/>Pepe Diokno</p>
            </div>
            <div class="divider-white">
                <img src="img/profile/divider-white.png" width="301" height="2" alt="divider">
            </div>

            <div>
                <p class="country">Philippines</p>
            </div>

        </div>

    </div>
    <!-- Desktop -->


    <div class="clearfix"></div>


    <!-- Mobile -->
    <div class="info-wrapper-mobile hidden-md hidden-lg col-xs-12 col-sm-11 clearfix">
        <div class="row">

            <div class="pull-right text-center col-xs-7 col-sm-4 col-sm-offset-2">

                <div>
                    <p class="type">Nhà làm phim</p>
                    <p class="name">Jose Lorenzo Pepe Diokno</p>
                </div>

                <div class="divider-white">
                    <img src="img/profile/divider-white.png" class="img-responsive center-block" width="301" height="2" alt="divider">
                </div>

                <div>
                    <p class="country">Philippines</p>
                </div>

            </div>

            <div class="text-center col-xs-4 col-sm-6"></div>

        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- VIDEOGRAPHER NAME End -->
    <!-- ////////////////////////////////////////////// -->


    <div class="clearfix"></div>


    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION Start -->
    <!-- ////////////////////////////////////////////// -->

    <!-- Desktop -->
    <div class="desc-wrapper hidden-xs hidden-sm">
        <div class="desc desc-container">
            <p>Pepe Dioko là một nhà làm phim trẻ đạt nhiều giải thưởng của Philipines và ở lĩnh vực này, anh đảm nhiệm nhiều vai trò - đạo diễn, nhà sản xuất và biên kịch. Anh cũng có chuyên mục hàng tuần trên The Philipines Star mang tên Pepe Don't Preach và đóng góp thường xuyên cho Rappler, một trong những nguồn tin trực tuyến hàng đầu Philipines.</p>

            <p>Diokno xuất thân từ một gia đình chính trị nhưng anh tìm thấy con đường riêng của mình trong nghệ thuật kể chuyện. Bộ phim đầu tay của anh, Engkwentro, được đánh giá cao bởi những nhà bình phim nội địa lẫn ngoại quốc. Nó đã nhận được rất nhiều giải thưởng; từ ghi nhận đặc biệt tại 2009 Cinemalaya Independent Film Festival và  Best Editing Award tại 2009 Gawad Urian Awards ở Philipines, cho đến NETPAC Award for Best Asian Film tại 2010 Jeonju International Film Festival ở Châu Á và Lion of the future – “Luigi de Laurentiis” Award for Best Debut Film tại 2009 Venice Film Festival.</p>

            <p>Sự thành công của bộ phim đầu tiên giúp đảm bảo vị trí cho bộ phim thứ hai của anh, Above The Clouds, tại Tokyo International Film Festival lần thứ 27.</p>

            <p>Ở tuổi 23, anh nhận được giải thưởng danh giá Dangal ng Ani Award từ Cục Văn Hoá và Nghệ Thuật Quốc gia cho những đóng góp của anh đối với nền điện ảnh Philipines. Cũng trong năm đó, Phaidon Press của Anh thừa nhận tài năng và ghi tên anh vào Take 100: the Future of Film, một cuốn sách về 100 nhà làm phim xuất sắc mới nổi trên toàn thế giới.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange.png" class="img-responsive center-block" width="700" height="1" alt="divider">
            </div>
        </div>
    </div>
    <!-- Desktop -->


    <!-- Mobile -->
    <div class="hidden-md hidden-lg col-xs-12 col-md-offset-4 col-md-6 clearfix">
        <div class="desc">
            <p>Pepe Dioko là một nhà làm phim trẻ đạt nhiều giải thưởng của Philipines và ở lĩnh vực này, anh đảm nhiệm nhiều vai trò - đạo diễn, nhà sản xuất và biên kịch. Anh cũng có chuyên mục hàng tuần trên The Philipines Star mang tên Pepe Don't Preach và đóng góp thường xuyên cho Rappler, một trong những nguồn tin trực tuyến hàng đầu Philipines.</p>

            <p>Diokno xuất thân từ một gia đình chính trị nhưng anh tìm thấy con đường riêng của mình trong nghệ thuật kể chuyện. Bộ phim đầu tay của anh, Engkwentro, được đánh giá cao bởi những nhà bình phim nội địa lẫn ngoại quốc. Nó đã nhận được rất nhiều giải thưởng; từ ghi nhận đặc biệt tại 2009 Cinemalaya Independent Film Festival và  Best Editing Award tại 2009 Gawad Urian Awards ở Philipines, cho đến NETPAC Award for Best Asian Film tại 2010 Jeonju International Film Festival ở Châu Á và Lion of the future – “Luigi de Laurentiis” Award for Best Debut Film tại 2009 Venice Film Festival.</p>

            <p>Sự thành công của bộ phim đầu tiên giúp đảm bảo vị trí cho bộ phim thứ hai của anh, Above The Clouds, tại Tokyo International Film Festival lần thứ 27.</p>

            <p>Ở tuổi 23, anh nhận được giải thưởng danh giá Dangal ng Ani Award từ Cục Văn Hoá và Nghệ Thuật Quốc gia cho những đóng góp của anh đối với nền điện ảnh Philipines. Cũng trong năm đó, Phaidon Press của Anh thừa nhận tài năng và ghi tên anh vào Take 100: the Future of Film, một cuốn sách về 100 nhà làm phim xuất sắc mới nổi trên toàn thế giới.</p>

            <div class="divider-orange">
                <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
            </div>
        </div>
    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- DESCRIPTION End -->
    <!-- ////////////////////////////////////////////// -->



    <div class="clearfix"></div>



    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Start -->
    <!-- ////////////////////////////////////////////// -->


    <!-- Desktop -->
    <div class="intv-wrapper hidden-xs hidden-sm clearfix">

        <!-- interview -->
        <div class="intv-content">

            <div class="interview pull-left">
                <img src="img/profile/chat_bubble.png" width="96" height="79" alt="Chat bubble">
                <p class="intv-title">Phỏng vấn
                    <span class="intv-videographer">Pepe</span>
                </p>
                <img data-original="img/profile/ph/pepe/profile_pic-1.jpg" class="lazy" width="316" height="385" alt="Phỏng vấn Pepe">

                <img class="quote-1 img-responsive center-block" src="img/profile/ph/pepe/quote-1-vn.png" width="310" height="300" alt="Pepe's quote">
            </div>


            <div class="qna pull-right">

                <!-- Q&A 1 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh đến với quay phim như thế nào và công việc hiện nay của anh là gì?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Làm phim đã trở thành một đam mê của tôi từ thời trung học. Tôi khởi đầu bằng những dự án của trường, và phát triển bằng cách làm những bộ phim ngắn của mình với sự giúp đỡ của bạn bè. Có những điều mà tôi muốn kể lại bằng một chiếc máy ảnh - với hình ảnh và âm thanh - mà tôi đã yêu một cách say đắm. Có lẽ đó là sức mạnh của điện ảnh với khả năng lưu lại trải nghiệm của con ngời và khiến chúng ta cười, và khóc, và suy nghĩ, và học hỏi. Hay có lẽ đó là cách mà tôi trải nghiệm cuộc sống. Với mỗi câu chuyên tôi kể, tôi có thể sống trong một thế giới khác.</div>
                </div>
                <!-- Q&A 1 -->

                <!-- Q&A 2 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Ai là người có ảnh hưởng lớn nhất đến hành trình làm phim của anh?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi thích cụm từ "hành trình" vì nó nhấn mạnh quá trình thay vì kết quả. Vào tháng 12, tôi tham dự một khoá học chuyên sâu của nhà làm phim huyền thoại người Iran Mohsen Makhmalbat. Họ đã cho tôi xem một tài liệu gọi là "Daddy's School" về cách mà anh ấy dạy gia đình mình cách làm phim. Một trong những bài học đầu tiên là cách đọc thơ. Không phải kỹ thuật quay, mà là thơ. Tôi học được rằng hành trình làm phim là hành trình học hỏi bất tận. Học bằng trải nghiệm và quan sát cuộc sống hằng ngày, du lịch, đọc, nghe nhạc, thưởng thức nghệ thuật,... Tôi cố làm tất cả điều đó, và tôi cảm thấy hành trình của mình chỉ mới bắt đầu.</div>
                </div>
                <!-- Q&A 2 -->

                <img class="profile_pic img-responsive pull-right lazy" data-original="img/profile/ph/pepe/profile_pic-2.jpg" width="611" height="207" alt="Interview with Pepe">

                <!-- Q&A 3 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Điều gì mà anh trông đợi ở các thiết bị quay của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Câu chuyện ở khắp mọi nơi, và máy quay của tôi cần phải có thể đồng hành với tôi ở bất kỳ nơi đâu, dẫu cho nó là một cảnh quay du kích trong lòng chợ bận rộn, một buổii leo  núi, hay một cảnh dựng chuyên nghiệp với đèn, phông và cả đoàn làm phim.</div>
                </div>
                <!-- Q&A 3 -->

                <!-- Q&A 4 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Vì sao anh lại chọn A7 series là một phần của hành trình làm phim trong công việc và cá nhân của mình?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tôi có thể mang nó đi khắp nơi. Tôi quay lại tất cả với nó, từ chuyến đi du lịch của bản thân cho đến phim độc lập ("Kapatiran") tới những chương trình truyền hình ("Single/Single") và cả quảng cáo thương mại trên TV. Nó rất đa năng. Đủ nhỏ gọn để có thể đeo trên cổ bạn, nhưng bên trong, nó có tất cả sức mạnh mà tôi cần. Ngay cả ngoài trời, khi mặt trăng vừa lên, tôi vẫn có thể làm phim. Ngoài ra, chiếc máy này còn có thể quay 4K và tích hợp hàng loạt tính năng như slow-mo và profile màu. Với ngàm chuyển, tôi có thể sử dụng bất kỳ ống kính nào mà mình muốn. Sự lựa chọn ống kính rất quan trọng khi kể chuyện. Tôi từng sử dụng những ống kính mà mẹ mua từ 1980. Kết quả thật tuyệt vời.</div>
                </div>
                <!-- Q&A 4 -->

                <!-- Q&A 5 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có cảm thấy quay phim đã thay đổi trong những năm gần đây?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Ngày nay chúng ta rất tự do. Công nghệ mới đã giúp việc làm phim gần hơn với mọi người, và đó là điều tốt. Chúng ta có thể kể lại nhiều câu chuyện hơn, thử nghiệm nhiều hơn, chơi nhiều hơn. Càng đa năng thì càng ít thứ để lo lắng, nó chỉ còn cảm giác tuyệt vời khi quay.</div>
                </div>
                <!-- Q&A 5 -->

                <!-- Q&A 6 -->
                <div class="ques-row clearfix">
                    <div class="ques pull-left">Q</div>
                    <div class="question pull-left">Anh có lời khuyên nào dành cho các nhà quay phim mới bắt đầu?</div>
                </div>
                <div class="ans-row clearfix">
                    <div class="ans pull-left">A</div>
                    <div class="answer pull-left">Tiếp tục học hỏi và khám phá. Làm phim là một cuộc hành trình, không phải là điểm đến. Nó là điều tốt khi bạn lựa chọn một chiếc máy không đặt ra giới hạn cho bạn. Một chiếc máy có thể mở ra cho bạn nhiều khả năng hơn. Đối với tôi đó là A7 series. Tôi đang tận hưởng sự tự do; tôi chỉ muốn tiếp tục quay và sáng tạo nhiều hơn với kết quả tuyệt vời</div>
                </div>
                <!-- Q&A 6 -->

            </div>

        </div>
        <!-- interview -->


        <div class="clearfix"></div>

    </div>
    <!-- Desktop -->






    <!-- Mobile -->
    <div class="intv-mobile hidden-md hidden-lg col-xs-12 clearfix">

        <div class="row clearfix">
            <div class="col-xs-3 col-sm-2">
                <img src="img/profile/chat_bubble-mobile.png" class="img-responsive" width="156" height="128" alt="Chat bubble">
            </div>
            <div class="col-xs-8 col-xs-offset-1 col-sm-9 col-xs-offset-1">
                <p class="intv-title">Phỏng vấn <br />
                    <span class="intv-videographer">Pepe</span>
                </p>
            </div>
        </div>

        <div class="intv-btm"><img data-original="img/profile/ph/pepe/profile_pic-mobile.jpg" class="img-responsive center-block lazy" width="580" height="500" alt="Interview with Pepe"></div>



        <!-- Interview Wrapper Start -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <!-- Interview Start -->

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-1">
                    <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh đến với quay phim như thế nào và công việc hiện nay của anh là gì?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="Question-1">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Làm phim đã trở thành một đam mê của tôi từ thời trung học. Tôi khởi đầu bằng những dự án của trường, và phát triển bằng cách làm những bộ phim ngắn của mình với sự giúp đỡ của bạn bè. Có những điều mà tôi muốn kể lại bằng một chiếc máy ảnh - với hình ảnh và âm thanh - mà tôi đã yêu một cách say đắm. Có lẽ đó là sức mạnh của điện ảnh với khả năng lưu lại trải nghiệm của con ngời và khiến chúng ta cười, và khóc, và suy nghĩ, và học hỏi. Hay có lẽ đó là cách mà tôi trải nghiệm cuộc sống. Với mỗi câu chuyên tôi kể, tôi có thể sống trong một thế giới khác.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-2">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Ai là người có ảnh hưởng lớn nhất đến hành trình làm phim của anh?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-2">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi thích cụm từ "hành trình" vì nó nhấn mạnh quá trình thay vì kết quả. Vào tháng 12, tôi tham dự một khoá học chuyên sâu của nhà làm phim huyền thoại người Iran Mohsen Makhmalbat. Họ đã cho tôi xem một tài liệu gọi là "Daddy's School" về cách mà anh ấy dạy gia đình mình cách làm phim. Một trong những bài học đầu tiên là cách đọc thơ. Không phải kỹ thuật quay, mà là thơ. Tôi học được rằng hành trình làm phim là hành trình học hỏi bất tận. Học bằng trải nghiệm và quan sát cuộc sống hằng ngày, du lịch, đọc, nghe nhạc, thưởng thức nghệ thuật,... Tôi cố làm tất cả điều đó, và tôi cảm thấy hành trình của mình chỉ mới bắt đầu.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-3">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Điều gì mà anh trông đợi ở các thiết bị quay của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-3">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Câu chuyện ở khắp mọi nơi, và máy quay của tôi cần phải có thể đồng hành với tôi ở bất kỳ nơi đâu, dẫu cho nó là một cảnh quay du kích trong lòng chợ bận rộn, một buổii leo  núi, hay một cảnh dựng chuyên nghiệp với đèn, phông và cả đoàn làm phim. </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-4">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Vì sao anh lại chọn A7 series là một phần của hành trình làm phim trong công việc và cá nhân của mình?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-4">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tôi có thể mang nó đi khắp nơi. Tôi quay lại tất cả với nó, từ chuyến đi du lịch của bản thân cho đến phim độc lập ("Kapatiran") tới những chương trình truyền hình ("Single/Single") và cả quảng cáo thương mại trên TV. Nó rất đa năng. Đủ nhỏ gọn để có thể đeo trên cổ bạn, nhưng bên trong, nó có tất cả sức mạnh mà tôi cần. Ngay cả ngoài trời, khi mặt trăng vừa lên, tôi vẫn có thể làm phim. Ngoài ra, chiếc máy này còn có thể quay 4K và tích hợp hàng loạt tính năng như slow-mo và profile màu. Với ngàm chuyển, tôi có thể sử dụng bất kỳ ống kính nào mà mình muốn. Sự lựa chọn ống kính rất quan trọng khi kể chuyện. Tôi từng sử dụng những ống kính mà mẹ mua từ 1980. Kết quả thật tuyệt vời.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-5">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có cảm thấy quay phim đã thay đổi trong những năm gần đây?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-5">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Ngày nay chúng ta rất tự do. Công nghệ mới đã giúp việc làm phim gần hơn với mọi người, và đó là điều tốt. Chúng ta có thể kể lại nhiều câu chuyện hơn, thử nghiệm nhiều hơn, chơi nhiều hơn. Càng đa năng thì càng ít thứ để lo lắng, nó chỉ còn cảm giác tuyệt vời khi quay.</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="Question-6">
                    <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                 <div class="row">
                      <div class="col-xs-1 panel-title-q">Q</div>
                      <div class="col-xs-9 col-xs-offset-1">Anh có lời khuyên nào dành cho các nhà quay phim mới bắt đầu?</div>
                  </div>
                </a>
              </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Question-6">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-1 panel-title-a">A</div>
                            <div class="col-xs-9 col-xs-offset-1">Tiếp tục học hỏi và khám phá. Làm phim là một cuộc hành trình, không phải là điểm đến. Nó là điều tốt khi bạn lựa chọn một chiếc máy không đặt ra giới hạn cho bạn. Một chiếc máy có thể mở ra cho bạn nhiều khả năng hơn. Đối với tôi đó là A7 series. Tôi đang tận hưởng sự tự do; tôi chỉ muốn tiếp tục quay và sáng tạo nhiều hơn với kết quả tuyệt vời</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Interview End -->

        </div>
        <!-- Interview Wrapper Ends -->

        <div class="divider-orange">
            <img src="img/profile/divider-orange-mobile.png" width="548" height="2" alt="divider" class="center-block img-responsive">
        </div>

    </div>
    <!-- Mobile -->

    <!-- ////////////////////////////////////////////// -->
    <!-- INTERVIEW Ends -->
    <!-- ////////////////////////////////////////////// -->



</div>


<!-- END ID CONTENT -->
