<!DOCTYPE html>
<html lang="en">

    <head>
        @@include ( '../template/meta.html', {
            "country": "VN",
            "title": "Video | α Professional Videographers – Sony SEA Videographers Program",
            "metaTitle": "α Professional Videographers – Sony SEA Videographers Program",
            "metaDescription": "α Professional Videographers project features a portfolio of works shot by videographers from Southeast Asia on Sony α cameras. Explore their works and interviews now."
        } )

        @@include ( '../template/meta-fb.html', {
            "fbTitle": "α Professional Videographers – Sony SEA Videographers Program",
            "fbImage": "##### domain #####img/profile/{{country}}/{{videographer.nick}}/video-{{id}}.jpg",
            "fbDescription": "This project features a portfolio of images shot by videographers from Southeast Asia on Sony α cameras. Explore their works and interviews now."
        } )

        <!-- htmlmin:ignore -->

        @@include ('../template/css-index.html')

        @@include ('../template/js-ie8.html')

        <!-- htmlmin:ignore -->

    </head>

    <body id="video">

        <div id="fb-root"></div>

        @@include ('../template/preloader.html')



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->
        @@include ( '../template/header-2.html', {
            "country": "vn"
        } )
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->
        @@include ( '../template/content-video.html', {
            "country": "vn"
        } )
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->
        @@include ( '../template/footer.html', {
            "country": "vn"
        } )
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->



        <!-- htmlmin:ignore -->

        <script>
            var country = 'vn';
            var language = '';
        </script>

        @@include ('../template/js-template.html')

        @@include ('../template/js-video-vendor.html')

        @@include ('../template/js-font.html')

        @@include ('../template/js-video.html')

        @@include ( '../template/omniture.html', {
            "s.pageName"     : "ms:ilc:videographer:vn:fbLike:video",
            "s.prop1"        : "http://www.sony-asia.com",
            "s.prop2"        : "AP",
            "s.prop3"        : "en",
            "s.prop4"        : "hp",
            "s.prop5"        : "i",
            "s.prop41"       : "ilc",
            "s.prop42"       : "ilc:videographer:vn:fbLike:video",
            "s.hier5"        : "microsite|ilc|videographer|vn|fbLike|video"
        } )

        @@include ('../template/gtm.html')

        <!-- htmlmin:ignore -->

    </body>

</html>
