<!DOCTYPE html>
<html lang="en">

    <head>
        @@include ( '../../template/meta.html', {
            "country": "SG",
            "title": "Video | α Professional Videographers – Sony SEA Videographers Program",
            "metaTitle": "α Professional Videographers – Sony SEA Videographers Program",
            "metaDescription": "α Professional Videographers project features a portfolio of works shot by videographers from Southeast Asia on Sony α cameras. Explore their works and interviews now."
        } )

        @@include ( '../../template/meta-fb.html', {
            "fbTitle": "α Professional Videographers – โครงการช่างภาพโดยโซนี่",
            "fbImage": "##### domain #####img/profile/{{country}}/{{videographer.nick}}/video-{{id}}.jpg",
            "fbDescription": "โปรไฟล์ช่างภาพจากการถ่ายภาพโดยใช้กล้อง Sony α ของกลุ่มประเทศเอเชียตะวันออกเฉียงใต้ ค้นหาข้อมูลของพวกเขาและบทสัมภาษณ์"
        } )

        <!-- htmlmin:ignore -->

        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/earlyaccess/notoserifthai.css">

        @@include ('../../template/css-index.html')

        @@include ('../../template/js-ie8.html')

        <!-- htmlmin:ignore -->

    </head>

    <body id="video">

        <div id="fb-root"></div>

        @@include ('../../template/preloader.html')



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->
        @@include ( '../../template/thai/header-2.html', {
            "country": "sg",
            "language": "thai"
        } )
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### HEADER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->
        @@include ( '../../template/thai/content-video.html', {
            "country": "sg",
            "language": "thai"
        } )
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### CONTENT :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->



        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: STARTS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->
        @@include ( '../../template/thai/footer.html', {
            "country": "sg"
        } )
        <!-- ===== ===== ===== ===== ===== -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ##### FOOTER :: ENDS ##### -->
        <!-- ~~~~~ ~~~~~ ~~~~~ ~~~~~ ~~~~- -->
        <!-- ===== ===== ===== ===== ===== -->



        <!-- htmlmin:ignore -->

        <script>
            var country = 'sg';
            var language = 'thai';
        </script>

        @@include ('../../template/js-template.html')

        @@include ('../../template/js-video-vendor.html')

        @@include ('../../template/js-font.html')

        @@include ('../../template/js-video.html')

        @@include ( '../../template/omniture.html', {
            "s.pageName"     : "ms:ilc:videographer:sg:thai:fbLike:video",
            "s.prop1"        : "http://www.sony-asia.com",
            "s.prop2"        : "AP",
            "s.prop3"        : "en",
            "s.prop4"        : "hp",
            "s.prop5"        : "i",
            "s.prop41"       : "ilc",
            "s.prop42"       : "ilc:videographer:sg:thai:fbLike:video",
            "s.hier5"        : "microsite|ilc|videographer|sg|thai|fbLike|video"
        } )

        @@include ('../../template/gtm.html')

        <!-- htmlmin:ignore -->

    </body>

</html>
